<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-reorder"></i>支付方式
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label">定金收据号：</label>
                    <input type="text" name="deposit_sn[]" onblur="checkpaytype222(this)" class="form-control" placeholder="无定金收据,请留空" value="" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label"><span style="color: red">*</span>支付金额：</label>
                    <input type="text" name="order_deposit[]" class="form-control" placeholder="" value=""/>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label"><span style="color: red">*</span>支付时间：</label>
                    <div data-date-viewmode="years" data-date-format="yyyy-dd-mm" class="input-group input-medium date date-picker" data-date-end-date="+0d">
                        <input type="text" readonly="" name="pay_time[]" class="form-control" />
                        <span class="input-group-btn">
                            <button type="button" class="btn default"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                    <span class="help-block">选择日期</span>
                </div>
            </div>
            <%if count($qudaoList)%>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label"><span style="color: red">*</span>协助点款销售渠道：</label>
                    <select class="form-control" tabindex="1" name="department[]">
                        <option value=""></option>
                        <%foreach from=$qudaoList key=key item=p %>
                        <option value="<%$p.id%>"><%$p.channel_name%></option>
                        <%/foreach%>
                    </select>
                </div>
            </div>
            <%/if%>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label"><span style="color: red">*</span>支付类型：</label>
                    <select class="form-control" tabindex="1" name="pay_type[]">
                        <option value=""></option>
                        <%foreach from=$paymentList item=d%>
                        <option value="<%$d.id%>"><%$d.pay_name%></option>
                        <%/foreach%>
                    </select>
                </div>
            </div>
            <div class="is_div" style="display: none">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">卡号：</label><span style="color:red">只能输入一个卡号</span>
                        <input type="text" maxlength="30" name="card_no[]" class="form-control" placeholder="" value="" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">刷卡凭证：</label>
                        <input type="text" name="card_voucher[]" class="form-control" placeholder="" value="" />
                    </div>
                </div>
            </div>
            <div class="is_div_end" style="display: none">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label"><span style="color:red">*</span>转单流水号：</label>
                        <input type="text" maxlength="30" name="zhuandan_no[]" class="form-control" placeholder="" value="" />
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label">操作备注：</label>
                    <textarea class="form-control" rows="3" name="action_note[]"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
