<div class="table-toolbar">
	<%$bar%>
</div>
<div class="portlet box blue">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>财务应付详情
		</div>
		<div class="tools">
			<a href="javascript:;" class="collapse">
			</a>
		</div>
	</div>
	<div class="portlet-body">
		<!-- 表格1 -->
		<div class="flip-scroll">
			<table class="table table-bordered table-striped table-hover flip-content">
				<tr>
					<td><b>单号</b></td>
					<td><%$info['pay_should_all_name']|default:''%></td>
					<td><b>状态</b></td>
					<td><%$dd->getEnum('app_pay_should.status',$info['status'])%></td>
				</tr>
				<tr>
					<td><b>数量：</b></td>
					<td><%$num|default:''%></td>
					<td><b>应付金额：</b></td>
					<td><%$info['total_cope']|default:''%></td>
				</tr>
				<tr>
					<td><b>供应商</b></td>
					<td><%$info['prc_name']|default:''%></td>
					<td><b>应付类型</b></td>
					<td><%$dd->getEnum('app_pay_should.pay_type', $info['pay_type'])%></td>
				</tr>
				<tr>
					<td><b>制单人</b></td>
					<td><%$info['make_name']|default:''%></td>
					<td><b>制单时间</b></td>
					<td><%$info['make_time']|default:''%></td>
				</tr>
				<tr>
					<td><b>审核人</b></td>
					<td><%$info['check_name']|default:''%></td>
					<td><b>审核时间</b></td>
					<td><%$info['check_time']|default:''%></td>
				</tr>
			</table>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="portlet box blue">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>财务应付明细
		</div>
		<div class="tools">
			<a href="javascript:;" class="collapse">
			</a>
		</div>
	</div>
	<div class="portlet-body">
		<!-- 表格1 -->
		<div class="flip-scroll" id="pay_should_show_list_<%$info['pay_number_id']%>">
			
		</div>
		<div class="clear"></div>
	</div>
</div>
<script type="text/javascript">
<!--
	<%include file="js/pay_should_info.js"%>
//-->
</script>