<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>打印单据</title>
<style type="text/css">
*{margin:0;padding:0;}
body{font:12px/25px "宋体";}
.tRight{text-align:right;}
.wrap{width:700px;margin:50px auto;}
h1{font-size:14px;text-align:center;margin-bottom:10px;}
table.list-ch{border-collapse:collapse;border:none;width:100%;margin-top:10px;}
table.list-ch td{border:1px #333 solid;padding:0 2px;}
table.list-ch thead td{height:28px; line-height:28px; text-align:center; font-weight:bold;}
</style>

<style media="print">
.Noprint{display:none;}
</style>
</head>
<body>
<!--startprint-->
<div class="wrap">
	<h1><%$bill_info.bill_type%>-明细</h1>
	<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tr>
			<td width="65">现在时间：</td>
			<td width="110"><%$bill_info.print_time%></td>
			<td width="45">制单人：</td>
			<td width="110"><%$bill_info.create_user%></td>
			<td width="45">状态：</td>
			<td width="130"><%$dd->getEnum("noaccount.bill_status",$bill_info.bill_status)%></td>			
		</tr>
		<tr>
			<td>单号：</td>
			<td colspan="3">
			  <img src="http://bardcode.kela.cn/index.php?code_sn=<%$bill_info.id%>" width="280" height="60">
			</td>			
			<td>制单时间：</td>
			<td><%$bill_info.create_time%></td>			
		</tr>
		<tr>
			<td>出库公司：</td>
			<td><%$bill_info.out_company_name%></td>
			<td>入库仓：</td>
			<td><%$bill_info.from_warehouse_name%></td>			
		</tr>
		<tr>
			<td>审核人：</td>
			<td><%$bill_info.check_user%></td>
			<td>审核时间：</td>
			<td><%$bill_info.check_time%></td>
			<td>数量统计</td>
			<td>1</td>
		</tr>
    </table>
	<table cellpadding="0" cellspacing="0" border="0" class="list-ch">
		<thead>
			<tr>
				<td>无帐货号</td>
				<td>货品名称</td>
				<td>材质</td>
				<td>材质颜色</td>
				<td>主石重</td>
				<td>主石粒数</td>
			</tr>
		</thead>
		<tbody>
		<%foreach key=key item=item from=$bill_goods_list%>
			<tr>
				<td><%$item.no_account_gid%></td>
				<td><%$item.caizhi%><%$item.style_type%></td>
				<td><%$item.caizhi%></td>
				<td><%$item.ingredient_color%></td>				
				<td><%$item.main_stone_weight%></td>
				<td><%$item.main_stone_num%></td>
			</tr>
		<%/foreach%>
		</tbody>		
	</table>
	<!--endprint-->
	<br/><br/>
	<div style="text-align:center;" class="Noprint">
		<button id="print_close" onclick="close_bill();">关闭</button>
		<button id="print_btn" onclick="print_bill();">打&nbsp;印</button>
	</div>
</div>



</body>
<script type="text/javascript">

function close_bill(){
        window.close();
}

function print_bill(){    	
	window.print();
}
</script>
</html>
