<div class="portlet-body">
	<!-- 表格1 -->
	<div class="flip-scroll">
		<table class="table table-bordered table-striped  flip-content">
			<tr>
				<td>序号</td>
				<td><%$view->get_id()%></td>
			</tr>
			<tr>
				<td>销售策略id</td>
				<td><%$view->get_policy_id()%></td>
			</tr>
			<tr>
				<td>货号或款号</td>
				<td><%$view->get_goods_id()%></td>
			</tr>
			<tr>
				<td>现货状态</td>
				<td><%if $view->get_isXianhuo()=='1'%>现货<%else%>期货<%/if%></td>
			</tr>
			<tr>
				<td>创建时间</td>
				<td><%$view->get_create_time()%></td>
			</tr>
			<tr>
				<td>创建人</td>
				<td><%$view->get_create_user()%></td>
			</tr>
			<tr>
				<td>审核时间</td>
				<td><%$view->get_check_time()%></td>
			</tr>
			<tr>
				<td>审核人</td>
				<td><%$view->get_check_user()%></td>
			</tr>
			<tr>
				<td>状态</td>
				<td><%if $view->get_status()=='1'%>保存<%/if%><%if $view->get_status()=='2'%>申请<%/if%><%if $view->get_status()=='3'%>审核通过<%/if%><%if $view->get_status()=='4'%>未通过<%/if%><%if $view->get_status()=='5'%>取消<%/if%></td>
			</tr>
			<tr>
				<td>删除</td>
				<td><%if $view->get_is_delete()=='1'%>未删除<%/if%><%if $view->get_is_delete()=='2'%>已删除<%/if%></td>
			</tr>
		</table>
	</div>
	<div class="clear"></div>
</div>
<script type="text/javascript">
<!--
//-->
</script>