<div class="portlet-body form">
    <!-- 表单内容 -->
    <form action="#" method="post" class="horizontal-form" id="app_processor_fee_info">
        <div class="form-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">款式类别：</label>
                        <div class="radio-list">	
                            <select class="select2_category form-control" tabindex="1" name="fee_type">
                                <option value="">全部</option>
                                <option value="1" <%if $view->get_fee_type()=='1'%>selected="selected"<%/if%>>材质费</option>
                                <option value="2" <%if $view->get_fee_type()=='2'%>selected="selected"<%/if%>>超石头费</option>
                                <option value="3" <%if $view->get_fee_type()=='3'%>selected="selected"<%/if%>>表面工艺</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">费用：</label>
                        <input type="text" name="price" class="form-control" placeholder="请输入"  value="<%$view->get_price()%>" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">状态：</label>
                        <div class="radio-list">
                            <label class="radio-inline">
                                <input type="radio" name="status" checked="checked" <%if $view->get_status()=='1' %>checked="checked"<%/if%> value="1" />启用
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="status" <%if $view->get_status()=='2' %>checked="checked"<%/if%> value="2" />停用
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 搜索按钮 -->
        <div class="form-actions fluid">
            <div class="col-md-offset-3 col-md-9">
                <input type="hidden" name="id" value="<%$view->get_id()%>" />
                <input type="hidden" name="processor_id" value="<%$processor_id%>">
                <button type="reset" class="btn default">重置</button>
                <button type="submit" class="btn green"><i class="fa fa-check"></i> 保存</button>
            </div>
        </div>
    </form>
    <!-- END FORM-->
</div>
<script type="text/javascript">
<!--
    <%include file = "js/app_processor_fee_info.js" %>
//-->
</script>