<!-- <div class="table-scrollable"> -->
 <div class="flip-scroll">
	<table class="table table-bordered table-striped table-hover flip-content">
		<thead class="flip-content">
			<tr>
				<th><input type="checkbox" class="group-checkable" data-set="#jxs_profit_bill_search_list .checkboxes" /></th>
				<th>序号</th>
                <th>经销商</th>
                <th>操作人</th>
                <th>结算时间</th>
                <th>结算金额</th>
                <th>结算状态</th>
			</tr>
		</thead>
		<tbody>
		<%foreach from=$page_list.data item=d%>
			<tr data-id="jxs_profit_bill_list_<%$d.id%>" data-title="结算单详情#<%$d.id%>">
				<td><input class="checkboxes" type="checkbox" name="_ids[]" value="<%$d.id%>" <%if $d.status ==2 %>disabled="true"<%/if%> /></td>
				<td><%$d.id%></td>
                <td><%if isset($jxs[$d.jxs_id])%><%$jxs[$d.jxs_id]['shop_name']%><%/if%></td>
                <td><%$d.created_by%></td>
                <td><%$d.created_date%></td>
                <td><%$d.calc_profit%></td>
                <td><%if $d.status == 1%>已结算<%elseif $d.status == 2%>已取消<%/if%></td>
			</tr>
		<%/foreach%>
		</tbody>
	</table>
</div>
<%$pa%>
<script type="text/javascript">
<!--
util.hover();
//util.check(util.getItem('listDIV'));
// 美化复选框
var test = $("#jxs_profit_bill_search_list input[type='checkbox']:not(.toggle, .make-switch)");
if (test.size() > 0) {
  test.each(function () {
    if ($(this).parents(".checker").size() == 0) {
      $(this).show();
      $(this).uniform();
    }
  });
}
// table 复选框全选
$('#jxs_profit_bill_search_list .group-checkable').change(function () {
 	  var set = $(this).attr("data-set");
      var checked = $(this).is(":checked");
      $(set).each(function () {
    	  if ($(this).attr('disabled') == 'disabled') return true;
          if (checked) {
              $(this).attr("checked", true);
              $(this).parents('tr').addClass("active");
          } else {
              $(this).attr("checked", false);
              $(this).parents('tr').removeClass("active");
          }
      });
      $.uniform.update(set);
  });
  $('#jxs_profit_bill_search_list').on('change', 'tbody tr .checkboxes', function(){
  $(this).parents('tr').toggleClass("active");
});
//-->
</script>