<!--搜索开始-->
<div class="portlet box green">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>搜索框
		</div>
		<div class="tools">
			<a href="javascript:;" class="collapse">
			</a>
		</div>
	</div>
	<div class="portlet-body form">
		<!-- 表单内容 -->
		<form action="#" class="horizontal-form" method="post" id="app_bail_sell_detail_search_form">
			<div class="form-body">
				<div class="row">
					<div class="col-sm-3">
						<div class="form-group">
							<label class="control-label">所属公司：</label>
							<select class="select2_category form-control" name="company" id="company" tabindex="1">
								<option value=""></option>
								<option value="58">总公司</option>
							</select>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="form-group">
							<label class="control-label">供应商/结算商：</label>
							<select class="form-control" tabindex="1" name="prc_id" id="prc_id">
								<option value=""></option>
								<%foreach from=$process_list key=key item=value%>
								<option value="<%$value.id%>"><%$value.name%></option>
								<%/foreach%>
							</select>
						</div>
					</div>
					<!--<div class="col-sm-3">
						<div class="form-group">
							<label class="control-label">货品状态：</label>
							<select class="select2_category form-control" name="goods_status" id="goods_status" tabindex="1">
								<option value=""></option>
								<%foreach from=$dd->getEnumArray('warehouse.goods_status') key=key item=value%>
                                <option value="<%$value.name%>"><%$value.label%></option>
                                <%/foreach%>
							</select>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="form-group">
							<label class="control-label">应付申请状态：</label>
							<select class="select2_category form-control" name="pay_apply_status" id="pay_apply_status" tabindex="1">
								<option value=""></option>
								<%foreach from=$dd->getEnumArray('app_pay.detail_apply_status') key=key item=value%>
                                <option value="<%$value.name%>"><%$value.label%></option>
                                <%/foreach%>
							</select>
						</div>
					</div>-->
					<div class="col-sm-3">
						<div class="form-group">
							<label class="control-label">入库方式：</label>
							<select class="select2_category form-control" name="storage_mode" id="storage_mode" tabindex="1">
								<option value=""></option>
                                <option value="3">代销</option>
                                <option value="4">借入</option>
							</select>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="form-group">
							<label class="control-label">应付申请单号：</label>
							<input type="text" name="pay_apply_number" id="pay_apply_number" class="form-control" placeholder="请输入">
						</div>
					</div>
					<div class="col-sm-3">
						<div class="form-group">
							<label class="control-label">流水单号：</label>
							<input type="text" name="serial_number" id="serial_number" class="form-control" placeholder="请输入">
						</div>
					</div>
                                    <div class="col-sm-3" id="bacheitem">
						<div class="form-group">
							<label class="control-label">证书号：</label>
							<input type="text" name="zhengshuhao" id="zhengshuhao" class="form-control" placeholder="双击可批量输入证书号" ondblclick="bach_search_num(this)">
						</div>
					</div>
					<div class="col-sm-3">
						<div class="form-group">
							<label class="control-label">货号：</label>
							<input type="text" name="item_id" id="item_id" class="form-control" placeholder="可批量输入 空格隔开">
						</div>
					</div>
					
					<div class="col-sm-3">
						<div class="form-group">
							<label class="control-label">入库制单时间：</label>
							<div class="input-group date-picker input-daterange" data-date="2012/10/11" data-date-format="yyyy/mm/dd">
								<input type="text" class="form-control" name="make_time_start" id="make_time_start">
								<span class="input-group-addon">to</span>
								<input type="text" class="form-control" name="make_time_end" id="make_time_end">
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="form-group">
							<label class="control-label">入库审核时间：</label>
							<div class="input-group date-picker input-daterange" data-date="2012/10/11" data-date-format="yyyy/mm/dd">
								<input type="text" class="form-control" name="check_time_start" id="check_time_start">
								<span class="input-group-addon">to</span>
								<input type="text" class="form-control" name="check_time_end" id="check_time_end">
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="form-group">
							<label class="control-label">款式分类：</label>
							<select class="form-control" tabindex="1" name="item_type" id="item_type">
								<option value=""></option>
								<%foreach from=$payApplyList key=key item=value%>
								<option value="<%$value.cat_type_name%>"><%$value.cat_type_name%></option>
								<%/foreach%>
							</select>
						</div>
					</div>
				</div>
			</div>
			<!-- 搜索按钮 -->
			<div class="form-actions fluid">
				<div id="deal_detail_search_btn" class="col-md-offset-3 col-md-9">
					<input type="hidden" name="print" id="print" value="0"/>
					<button type="submit" class="btn green"><i class="fa fa-check"></i> 搜索</button>
					<span id="bail_sell_export_btn" class="btn blue"><i class="fa fa-folder-open"></i> 导出</span>
					<button type="reset" class="btn default"><i class="fa fa-undo"></i> 重置</button>
				</div>
			</div>
		</form>
		<!-- END FORM-->
	</div>
</div>

<div class="portlet box blue">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i><span id="deal_detail_title">应付明细列表</span>
		</div>
		<div class="tools">
			<a href="javascript:;" class="collapse">
			</a>
		</div>
	</div>
	
	<div class="portlet-body">
	<!-- 工具栏 -->
		<!-- 表格1 -->
		<div class="flip-scroll" id="app_bail_sell_detail_search_list">
		</div>
		<div class="clear"></div>
	</div>
</div>
<script type="text/javascript">
<!--
	<%include file="js/app_bail_sell_list.js"%>
//-->
</script>