<table class="table table-bordered table-striped table-hover flip-content">
	<thead class="flip-content">
		<tr>
      <th style="text-align: center;"><input type="checkbox" class="group-checkable" data-set="#base_coupon_search_list .checkboxes" /></th>
			<th>序号</th>
			<th>优惠券码</th>
			<th>优惠券金额</th>
			<th>优惠券类型</th>
			<th>优惠券政策</th>
			<th>状态</th>
            <th>兑换人</th>
            <th>兑换时间</th>
			<th>绑定订单号</th>
			<th>创建时间</th>
		</tr>
	</thead>
	<tbody>
	<%foreach from=$page_list.data item=d%>
		<tr data-id="base_coupon_list_<%$d.id%>" data-title="<%$d.id%>">
            <td align="center"><input class="checkboxes" type="checkbox" name="_ids[]" value="<%$d.id%>" /></td>
			<td align="center"><%$d.id%></td>
			<td align="center"><%$d.coupon_code%></td>
			<td align="center"><%$d.coupon_price%></td>
			<td align="center"><%$d.coupon_type%></td>
			<td align="center"><%$d.coupon_policy%></td>
			<td align="center"><%if $d.coupon_status==1%>有效<%elseif $d.coupon_status==2%>已使用<%elseif $d.coupon_status==3%>作废<%else%>过期<%/if%></td>
            <td align="center"><%$d.exchange_user%></td>
            <td align="center"><%$d.use_time%></td>
			<td align="center"><%$d.order_sn|default:''%></td>
			<td align="center"><%$d.create_time%></td>
		</tr>
	<%/foreach%>
	</tbody>
</table>
<%$pa%>
<script type="text/javascript">
<!--
	util.hover();
  util.check(util.getItem("listDIV"));
//复选框组美化
var test = $("#base_coupon_search_list input[type='checkbox']:not(.toggle, .make-switch)");
if (test.size() > 0) {
 	test.each(function () {
   	if ($(this).parents(".checker").size() == 0) {
     	$(this).show();
     	$(this).uniform();
    }
  });
}
// table 复选框全选
$('#base_coupon_search_list .group-checkable').change(function () {
  var set = $(this).attr("data-set");
	var checked = $(this).is(":checked");
	$(set).each(function () {
		if (checked) {
			$(this).attr("checked", true);
			$(this).parents('tr').addClass("active");
		} else {
			$(this).attr("checked", false);
			$(this).parents('tr').removeClass("active");
		}
	});
	$.uniform.update(set);
});
$('#base_coupon_search_list').on('change', 'tbody tr .checkboxes', function(){
 	$(this).parents('tr').toggleClass("active");
});
//-->
</script>