<!--搜索开始-->
<div class="portlet box green">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>搜索框
		</div>
		<div class="tools">
			<a href="javascript:;" class="collapse">
			</a>
		</div>
	</div>
	<div class="portlet-body form">
		<!-- 表单内容 -->
		<form action="#" class="horizontal-form" method="post" id="shop_cfg_search_form">
			<div class="form-body">
				<div class="row">
					<div class="col-sm-3">
						<div class="form-group">
							<label class="control-label">体验店名称：</label>
							<input type="text" name="shop_name" class="form-control" placeholder="请输入" maxlength="128" />
						</div>
					</div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="control-label">体验店类别：</label>
                            <select class="select2_category form-control" tabindex="1" name="shop_type">
                                <option value=""></option>
                                <%foreach from=$dd->getEnumArray("shop.type") key=k item=value%>
                                <option value="<%$value.name%>"><%$value.label%></option>
                                <%/foreach%>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="control-label">联系电话：</label>
                           <input type="text" name="shop_tel" class="form-control" placeholder="请输入" maxlength="128" />
                        </div>
                    </div>  
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">体验店地址：</label>
                           <input type="text" name="shop_address" class="form-control" placeholder="请输入" maxlength="128" />
                        </div>
                    </div>                                       
				</div>
			</div>
			<!-- 搜索按钮 -->
			<div class="form-actions fluid">
				<div class="col-md-offset-3 col-md-9">
					<button type="reset" class="btn default">重置</button>
					<button type="submit" class="btn green"><i class="fa fa-check"></i> 搜索</button>
					<button type="button" class="btn blue" onclick="download()"><i class="fa fa-check"></i> 导出</button>
				</div>
			</div>
		</form>
		<!-- END FORM-->
	</div>
</div>

<div class="portlet box blue">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>结果列表
		</div>
		<div class="tools">
			<a href="javascript:;" class="collapse">
			</a>
		</div>
	</div>

		<div class="portlet-body">
			<div class="table-toolbar">
				<%$bar%>
			</div>

		<!-- 表格1 -->
		<div class="flip-scroll" id="shop_cfg_search_list">
		</div>
		<div class="clear"></div>
	</div>
</div>
<script type="text/javascript">
<!--
	<%include file="js/shop_cfg_list.js"%>
//-->
</script>