<table class="table table-bordered table-striped table-hover flip-content">
	<thead class="flip-content">
		<tr>
			<th>序号</th>
			<th>属性标识</th>
			<th>属性编码</th>
			<th>是否启用</th>
		</tr>
	</thead>
	<tbody>
	<%foreach from=$page_list.data item=d%>
		<tr data-id="field_scope_recycle_list_<%$d.id%>" data-title="<%$d.label%>">
			<td><%$d.id%></td>
			<td><%$d.label%></td>
			<td><%$d.code%></td>
			<td><span class="glyphicon <%if $d.is_enabled%>glyphicon-ok<%else%>glyphicon-remove<%/if%>"></span></td>
		</tr>
	<%/foreach%>
	</tbody>
</table>
<%$pa%>
<script type="text/javascript">
<!--
	util.hover();
//-->
</script>