<div class="portlet-body form">
	<!-- 表单内容 -->
	<form action="#" method="post" class="horizontal-form" id="jxs_area_scope_info">
		<div class="form-body">
			<div class="row">
				<div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">体验店名称：</label>
                        <div class="radio-list">                    
                            <select class="select2_category form-control" tabindex="1" name="jxs_id">
                                <option value=""></option>
                                <%foreach from=$jxs_list key=key item=value%>
                                    <option value="<%$value.id%>" <%if $value.id==$view->get_jxs_id()%>selected<%/if%>><%$value.shop_name%></option>
                                <%/foreach%>
                            </select>
                        </div>
                    </div>
                </div>
                <!--<div class="col-sm-3">
                    <div class="form-group zformj">
                        <label class="control-label">国家：</label>
                        <select class="select2_category form-control" tabindex="1" name="mem_country_id">
                            <option value=""></option>
                            <%foreach from=$view->getCountryOption() item=value%>
                            <option value="<%$value.region_id%>" ><%$value.region_name%></option>
                            <%/foreach%>
                        </select>
                    </div>
                </div>-->
                <div class="col-sm-3">
                    <div class="form-group zformj">
                        <label class="control-label">省份：</label>
                        <select class="form-control" tabindex="1" name="mem_province_id">
                            <option value=""></option>
                            <%foreach from=$view->getProvinceOption() item=value%>
                            <option value="<%$value.region_id%>" <%if $value.region_id==$view->get_province_id()%>selected<%/if%>><%$value.region_name%></option>
                            <%/foreach%>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group zformj">
                        <label class="control-label">城市：</label>
                        <select class="select2_category form-control" tabindex="1" name="mem_city_id">
                            <option value="0">全部</option>
                            <%if $app_scope%>
                            <%foreach from=$view->getCityOption() item=value%>
                            <option value="<%$value.region_id%>" <%if $value.region_id==$view->get_city_id()%>selected<%/if%>><%$value.region_name%></option>
                            <%/foreach%>
                            <%/if%>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group zformj">
                        <label class="control-label">区域：</label>
                        <select class="select2_category form-control" tabindex="1" name="mem_district_id">
                            <option value="0">全部</option>
                            <%if $app_scope%>
                            <%foreach from=$view->getDistrictOption() item=value%>
                            <option value="<%$value.region_id%>" <%if $value.region_id==$view->get_region_id()%>selected<%/if%>><%$value.region_name%></option>
                            <%/foreach%>
                            <%/if%>
                        </select>
                    </div>
                </div>
			</div>
		</div>
		<!-- 搜索按钮 -->
		<div class="form-actions fluid">
			<div class="col-md-offset-3 col-md-9">
				<input type="hidden" name="id" value="<%$view->get_id()%>" />
				
				<input type="hidden" name="_cls" value="<%$smarty.post._cls|default:0%>" />
				<input type="hidden" name="tab_id" value="<%$tab_id|default:0%>" />

				<button type="reset" class="btn default">重置</button>
				<button type="submit" class="btn green"><i class="fa fa-check"></i> 保存</button>
			</div>
		</div>
	</form>
	<!-- END FORM-->
</div>
<script type="text/javascript">
<!--
	<%include file="js/jxs_area_scope_info.js"%>
//-->
</script>