<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 <style type="text/css">
body,td { font-size:13px; line-height:20px;}
.return_goods * {text-decoration:line-through;}
</style>
<style type="text/css" media="print">
.Noprint { DISPLAY: none;}
/* 打印，再次元素之后进行分页 */
.PageNext{page-break-after: always;}
</style>
<script type="text/javascript" src="public/js/jquery-1.10.2.min.js"></script>

<script type="text/javascript">
function printBills(bill_id){
     window.print();
	//打印后，改变单据的打印状态
	$.post('index.php?mod=shipping&con=TsydJxsDelivery&act=printBillLogs', 'bill_id='+bill_id , function(res){
		if(res.success == 1){			
		}else{
			alert(res.error);
		}

	},'json')
}
</script>

</head>
<body>

<div class="Noprint">
	<input type="button" value="打印提货单" onclick="printBills('<%$smarty.get._ids%>')" style="width:120px; height:30px; font-size:20px; font-weight:bold" />
</div>
<%$html%>
<script>$(".PageNext:last").removeClass("PageNext");</script>
</body>
</html>