<div class="portlet-body form">
	<!-- 表单内容 -->
	<form action="#" method="post" class="horizontal-form"  id="app_yikoujia_goods_info">
		<div class="form-body">
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label class="control-label">货号：</label>
						<input type="text" name="goods_id" class="form-control" placeholder="请输入" value="<%$data['goods_id']|default:''%>">
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label class="control-label">款号：</label>
						<input type="text" name="goods_sn" class="form-control" placeholder="请输入" value="<%$data['goods_sn']|default:''%>">
					</div>
				</div>
				<div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">材质：</label>
                        <select class="form-control" name="caizhi">
                           <option></option>
						   <%foreach from=$caizhi_arr item=val key=key%>
                           <option value="<%$key%>" <%if isset($data['caizhi']) && $key==$data['caizhi']%>selected<%/if%>><%$val%></option>
                           <%/foreach%>
                       </select> 
                    </div>
                </div>
				         
                <!--
				<div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label">金托类型：</label><span style='color:red;'></span>
                        <select class="select2_category form-control" name="tuo_type" tabindex="1" >
                            <option value="0">全部</option>
                            <%foreach from=$dd->getEnumArray('warehouse_goods.tuo_type') item=j%>
                            <option value="<%$j.name%>"
                            <%if $j.name==$data.tuo_type%>selected="selected"<%/if%>><%$j.label%>
                            </option>
                            <%/foreach%>
                        </select>
                    </div>
                </div>
				-->
			</div>
			<div class="row">
			    <div class="col-sm-4">
					  <div class="form-group">
                        <label class="control-label">金托类型：</label><span style='color:red;'></span>
                        <select class="select2_category form-control" name="tuo_type" tabindex="1" >
                            <option value="0">全部</option>
                            <%foreach from=$dd->getEnumArray('warehouse_goods.tuo_type') item=j%>
                            <option value="<%$j.name%>"
                            <%if $j.name==$data.tuo_type%>selected="selected"<%/if%>><%$j.label%>
                            </option>
                            <%/foreach%>
                        </select>
                    </div>
				</div>   
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">证书类型：</label>
                        <select class="select2_category form-control" name="cert" tabindex="1" >
                            <option value="全部">全部</option>
                            <%foreach from=$cert item=z%>
                            <option value="<%$z%>" <%if $z==$data['cert']%>selected="selected"<%/if%>><%$z%></option>
                            <%/foreach%>
                        </select>
                    </div>
                </div>
                
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">颜色：</label>
                        <select class="form-control" tabindex="1" name="color">
                            <option value="全部">全部</option>
                            <%foreach from=$view->getColorList() key=key item=val%>
                            <option value="<%$val%>" <%if isset($data['color']) && $key==$data['color']%>selected<%/if%>><%$val%></option>
                            <%/foreach%>
                        </select>
                    </div>
                </div>              

				</div>
                <div class="row">
                 <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">净度：</label>
                        <select class="form-control" tabindex="1" name="clarity">
                            <option value="全部">全部</option>
                            <%foreach from=$view->getClarityList() key=key item=val%>
                            <option value="<%$val%>" <%if isset($data['clarity']) && $key==$data['clarity']%>selected<%/if%>><%$val%></option>
                            <%/foreach%>
                        </select>
                    </div>
                </div>   

                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">镶口范围：</label>
                        <div class="input-group date-picker input-daterange">
                        <input type="text" name="small" class="form-control" placeholder="请输入" value="<%$data['small']|default:''%>">
                        <span class="input-group-addon">to</span>
                        <input type="text" name="sbig" class="form-control" placeholder="请输入" value="<%$data['sbig']|default:''%>">
                        </div>
                    </div>
                </div>

				<div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">期货/现货：</label>
                        <select class="form-control" name="isXianhuo">
                           <option></option>
						   <option value='1' <%if $data['isXianhuo']==1 %> selected<%/if%>>现货</option>
						   <option value='0' <%if $data['isXianhuo']==0 %> selected<%/if%>>期货</option>
                       </select> 
                    </div>
                </div>               
                
			</div>
			<div class="row">
				<div class="col-sm-3">
						<div class="form-group">
							<label class="control-label">销售价：</label>
							<input type="text" name="price"  class="form-control" placeholder="请输入" value="<%$data['price']|default:''%>">
						</div>
                </div>
			</div>
		</div>
		<!-- 搜索按钮 -->
		<div class="form-actions fluid">
			<div class="col-md-offset-3 col-md-9">
				<input type="hidden" name="policy_id" value="<%$policy_id%>"/>
				<input type="hidden" name="id" value="<%$data['id']|default:''%>" />				
				<input type="hidden" name="_cls" value="<%$smarty.post._cls|default:0%>" />
				<button type="reset" class="btn default">重置</button>
				<button type="submit" class="btn green"><i class="fa fa-check"></i> 保存</button>
			</div>
		</div>
	</form>
	<!-- END FORM-->
</div>
<script type="text/javascript">
<!--
	<%include file="js/app_yikoujia_goods_info.js"%>
//-->
</script>