<div class="portlet-body form">
	<!-- 表单内容 -->
	<form action="#" method="post" class="horizontal-form" id="app_diamond_color_info">
		<div class="form-body">
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">商品编码：<span class="required">*</span></label>
						<input type="text" id="goods_sn" name="goods_id" class="form-control" tabindex="1" placeholder="请输入" value="<%$view->get_good_id()%>" <%if isset($act)%>readonly<%/if%>/>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">颜色：<span class="required">*</span></label>
						<select class="form-control"  tabindex="2" name="color">
							<option value=""></option>
							<%foreach from=$view->getColorList() item=val%>
							<option value="<%$val%>" <%if $view->get_color()== $val && $val%>selected="selected"<%/if%>><%$val%></option>
							<%/foreach%>
						</select>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">形状：<span class="required">*</span></label>
						<select class="form-control" tabindex="1" name="shape">
							<option value=""></option>
							<%foreach from=$view->getShapeList() key=key item=val%>
							<option value="<%$val%>" <%if $view->get_shape()== $val && $val%>selected="selected"<%/if%>><%$val%></option>
							<%/foreach%>
						</select>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">净度：<span class="required">*</span></label>
						<select class="form-control" tabindex="3" name="clarity">
							<option value=""></option>
							<%foreach from=$view->getClarityList() item=val%>
							<option value="<%$val%>" <%if $view->get_clarity()== $val && $val%>selected="selected"<%/if%>><%$val%></option>
							<%/foreach%>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">石重：<span class="required">*</span></label>
                        <input type="text" value="<%$view->get_carat()%>" placeholder="请输入" class="form-control" name="carat">
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">证书类型：<span class="required">*</span></label>
						<select class="form-control" tabindex="3" name="cert">
							<option value=""></option>
							<%foreach from=$view->getCertList() item=val%>
							<option value="<%$val%>" <%if $view->get_cert()== $val && $val%>selected="selected"<%/if%>><%$val%></option>
							<%/foreach%>
						</select>
					</div>
				</div>
				<div class="col-sm-3">
          <div class="form-group">
            <label class="control-label">证书号：<span class="required">*</span></label>
            <input type="text" value="<%$view->get_cert_id()%>" placeholder="请输入" class="form-control" name="cert_id">
          </div>
        </div>
        <div class="col-sm-3">
						<div class="form-group">
							<label class="control-label">供应商：</label>
							<select class="form-control" tabindex="3" name="from_ad">
								<option value=""></option>
								<%foreach from=$view->getFrom_ad() key=keys item=val%>
								<option value="<%$keys%>" <%if $view->get_from_ad()== $keys && $val%>selected="selected"<%/if%>>
								<%$val%>
								</option>
								<%/foreach%>
							</select>
						</div>
					</div>
			</div>
		<div class="row">
						<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">颜色分级：<span class="required">*</span></label>
						<select class="form-control"  tabindex="2" name="color_grade">
							<option value=""></option>
							<%foreach from=$view->getColor_gradeList() item=val%>
							<option value="<%$val%>" <%if $view->get_color_grade()== $val && $val%>selected="selected"<%/if%>><%$val%></option>
							<%/foreach%>
						</select>
					</div>
				</div>
				 <div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">成本价：<span class="required">*</span></label>
						<input type="text" name="cost_price" class="form-control" tabindex="1" placeholder="请输入" value="<%$view->get_price()%>" />
					</div>
				</div>	
				 <div class="col-sm-3">
					<div class="">
						<label class="control-label">测量值：</label><br/>
						<!--  <input type="text" name="measurements" class="form-control" tabindex="1" placeholder="长" value="<%$view->get_measurements()%>" />   -->
					<input style='width:30px;' type='text' name='measurements[]' value='<%$long%>' placeholder="高">&nbsp*&nbsp
					<input style='width:30px;' type='text' name='measurements[]' value='<%$width%>' placeholder="宽">&nbsp*&nbsp
					<input style='width:30px;' type='text' name='measurements[]' value='<%$height%>' placeholder="深">
					
					</div>
				</div>
				<div class="col-sm-3">
					<div class="">
						<label class="control-label">状态</label><br/>
						<input type='radio' name='status' value='1'  <%if $view->get_status()==1 %> checked="checked" <%/if%> />上架&nbsp&nbsp&nbsp
						<input type='radio' name='status' value='2' <%if $view->get_status()==2 %> checked="checked" <%/if%> />下架
					</div>
				</div>	
		</div>
			<div class="row">
			<div class="col-sm-3">
					<div class="">
						<label class="control-label">对称性：</label>
						<select class="form-control"  tabindex="2" name="symmetry">
							<option value=""></option>
							<%foreach from=$view->getSymmetryList() item=val%>
							<option value="<%$val%>" <%if $view->get_symmetry()== $val && $val%>selected="selected"<%/if%>><%$val%></option>
							<%/foreach%>
						</select>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="">
						<label class="control-label">抛光：</label>
						<select class="form-control"  tabindex="2" name="polish">
							<option value=""></option>
							<%foreach from=$view->getPolishList() item=val%>
							<option value="<%$val%>" <%if $view->get_polish()== $val && $val%>selected="selected"<%/if%>><%$val%></option>
							<%/foreach%>
						</select>
					</div>
				</div>
					
				 <div class="col-sm-3">
					<div class="">
						<label class="control-label">荧光：</label>
						<select class="form-control"  tabindex="2" name="fluorescence">
							<option value=""></option>
							<%foreach from=$view->getFluorescenceList() item=val%>
							<option value="<%$val%>" <%if $view->get_fluorescence()== $val && $val%>selected="selected"<%/if%>><%$val%></option>
							<%/foreach%>
						</select>
					</div>
				</div>
				 <div class="col-sm-3">
					<div class="">
						<label class="control-label">数量：</label>
						<input type="text" name="quantity" class="form-control" tabindex="1" placeholder="请输入" value="<%$view->get_quantity()%>" />
					</div>
				</div>	
		</div>
		</div>
		<!-- 搜索按钮 -->
		<div class="form-actions fluid">
			<div class="col-md-offset-3 col-md-9">
				 <input type="hidden" name="id" value="<%$view->get_goods_id()%>" />
				<input type="hidden" name="old_goods_sn" value="<%$view->get_goods_sn()%>" />
                <input type="hidden" name="old_cert_id" value="<%$view->get_cert_id()%>" />
				<input type="hidden" name="_cls" value="<%$smarty.post._cls|default:0%>" />
				<input type="hidden" name="tab_id" value="<%$tab_id|default:0%>" />

				<button type="reset" class="btn default">重置</button>
				<button type="submit" class="btn green"><i class="fa fa-check"></i> 保存</button>
				
			</div>
		</div>
	</form>
	<!-- END FORM-->
</div>
<script type="text/javascript">
<!--
	<%include file="js/app_diamond_color_info.js"%>
//-->
</script>