<div class="table-scrollable">
    <table class="table table-bordered table-striped table-hover flip-content">
        <thead class="flip-content">
            <tr>
                <th><input type="checkbox" class="group-checkable" data-set="#goodsprice_by_style_search_list .checkboxes" /></th>
                <th>款式编号</th>
                <th>款式45°图片</th>                
                <th>款式名称</th>
                <th>款式售价</th>
				<th>款式性别</th>
                <th>产品线</th>
                <th>款式分类</th>
                <th>添加时间</th>
                <th>更新时间</th>
            </tr>
        </thead>
        <tbody>
        <%foreach from=$page_list.data item=d%>
            <tr data-id="price_by_style_search_list_<%$d.id%>" data-title="<%$d.style_sn%>">
                <td><input class="checkboxes" type="checkbox" name="_ids[]" value="<%$d.id%>" /></td>
				<td align="center">
                    <%$d.style_sn%>
                </td>
                <td>
                    <%if $d.thumb_img != ''%>
                    <a class="fancyboximg" href="<%$d.big_img%>" title="<%$d.style_sn%> - <%$d.style_name%>">
                        <img src="<%$d.thumb_img%>" width="80" height="80"/>
                    </a>
                    <%else%>无图片<%/if%>
                </td>
                
                <td><%$d.style_name%></td>
                <td><%$d.all_kela_price%></td>
                <td><%$dd->getEnum('style.style_sex',$d.style_sex)%></td>
                <td><%if isset($product_data[$d.product_type])%><%$product_data[$d.product_type]%><%else%>--<%/if%></td>
                <td><%if isset($cat_data[$d.style_type])%><%$cat_data[$d.style_type]%><%else%>--<%/if%></td>
                <td><%$d.create_time%></td>
                <td><%$d.update_time%></td>
            </tr>
        <%/foreach%>
        </tbody>
    </table>
</div>
<div class="pager">
<%$pa%>
</div>
<script type="text/javascript">
<!--
	util.hover();
    util.check(util.getItem('listDIV'));
    // 美化复选框
    var test = $("#goodsprice_by_style_search_list input[type='checkbox']:not(.toggle, .make-switch)");
    if (test.size() > 0) {
        test.each(function () {
            if ($(this).parents(".checker").size() == 0) {
                $(this).show();
                $(this).uniform();
            }
        });
    }
    // table 复选框全选
    $('#goodsprice_by_style_search_list .group-checkable').change(function () {
        var set = $(this).attr("data-set");
        var checked = $(this).is(":checked");
        $(set).each(function () {
            if (checked) {
                $(this).attr("checked", true);
                $(this).parents('tr').addClass("active");
            } else {
                $(this).attr("checked", false);
                $(this).parents('tr').removeClass("active");
            }
        });
        $.uniform.update(set);
    });
    $('#goodsprice_by_style_search_list').on('change', 'tbody tr .checkboxes', function(){
        $(this).parents('tr').toggleClass("active");
    });
//-->
</script>