<!-- BEGIN FORM -->
<div class="content">
<!-- BEGIN FORGOT PASSWORD FORM -->
	<form class="changemypass-form" action="" method="post">
		<div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<div class="input-icon">
				<i class="fa fa-user"></i>
				<input class="form-control placeholder-no-fix" type="text" disabled="disabled" value="<%$smarty.session.userName%>(<%$smarty.session.realName%>)" autocomplete="off" placeholder="账号"/>
			</div>
		</div>
		<div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<div class="input-icon">
				<i class="fa fa-lock"></i>
				<input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="原密码"  name="oldPass"/>
			</div>
		</div>
		<div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<div class="input-icon">
				<i class="fa fa-lock"></i>
				<input class="form-control placeholder-no-fix" type="password" id="newPass" autocomplete="off" placeholder="新密码" onkeyup="util.checkIntensity(this.value)" name="newPass"/>
			</div>
		</div>
		<div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<table width="145" border="0" cellspacing="0" cellpadding="1">
				<tr align="center">
					<td width="33%" id="pwd_lower">弱</td>
					<td width="33%" id="pwd_middle">中</td>
					<td width="33%" id="pwd_high">强</td>
				</tr>
			</table>
		</div>
		<div class="form-group">
			<div class="input-icon">
				<i class="fa fa-lock"></i>
				<input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="再次输入" name="confirmPass"/>
			</div>
		</div>

		<div class="form-actions">
			<input type="hidden" name="paw_type" value="" id="paw_type">
			<button type="reset" class="btn blue pull-left">
			重置 <i class="m-icon-swapright m-icon-white"></i>
			</button>
			<button type="submit" class="btn blue pull-left" style="margin-left:20px;">
			提交 <i class="m-icon-swapright m-icon-white"></i>
			</button>
		</div>
	</form>
	<!-- END FORGOT PASSWORD FORM -->
</div>
<script type="text/javascript">
<!--
	<%include file="js/password.js"%>
//-->
</script>






