[DbConfig0]
;session
db_type=mysql;
db_host=localhost;
b_port=3306;
db_user=root;
db_pwd='123456';
db_name=cuteframe;

[DbConfig1]
;read
;管理中心
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=cuteframe;

[DbConfig2]
;write
;管理中心
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=cuteframe;

[DbConfig11]
;read
;款式库
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=front;

[DbConfig12]
;write
;款式库
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=front;

[DbConfig13]
;read
;供应商
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=kela_supplier;

[DbConfig14]
;write
;供应商
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=kela_supplier;

[DbConfig15]
;read
;销售政策管理
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=front;

[DbConfig16]
;write
;销售政策管理
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=front;

[DbConfig17]
;read
;预约管理
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=front;

[DbConfig18]
;write
;预约管理
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=front;


[DbConfig19]
;read
;裸钻管理
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=front;

[DbConfig20]
;write
;裸钻管理
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=front;

[DbConfig21]
;read
;仓库管理
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=warehouse_shipping;

[DbConfig22]
;write
;仓库管理
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=warehouse_shipping;

[DbConfig23]
;read
;采购管理
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_name=purchase;
db_pwd='123456';

[DbConfig24]
;write
;采购管理
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=purchase;


[DbConfig27]
;read
;销售管理
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=app_order;

[DbConfig28]
;write
;销售管理
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=app_order;


[DbConfig29]
;read
;财务管理
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=finance;

[DbConfig30]
;write
;财务管理
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=finance;


[DbConfig31]
;write
;退款系统
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=app_order;

[DbConfig32]
;write
;退款系统
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=app_order;

[DbConfig41]
;read
;维修管理
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=repair_order;

[DbConfig42]
;write
;维修管理
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=repair_order;


[DbConfig43]
;read
;物流管理
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=shipping;

[DbConfig44]
;write
;物流管理
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=shipping;

[DbConfig33]
;read
;财务管理
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=finance_stream;

[DbConfig34]
;write
;财务管理
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=finance_stream;

[DbConfig45]
;read
;物流管理
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=shibao;

[DbConfig46]
;write
;物流管理
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=shibao;

[DbConfig47]
;read
;运营报表
db_type=mysql;
db_host=192.168.1.72;
db_port=3306;
db_user=kucun_bak;
db_pwd='123456'n5FRLp0rAbhPpNKV;
db_name=kucun_bak;

[DbConfig48]
;write
;运营报表
db_type=mysql;
db_host=192.168.1.72;
db_port=3306;
db_user=kucun_bak;
db_pwd='123456'n5FRLp0rAbhPpNKV;
db_name=kucun_bak;

[DbConfig51]
;read
;销售管理
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=app_order;

[DbConfig52]
;read
;裸钻管理
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=front;

[DbConfig53]
;read
;供应商管理
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=kela_supplier;

[DbConfig54]
;read
;采购管理
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=purchase;

[DbConfig55]
;read
;仓库管理
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=warehouse_shipping;

[DbConfig56]
;read
;物流管理
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=shipping;

[DbConfig57]
;read
;财务管理
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=finance;

[DbConfig58]
;read
;维修管理
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=repair_order;

[DbConfig59]
;read
;cuteframe数据库
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=cuteframe;

[DbConfig60]
;read
;预约数据库
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=front;

[DbConfig61]
;read
;zhanting
db_type=mysql;
db_host=192.168.1.132;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=kela_supplier;

[DbConfig62]
;write
;供应商
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=kela_supplier;

[DbConfig63]
;read
;采购管理
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=purchase;

[DbConfig99]
;write
;款式库
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=front;

[DbConfig210]
;write
;订单管理
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=warehouse_shipping;


[DbConfig301]
;write
;仓库管理
db_type=mysql;
db_host=localhost;
db_port=3306;
db_user=root;
db_pwd='123456';
db_name=finance;
