<div class="table-scrollable">
    <table class="table table-bordered table-striped table-hover flip-content">
        <thead class="flip-content">
            <tr>
                <th><input type="checkbox" class="group-checkable" data-set="#app_style_quickdiy_search_list .checkboxes" /></th>
                <th>快速定制码</th>
                <th>款式编号</th>
                <th>款式名称</th>
                <th>镶口</th>
                <th>材质</th>
                <th>材质颜色</th>
                <th>指圈</th>
				<th>状态</th>
                <th>添加人</th>
                <th>添加时间</th>
            </tr>
        </thead>
        <tbody>
        <%foreach from=$page_list.data item=d%>
            <tr data-id="app_style_quickdiy_search_list_<%$d.id%>" data-title="<%$d.style_sn%>">
                <td><input class="checkboxes" type="checkbox" name="_ids[]" value="<%$d.id%>" /></td>
                <td><%$d.goods_sn%></td>
                <td align="center"><%$d.style_sn%></td>
                <td><%$d.style_name%></td>
                <td><%$d.xiangkou%></td>
                <td><%$d.caizhi%></td>
                <td><%$d.caizhiyanse%></td>
                <td><%$d.zhiquan%></td>
                <td><%if $d.status==1%>启用<%else%>禁用<%/if%></td>
                <td><%$d.create_user%></td>
                <td><%$d.create_time%></td>
            </tr>
        <%/foreach%>
        </tbody>
    </table>
</div>
<div class="pager">
<%$pa%>
</div>
<script type="text/javascript">
<!--
	util.hover();
    util.check(util.getItem('listDIV'));
    // 美化复选框
    var test = $("#app_style_quickdiy_search_list input[type='checkbox']:not(.toggle, .make-switch)");
    if (test.size() > 0) {
        test.each(function () {
            if ($(this).parents(".checker").size() == 0) {
                $(this).show();
                $(this).uniform();
            }
        });
    }
    // table 复选框全选
    $('#app_style_quickdiy_search_list .group-checkable').change(function () {
        var set = $(this).attr("data-set");
        var checked = $(this).is(":checked");
        $(set).each(function () {
            if (checked) {
                $(this).attr("checked", true);
                $(this).parents('tr').addClass("active");
            } else {
                $(this).attr("checked", false);
                $(this).parents('tr').removeClass("active");
            }
        });
        $.uniform.update(set);
    });
    $('#app_style_quickdiy_search_list').on('change', 'tbody tr .checkboxes', function(){
        $(this).parents('tr').toggleClass("active");
    });
//-->
</script>