<div class="portlet-body form">
    <!-- 表单内容 -->
    <form action="#" method="post" class="horizontal-form" id="app_style_quickdiy_import">
        <div class="form-body">
		<div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">选择文件：<span class="required"><a href="index.php?mod=style&con=AppStyleQuickdiy&act=download_tpl">模板下载</a></span></label>
                        <input type="file" name="quickdiy_file" class="form-control" value=""/>
                    </div>
                </div>
               
        </div>
        <!-- 搜索按钮 -->
        <div class="form-actions fluid">
            <div class="col-md-offset-3 col-md-9">
                <button type="reset" class="btn default">重置</button>
                <button type="submit" class="btn green"><i class="fa fa-check"></i> 上传文件</button>
            </div>
        </div>
    </form>
    <!-- END FORM-->
</div>
<script type="text/javascript">
<!--
    <%include file = "js/app_style_quickdiy_import.js"%>
//-->
</script>