<style type="text/css">
.picture_show{width:320px;margin:0 auto;}
.picture_zoompic{width: 100%; border:solid 1px #dfdfdf;background:url(public/img/loading.gif) no-repeat 50% 50%;}
.picture_zoompic img{width: 100%;height: auto}
.pic_sliderbox{width:100%;overflow:hidden;margin-top: 6px;}
.pic_sliderbox .arrow-btn{width:20px;height:53px;background:url(public/img/arrow-btn.png) no-repeat;cursor:pointer;}
.pic_sliderbox #pic_btn-left{float:left;background-position:0 0;}
.pic_sliderbox #pic_btn-left.dasabled{background-position:0 -53px;}
.pic_sliderbox #pic_btn-right{float:right;background-position:-20px 0;}
.pic_sliderbox #pic_btn-right.dasabled{background-position:-20px -53px;}
.pic_sliderbox .pic_slider{float:left;height:53px;width:277px;position:relative;overflow:hidden;display:inline;}
.pic_sliderbox .pic_slider ul{position:absolute;left:0;padding:0;margin-left:3px;margin-bottom: 0; width:2000px;list-style:none; }
.pic_sliderbox .pic_slider li{float:left;width:55px;text-align:center;list-style:none}
.pic_sliderbox .pic_slider li img{width: 53px; border:solid 2px #f9f9f9;}
.pic_sliderbox .pic_slider li.current img{border:solid 2px #3366cc;}
</style>
<div class="picture_show">
<div class="picture_zoompic"><img src="<%if !empty($res_pic_list)%><%if isset($first_pic['big_img'])%><%$first_pic['big_img']%><%else%><%$first_pic['thumb_img']%><%/if%><%/if%>"/></div>
	<div class="pic_sliderbox">
		<div id="pic_btn-left" class="arrow-btn dasabled"></div>
		<div class="pic_slider" id="picture_thumbnail">
			<ul id="ul_picture_thumbnail">
				<%foreach from=$res_pic_list item=d%>
				<li><img src="<%if isset($d.big_img)%><%$d.big_img%><%else%><%$d.thumb_img%><%/if%>"/></li>
				<%/foreach%>
			</ul>
		</div>
		<div id="pic_btn-right" class="arrow-btn"></div>
	</div>
</div>
<script type="text/javascript">
$("#ul_picture_thumbnail li img").click(function(){
		$(".picture_zoompic img").attr("src",$(this).attr("src"));
		$(this).parents("li").addClass("current").siblings('li').removeClass("current");
		return false;
});
$(".picture_zoompic>img").load(function(){
	$(".picture_zoompic>img:hidden").show();
});
//小图片左右滚动
var $slider = $('#ul_picture_thumbnail');
var $slider_child_l = $('#ul_picture_thumbnail li').length;;
var $slider_width = $('#ul_picture_thumbnail li').width();
$slider.width($slider_child_l * $slider_width);
var slider_count = 0;
if ($slider_child_l < 5) {
	$('#pic_btn-right').css({cursor: 'auto'});
	$('#pic_btn-right').addClass("dasabled");
}
$('#pic_btn-right').click(function() {
	if ($slider_child_l < 5 || slider_count >= $slider_child_l - 5) {
		return false;
	}
	slider_count++;
	$slider.animate({left: '-=' + $slider_width + 'px'}, 'fast');
	slider_pic();
});
$('#pic_btn-left').click(function() {
	if (slider_count <= 0) {
		return false;
	}
	slider_count--;
	$slider.animate({left: '+=' + $slider_width + 'px'}, 'fast');
	slider_pic();
});
function slider_pic() {
	if (slider_count >= $slider_child_l - 5) {
		$('#pic_btn-right').css({cursor: 'auto'});
		$('#pic_btn-right').addClass("dasabled");
	}
	else if (slider_count > 0 && slider_count <= $slider_child_l - 5) {
		$('#pic_btn-left').css({cursor: 'pointer'});
		$('#pic_btn-left').removeClass("dasabled");
		$('#pic_btn-right').css({cursor: 'pointer'});
		$('#pic_btn-right').removeClass("dasabled");
	}
	else if (slider_count <= 0) {
		$('#pic_btn-left').css({cursor: 'auto'});
		$('#pic_btn-left').addClass("dasabled");
	}
}
</script>