<div class="portlet-body form">
	<!-- 表单内容 -->
	<form action="#" method="post" class="horizontal-form" id="purchase_goods_style_info">
		<div class="form-body col-sm-8">
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">款号：<span style="color:red"><b> *</b></span></label>
						<input type="text" name="style_sn" id="style_sn" class="form-control" placeholder="请输入" value="<%$view->get_style_sn()%>" />
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">名称：<span style="color:red"><b> *</b></span></label>
						<input type="text"  name="g_name" class="form-control" placeholder="请输入" value="<%$view->get_g_name()%>" />
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">数量：<span style="color:red"><b> *</b></span></label>
						<input type="text" name="num" class="form-control" placeholder="请输入" value="<%$view->get_num()%>" maxlength="6"/>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">客户姓名：<span style="color:red"><b> </b></span></label>
						<input type="text" name="consignee" class="form-control" placeholder="请输入" value="<%$view->get_consignee()%>" maxlength="60"/>
					</div>
				</div>
            </div>
            <div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">镶嵌要求：<span style="color:red"><b> *</b></span></label>
						<select class="select2_category form-control" tabindex="1" name="xiangqian">
							<option value=""></option>
							<%foreach from=$dd->getEnumArray("order.xiangqian") key=k item=value%>
							<option value="<%$value.label%>" <%if $view->get_xiangqian()==$value.label%>selected="selected"<%/if%>><%$value.label%></option>
							<%/foreach%>
						</select>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">表面工艺：<span> *</span></label>
						<select class="select2_category form-control" tabindex="1" name="face_work">
							<option value=""></option>
							<%foreach from=$dd->getEnumArray("order.face_work") key=k item=value%>
							<option value="<%$value.label%>" <%if $view->get_goods_attr('face_work')==$value.label%>selected="selected"<%/if%>><%$value.label%></option>
							<%/foreach%>
						</select>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">材质：<span> *</span></label>
						<div class="caizhi_select_box">
						<select class="select2_category form-control" tabindex="1" name="caizhi">
							<option value=""></option>
							<%foreach from=$caizhi_arr key=k item=value%>
							<option value="<%$value%>" <%if $view->get_goods_attr('caizhi')==$value%>selected="selected"<%/if%>><%$value%></option>
							<%/foreach%>
						</select>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">可做颜色：<span>( *K金)</span></label>
						<div class="jinse_select_box">
						<select class="select2_category form-control" tabindex="1" name="18k_color">
							<option value=""></option>
							<%foreach from=$jinse_arr key=k item=value%>
							<option value="<%$value%>" <%if $view->get_goods_attr('18k_color')==$value%>selected="selected"<%/if%>><%$value%></option>
							<%/foreach%>
						</select>
						</div>
					</div>
				</div>
            </div>
			 <div class="row">
			    <div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">证书号：<span>( *特定)</span></label>
						<input type="text" name="zhengshuhao" class="form-control" placeholder="请输入" value="<%$view->get_goods_attr('zhengshuhao')%>" maxlength="40"/>
					</div>
				</div>
				<div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">证书类型：</label>
                        <select class="form-control" tabindex="1" name="cert">
                            <option value=""></option>
                            <%foreach from=$cert_arr key=k item=value%>
                            <option value="<%$value%>" <%if $view->get_goods_attr('cert')==$value%>selected="selected"<%/if%>><%$value%></option>
                            <%/foreach%>
                        </select>
                    </div>
                </div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">钻石颜色：</label>
						<select class="select2_category form-control" tabindex="1" name="yanse">
							<option value=""></option>
							<%foreach from=$dd->getEnumArray("purchase.color") key=k item=value%>
							<option value="<%$value.label%>" <%if $view->get_goods_attr('yanse')==$value.label%>selected="selected"<%/if%>><%$value.label%></option>
							<%/foreach%>
						</select>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">钻石净度：</label>
						<select class="select2_category form-control" tabindex="1" name="jingdu">
							<option value=""></option>
							<%foreach from=$dd->getEnumArray("purchase.neatness") key=k item=value%>
							<option value="<%$value.label%>" <%if $view->get_goods_attr('jingdu')==$value.label%>selected="selected"<%/if%>><%$value.label%></option>
							<%/foreach%>
						</select>
					</div>
				</div>                
            </div>
            <div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">指圈：<span>( *戒指)</span></label>
						<input type="text" name="zhiquan" class="form-control" placeholder="请输入" value="<%$view->get_goods_attr('zhiquan')%>" maxlength="40"/>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">主石单颗重：<span> *</span></label>
						<input type="text" name="zuanshidaxiao" class="form-control" placeholder="请输入" value="<%$view->get_goods_attr('zuanshidaxiao')%>" maxlength="40"/>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">主石粒数：<span> *</span></label>
						<input type="text" name="zhushi_num" class="form-control" placeholder="请输入" value="<%$view->get_goods_attr('zhushi_num')%>" maxlength="40" readonly/>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">镶口：<span> *</span></label>
						<input type="text" name="xiangkou" class="form-control" placeholder="请输入" value="<%$view->get_goods_attr('xiangkou')%>" maxlength="60"/>
					</div>
				</div>				
            </div>
           
            <div class="row">
                <%if $is_djbh%>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">外部单号：<span style="color:red">*</span></label>
                        <input type="text" name="p_sn_out" class="form-control" placeholder="请输入" value="<%$view->get_goods_attr('p_sn_out')%>"/>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">单身-项次：<span style="color:red">*</span></label>
                        <input type="text" name="ds_xiangci" class="form-control" placeholder="请输入" value="<%$view->get_goods_attr('ds_xiangci')%>"/>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">品号：<span style="color:red">*</span></label>
                        <input type="text" name="pinhao" class="form-control" placeholder="请输入" value="<%$view->get_goods_attr('pinhao')%>"/>
                    </div>
                </div>
                <%/if%>
            </div>
            <div class="row">
			    <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">刻字内容：</label>
                        <div style="height:auto;">
                            <div id="order_detail_kezi_out_div" style="margin:0 auto; height: auto; width:200px; padding:0px 10px;"></div>
                            <textarea class="emotion" cols="40" rows="1" style="font-size:13px;width:351px;margin:0px;height:32px;" name="kezi" id="kezi"><%$view->get_goods_attr('kezi')%></textarea>
                            <br />
                            <input class="btn blue" id="order_detail_face" type="button" value="选择刻字图案" />
                            <input class="btn green" id="analytic" type="button" value="显示效果" onClick="order_detil_kezi_out()" />
                        </div>
                    </div>
                </div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="control-label">备注：</label>
						<input type="text" name="info" class="form-control" placeholder="请输入" value="<%$view->get_info()%>" />
					</div>
				</div>
			</div>
		</div>
		<input type="hidden" id="style_sn_s" value=""/>
		<div class="form-body col-sm-4" id="style_gallery">
		<div style="width:320px;height:380px; background-color:#ddd"></div></div>
		<div class="form-body" id="style_attrs">
		
		</div>

		<!-- 搜索按钮 -->
		<div class="form-actions fluid" style="clear:left">
			<div class="col-md-offset-3 col-md-9">
				<input type="hidden" name="id" value="<%$view->get_id()%>" />
				<input type="hidden" name="pinfo_id" value="<%$pinfo_id%>" />
				<input type="hidden" name="is_style" value="<%$is_style%>" />
				<button type="reset" class="btn default">重置</button>
				<button type="submit" class="btn green"><i class="fa fa-check"></i> 保存</button>
			</div>
		</div>
	</form>
	<!-- END FORM-->
</div>
<script type="text/javascript">
setStyleGallery("<%$view->get_style_sn()%>");
<!--
	<%include file="js/purchase_goods_style_info.js"%>
//-->
</script>