<table class="table table-bordered table-striped table-hover flip-content">
	<thead class="flip-content">
		<tr>
			<th>序号</th>
			<th>款式编号</th>
			<th>分类类型</th>
			<th>产品线</th>
			<th>显示方式</th>
			<th>属性</th>
			<th>属性值</th>
		</tr>
	</thead>
	<tbody>
	<%foreach from=$page_list.data key=key item=d%>
		<tr data-id="rel_style_attribute_list_<%$d.rel_id%>">
			<td align="center"><%$key+1%></td>
			<td align="center"><%$d.style_sn%></td>
			<td align="center"><%$cat_data[$d.cat_type_id]%></td>
			<td align="center"><%$product_data[$d.product_type_id]%></td>
			<td align="center"><%$showType[$d.show_type]%></td>
			<td align="center"><%$d.attribute_name%></td>
			<td align="center">
			<%if isset($d.att_value_name)%><%$d.att_value_name%><%/if%>
			
			</td>
		</tr>
	<%/foreach%>
	</tbody>
</table>
<%$pa%>
<script type="text/javascript">
<!--
	util.hover();
//-->
</script>