<div class="portlet-body form">
	<!-- 表单内容 -->
	<form action="#" method="post" class="horizontal-form" id="customer_sources_info">
		<div class="form-body">
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label class="control-label">来源名称：</label>
						<input type="text" name="source_name" class="form-control" placeholder="请输入" value="<%$view->get_source_name()%>" maxlength="50" />
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label class="control-label">一级分类：</label>
						<select class="select2_category form-control" name="source_class" tabindex="1">
							<option value=""></option>
							<%foreach from=$dd->getEnumArray("sales_channels_class") item=value%>
							<option value="<%$value.name%>" <%if $value.name==$view->get_source_class()%>selected="selected"<%/if%>
							><%$value.label%></option>
							<%/foreach%>
						</select>
					</div>
				</div>
                	<div class="col-sm-4" id="channel_type">
					<div class="form-group">
						<label class="control-label">二级分类：</label>
						<select class="select2_category form-control" name="source_type" tabindex="1">
							<option value=""></option>
							<%foreach from=$dd->getEnumArray("sales_channels_type") item=value%>
							<option value="<%$value.name%>" <%if $value.name==$view->get_source_type()%>selected="selected"<%/if%>
							><%$value.label%></option>
							<%/foreach%>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
                   <%if $act=='edit'%>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">来源编码：</label>
						<input type="text" name="source_code" class="form-control" placeholder="请输入" value="<%$view->get_source_code()%>" mxlength="20" />
					</div>
				</div>
                <%/if%>
			
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">所属渠道：</label>
                        <select class="select2_category form-control" name="source_own_id" tabindex="1">
                            <option value=""></option>
                            <%foreach from=$salesChannel key=id item=name%>
                            <option value="<%$id%>" <%if $id==$view->get_source_own_id()%>selected="selected"<%/if%>><%$name%></option>
                            <%/foreach%>
                        </select>
                    </div>
                </div>
                      <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">分类：</label>
                        <select class="select2_category form-control" name="fenlei" tabindex="1">
                            <option value=""></option>
                            <%foreach from=$arr key=id item=name%>
                            <option value="<%$id%>" <%if $id==$view->get_fenlei()%>selected="selected"<%/if%>><%$name%></option>
                            <%/foreach%>
                        </select>
                    </div>
			</div>
            <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">启用：</label>
						<div class="radio-list">
                            <%foreach from=$dd->getEnumArray("confirm") key=k item=value%>
                            <label class="radio-inline">
                                <input type="radio" name="is_enabled" <%if $view->get_is_enabled()==$value.name or ($view->get_is_enabled()=="" and $k==0)%>
                                checked="checked"<%/if%> value="<%$value.name%>"> <%$value.label%>
                            </label>
                            <%/foreach%>
						</div>
                    </div>
				</div>
		</div>
		<!-- 搜索按钮 -->
		<div class="form-actions fluid">
			<div class="col-md-offset-3 col-md-9">
				<input type="hidden" name="id" value="<%$view->get_id()%>" />

				<button type="reset" class="btn default">重置</button>
				<button type="submit" class="btn green"><i class="fa fa-check"></i> 保存</button>
			</div>
		</div>
	</form>
	<!-- END FORM-->
</div>
<script type="text/javascript">
<!--
	<%include file="js/customer_sources_info.js"%>
//-->
</script>