<!-- 表格1 -->
<div class="portlet-body">
	<!-- 表格1 -->
	<div class="flip-scroll">
	<table class="table table-bordered table-striped  flip-content">
		<tr>
		    <th>质检结果</th>
			<th>出货数量</th>
			
			<%if $from_type == 1%><th>质检未过数量</th><%/if%>
			<th>质检未过类型</th>
			<th>未过原因</th>
			<th>报废原因</th>
			<th>备注</th>
			<th>操作人</th>
			<th>操作时间</th>
		</tr>
		<%foreach from=$list item=shpm %>
		<tr>
		    <td><%$shpm.oqc_result%></td>
			<td><%$shpm.num%></td>			
			<%if $from_type == 1%><td><%$shpm.oqc_no_num%></td><%/if%>
			<td><%$shpm.oqc_no_type%></td>
			<td><%$shpm.oqc_no_reason%></td>
			<td><%$shpm.reason_scrapped%></td>
            <td><%$shpm.info%></td>
			<td><%$shpm.opra_uname%></td>
			<td><%$shpm.opra_time%></td>
		</tr>
		<%/foreach%>
	</table>
	<div class="clear"></div>
</div>
<script type="text/javascript">
<!--
//-->
</script>