<div class="portlet box blue">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>结果列表
		</div>
		<div class="tools">
			<a href="javascript:;" class="collapse">
			</a>
		</div>
	</div>

	<div class="portlet-body">
		<!-- 工具栏 -->
		<div class="table-toolbar">
			<%$bar%>
		</div>
		<!-- 表格1 -->
		<div class="flip-scroll" id="control_recycle_search_list">
		</div>
		<div class="clear"></div>
	</div>
</div>
<script type="text/javascript">

	<%include file="js/control_recycle_list.js"%>

</script>