<div class="portlet-body form">
	<!-- 表单内容 -->
	<form action="#" method="post" class="horizontal-form" id="app_member_address_info">
		<div class="form-body">
			<div class="row">
                <div class="col-sm-4">
                    <div class="form-group zformj">
                        <label class="control-label">顾客名：</label>
                        <input type="text" name="customer" class="form-control" placeholder="请输入" value="<%$view->get_customer()%>" maxlength="19" onBlur="value=value.replace(/[0-9]/g,'')"/>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group zformj">
                        <label class="control-label">会员电话：</label>
                        <input type="text" name="mobile" class="form-control" onkeyup="value=value.toUpperCase()" placeholder="请输入"  value="<%$view->get_mobile()%>" />
                    </div>
				</div>
                <div class="col-sm-4">
                    <div class="form-group zformj">
                        <label class="control-label">会员国家：</label>
						<select class="select2_category form-control" tabindex="1" name="mem_country_id">
							<option value=""></option>
							<%foreach from=$view->getCountryOption() item=value%>
							<option value="<%$value.region_id%>" <%if $value.region_id==$view->get_mem_country_id()%>selected<%/if%>><%$value.region_name%></option>
							<%/foreach%>
						</select>
                    </div>
				</div>
				<div class="col-sm-4">
					<div class="form-group zformj">
						<label class="control-label">会员省：</label>
						<select class="form-control" tabindex="1" name="mem_province_id">
							<option value=""></option>
							<%if $app_address%>
							<%foreach from=$view->getProvinceOption() item=value%>
							<option value="<%$value.region_id%>" <%if $value.region_id==$view->get_mem_province_id()%>selected<%/if%>><%$value.region_name%></option>
							<%/foreach%>
							<%/if%>
						</select>
					</div>
				</div>
                <div class="col-sm-4">
                    <div class="form-group zformj">
                        <label class="control-label">会员城市：</label>
						<select class="select2_category form-control" tabindex="1" name="mem_city_id">
							<option value=""></option>
							<%if $app_address%>
							<%foreach from=$view->getCityOption() item=value%>
							<option value="<%$value.region_id%>" <%if $value.region_id==$view->get_mem_city_id()%>selected<%/if%>><%$value.region_name%></option>
							<%/foreach%>
							<%/if%>
						</select>
                    </div>
				</div>
                <div class="col-sm-4">
                    <div class="form-group zformj">
                        <label class="control-label">会员区：</label>
						<select class="select2_category form-control" tabindex="1" name="mem_district_id">
							<option value=""></option>
							<%if $app_address%>
							<%foreach from=$view->getDistrictOption() item=value%>
							<option value="<%$value.region_id%>" <%if $value.region_id==$view->get_mem_district_id()%>selected<%/if%>><%$value.region_name%></option>
							<%/foreach%>
							<%/if%>
						</select>
                    </div>
				</div>
                <div class="col-sm-4">
                    <div class="form-group zformj">
                        <label class="control-label">会员详细地址：</label>
                        <input type="text" name="mem_address" class="form-control" onkeyup="value=value.toUpperCase()" placeholder="请输入"  value="<%$view->get_mem_address()%>" maxlength="250"/>
                    </div>
				</div>
                <div class="col-sm-4">
						<div class="form-group zformj">
							<label class="control-label">是否默认：</label>
							<div class="radio-list">
								<label class="radio-inline">
									<input type="radio" value="0" name="mem_is_def" <%if $view->get_mem_is_def()==0%>checked="checked"<%/if%> /> 否
								</label>
								<label class="radio-inline">
									<input type="radio" value="1" name="mem_is_def" <%if $view->get_mem_is_def()==1%>checked="checked"<%/if%> /> 是
								</label>
							</div>
						</div>
				</div>
                <div style="clear:both;"></div>
			</div>
		</div>
		<!-- 搜索按钮 -->
		<div class="form-actions fluid">
			<div class="col-md-offset-3 col-md-9">
				<input type="hidden" name="member_id" value="<%$member_id%>" />
				<input type="hidden" name="id" value="<%$view->get_mem_address_id()%>" />
				<button type="reset" class="btn default">重置</button>
				<button type="submit" class="btn green"><i class="fa fa-check"></i> 保存</button>
			</div>
		</div>
	</form>
	<!-- END FORM-->
</div>
<script type="text/javascript">
<!--
	<%include file="js/app_member_address_info.js"%>
//-->
</script>