<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-reorder"></i>信息详情
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse">
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-toolbar">
            <%$bar%>
        </div>
        <!-- 表格1 -->
        <div class="form-body">
            <div class="row">
			    <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">单据编号：</label>
                        <%$view->get_bill_no()%>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">单据类型：</label>
                        <%$dd->getEnumByNote("material.bill_type",$view->get_bill_type())%>
                    </div>
                </div>
				<div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">供应商：</label>
                        <%$view->get_supplier_name($view->get_supplier_id())%>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">仓库：</label>
                        <%$view->get_warehouse_name($view->get_warehouse_id())%>
                    </div>
                </div> 
				<div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">销售渠道：</label>
                        <%$view->get_department_name($view->get_department_id())%>
                    </div>
                </div> 
				<div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">单据状态：</label>
						<%$dd->getEnum("material.bill_status",$view->get_bill_status())%>
                    </div>
                </div>
				<div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">审核时间：</label>
						<%$view->get_check_time()%>
                    </div>
                </div>
				<div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">审核人：</label>
						<%$view->get_check_user()%>
                    </div>
                </div>
				<div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">添加时间：</label>
						<%$view->get_create_time()%>
                    </div>
                </div>
				<div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">添加人：</label>
                       <%$view->get_create_user()%>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">总数量：</label>
                       <%$total_cost.allnum%>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">总成本/总出入库金额：</label>
                       <%$total_cost.allcost%>/<%$total_cost.allshijia%>
                    </div>
                </div>                                
			</div>
			<div class="row">
				<div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label">单据备注：</label>
                        <%$view->get_bill_note()%>
                    </div>
                </div>
		   </div>
        </div>
        <div class="clear"></div>
    </div>

</div>
<!--3detail start-->
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-reorder"></i>单据明细
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse">
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-toolbar">
		    <div class="btn-group">
                <button class="btn btn-sm green" onclick="util.addRel(this);" data-url="index.php?mod=warehouse&con=MaterialBillJin&act=addBillGoods" name="添加" title="添加配件" list-id="70" data-title="">
                    添加 <i class="fa fa-plus"></i>
                </button>
            </div>
			<div class="btn-group">			    
				<button class="btn btn-sm red" onclick="util.del(this);" data-url="index.php?mod=warehouse&con=MaterialBillJin&act=deleteBillGoods&bill_id=<%$view->get_id()%>" name="删除" title="删除" list-id="70" data-title="删除">
					删除 <i class="fa fa-trash-o"></i>
				</button>
			</div>
            <div class="btn-group">
                <button class="btn btn-sm dark" onclick="util.relReload(this);" data-url="index.php?mod=warehouse&con=MaterialBillJin&act=searchBillGoods" name="刷新" title="刷新明细" list-id="70" data-title="">
                    刷新 <i class="glyphicon glyphicon-refresh"></i>
                </button>
            </div>
        </div>
        <!-- 表格1 -->
        <div class="flip-scroll" id="material_bill_goods_search_list"></div>
        <div class="clear"></div>
    </div>
</div>
<!--3detail end-->
<script type="text/javascript">
<!--
    <%include file = "js/material_bill_show.js" %>
//-->
</script>	
<!--2end-->
