<table class="table table-bordered table-striped table-hover flip-content">
	<thead class="flip-content">
		<tr>
			<th>实付单号</th>
			<th>应付单号</th>
			<th>实付类型</th>
			<th>结算商</th>
			<th>银行交易流水</th>
			<th>收款方帐号</th>
			<th>付款时间</th>
			<th>实付金额</th>
			<th>制单时间</th>
			<th>制单人</th>
		</tr>
	</thead>
	<tbody>
	<%foreach from=$page_list.data item=d%>
		<tr data-id="app_apply_real_pay_list_<%$d.pay_real_number%>" data-title="<%$d.pay_real_number%>">
			<td align="center"><%$d.pay_real_all_name%></td>
			<td align="center"><%$d.pay_number%></td>
			<td align="center"><%$dd->getEnum('app_pay_should.pay_type',$d.pay_type)%></td>
			<td align="center"><%$d.prc_name%></td>
			<td align="center"><%$d.bank_serial_number%></td>
			<td align="center"><%$d.bank_name%> <%$d.bank_account%></td>
			<td align="center"><%$d.pay_time%></td>
			<td align="center"><%$d.total%></td>
			<td align="center"><%$d.make_time%></td>
			<td align="center"><%$d.make_name%></td>
		</tr>
	<%/foreach%>
	</tbody>
</table>
<%$pa%>
<script type="text/javascript">
<!--
	util.hover();
//-->
</script>