<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>物控销售单</title>
<style type="text/css">

*{margin:0;padding:0;}
body{font:12px/25px "宋体";}
.tRight{text-align:right;}
.wrap{width:700px;margin:50px auto;}
h1{font-size:14px;text-align:center;margin-bottom:10px;}
table.list-ch{border-collapse:collapse;border:none;width:100%;margin-top:10px;}
table.list-ch td{border:1px #333 solid;padding:0 2px;}
table.list-ch thead td{height:28px; line-height:28px; text-align:center; font-weight:bold;}

</style>
<style media="print">

	.Noprint{display:none;} 

</style>
<script type="text/javascript">

	function preview() {
		bdhtml = window.document.body.innerHTML;
		sprnstr = "<!--startprint-->";
		eprnstr = "<!--endprint-->";
		prnhtml = bdhtml.substr(bdhtml.indexOf(sprnstr) + 17);
		prnhtml = prnhtml.substring(0, prnhtml.indexOf(eprnstr));
		window.document.body.innerHTML = prnhtml;
		window.print();
	}

</script>
</head>
<body>
<!--startprint-->
<div class="wrap">
	<h1>物控销售单据</h1>现在时间 <%$smarty.now|date_format:'%Y-%m-%d %H:%M:%S'%>
	<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tr>
			<td width="65">单号：</td>
			<td width="110"><%$view->get_bill_no()%></td>
			<td width="80">单据状态：</td>
			<td width="110"><%$dd->getEnum("material.bill_status",$view->get_bill_status())%></td>
			<td width="85">制单日期：</td>
			<td colspan='2'><%$data.create_time|date_format:'%Y-%m-%d  %H:%M:%S'%></td>
		</tr>
		<tr>
			<td>仓库:</td>
			<td colspan='2'><%$view->get_warehouse_name($view->get_warehouse_id())%></td>
			<td>销售渠道:</td>
			<td colspan='4'><%$view->get_company_name($view->get_department_id())%>(<%$view->get_department_name($view->get_department_id())%>)</td>
		</tr>
		<tr>
			<td>单据类型:</td>
			<td><%$dd->getEnumByNote("material.bill_type",$view->get_bill_type())%></td>
			<td>制单人:</td>
			<td><%$view->get_create_user()%></td>
			<td>审核人:</td>
			<td><%$view->get_check_user()%></td>
			<td>审核时间:</td>
			<td width="120"><%$view->get_check_time()%></td>
		</tr>
	</table>	
	<table cellpadding="0" cellspacing="0" border="0" class="list-ch">
		<thead>
			<tr>
			    <td>款式编号</td>
				<td>货品编号</td>
				<td>货品名称</td>				
				<td>单位</td>
				<td>数量</td>
				<td>销售单价</td>
				<td>销售总价</td>
			</tr>
		</thead>
		<tbody>
			<%foreach key = key item=item from=$goods_info %>
				<tr>
				    <td><%$item.style_sn%></td>
					<td><%$item.goods_sn%></td>
					<td><%$item.goods_name%></td>
					<td><%$item.unit%></td>
					<td><%$item.num%></td>
					<td><%$item.shijia%></td>
					<td><%$item.sales_price%></td>
				</tr>
			<%/foreach%>
			<tr>
				<td colspan="4">总计：</td>
				<td><%$total.sum_num%></td>
				<td></td>
				<td ><%$total.sales_sum%></td>
			</tr>
		</tbody>
	</table>
	<br/><br/>
	<div style="text-align:center;" class="Noprint">

    <button id="print_close" onclick="close_bill();">关闭</button>
    <button id="print_btn" onclick="print_bill();">打&nbsp;印</button>

	</div>
</div>

</body>
<script type="text/javascript">

 function close_bill(){
        window.close();
    }

    function print_bill(){    	
		window.print();
        
    }
</script>
</html>
