<!--搜索开始-->
<div class="portlet box green">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>搜索框
		</div>
		<div class="tools">
			<a href="javascript:;" class="collapse">
			</a>
		</div>
	</div>
	<div class="portlet-body form">
		<!-- 表单内容 -->
		<form action="#" class="horizontal-form" method="post" id="button_search_form">
			<div class="form-body">
				<div class="row">
					<div class="col-sm-4">
						<div class="form-group">
							<label class="control-label">显示名：</label>
							<input type="text" name="label" class="form-control" placeholder="请输入" maxlength="10" />
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<label class="control-label">按钮提示：</label>
							<input type="text" name="tips" class="form-control" placeholder="请输入" maxlength="20" />
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<label class="control-label">所属文件：</label>
							<select class="select2_category form-control" tabindex="1" name="c_id">
								<option value=""></option>
								<%foreach from=$view->getCtlList() item=l %>
									<option value="<%$l.id%>" <%if $view->get_c_id()==$l.id%>selected="selected"<%/if%>><%$l.label%>(<%$l.code%>)</option>
								<%/foreach%>
							</select>
						</div>
					</div>
				</div>
			</div>
			<!-- 搜索按钮 -->
			<div class="form-actions fluid">
				<div class="col-md-offset-3 col-md-9">
					<button type="reset" class="btn default">重置</button>
					<button type="submit" class="btn green"><i class="fa fa-check"></i> 搜索</button>
				</div>
			</div>
		</form>
		<!-- END FORM-->
	</div>
</div>

<div class="portlet box blue">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>结果列表
		</div>
		<div class="tools">
			<a href="javascript:;" class="collapse">
			</a>
		</div>
	</div>

	<div class="portlet-body">
	<!-- 工具栏 -->
		<div class="table-toolbar">
		<%$bar%>
		</div>
		<!-- 表格1 -->
		<div class="flip-scroll" id="button_search_list">
		</div>
		<div class="clear"></div>
	</div>
</div>

<script type="text/javascript">
<!--
	<%include file="js/button_list.js"%>
//-->
</script>