<table class="table table-bordered table-striped table-hover flip-content">
	<thead class="flip-content">
		<tr>
			<th>序号</th>
			<th>款式编号</th>
			<th>石头位置类型</th>
			<th>石头类型</th>
		</tr>
	</thead>
	<tbody>
	<%foreach from=$page_list.data item=d%>
		<tr data-id="rel_style_stone_list_<%$d.id%>">
			<td align="center"><%$d.id%></td>
			<td align="center"><%$d.style_sn%></td>
			<td align="center"><%$d.stone_position%></td>
			<td align="center"><%$d.stone_cat%></td>
		</tr>
	<%/foreach%>
	</tbody>
</table>
<%$pa%>
<script type="text/javascript">
<!--
	util.hover();
//-->
</script>