<div class="portlet-body">
<div class="table-toolbar">
<%$bar%>

</div>
		<!--入库单 start-->
		<div class="tab-pane active" id="tab_bill_m_0">
			<div class="portlet box green">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-reorder"></i>调拨单
					</div>
					<div class="tools">
						<a href="javascript:;" class="collapse"></a>
					</div>
				</div>
			<div class="portlet-body form">
				<!-- 表单内容 -->
				<form action="#" method="post" class="horizontal-form" id="warehouse_bill_info_m_info">
					<div class="form-body">
						<div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">出库公司：</label><span style='color:red;'>*</span>
                                    <select class="select2_category form-control" name="from_company_id" tabindex="1" disabled="disabled">
                                        <option value=""></option>
                                        <%foreach from=$form_company item=c%>
                                        <option value="<%$c.id%>" <%if $view->get_from_company_id() == $c.id%>selected='selected'<%/if%> >
                                        <%$c.company_sn%> | <%$c.company_name%>
                                        </option>
                                        <%/foreach%>
                                    </select>
                                </div>
                            </div>
							<div class="col-sm-3">
								<div class="form-group">
									<label class="control-label">单据编号：</label>
									<input type="text" name="bill_no" class="form-control" placeholder="" value="<%$view->get_bill_no()%>" disabled="disabled"/>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group">
									<label class="control-label">货品数量：</label>

									<input type="text" name="goods_num" id="goods_num" class="form-control" placeholder="0" value="<%$view->get_goods_num()%>" disabled="disabled"/>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group">
									<label class="control-label">成本总计：</label>
									<input type="text" name="mingyijia" id="mingyijia" class="form-control" placeholder="0" value="<%$view->get_goods_total()%>" disabled="disabled"/>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group">
									<label class="control-label">入库公司：</label><span style='color:red;'>*</span>
									<select class="select2_category form-control" name="to_company_id" tabindex="1">
										<option value=""></option>
										<%foreach from=$companylist item=c%>
											<option value="<%$c.id%>" <%if $view->get_to_company_id() == $c.id%>selected='selected'<%/if%> >
											<%$c.company_sn%> | <%$c.company_name%>
											</option>
										<%/foreach%>
									</select>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group">
									<label class="control-label">入库仓库：</label><span style='color:red;'>*</span>
									<select class="select2_category form-control" name="to_warehouse_id" tabindex="1">
										<option value="<%$warehouse_old.id%>"><%$warehouse_old.code%> | <%$warehouse_old.name%></option>

									</select>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group">
									<label class="control-label">订单号：</label><span style='color:red;'></span>
									<input type="text" name="order_sn" class="form-control" placeholder="请输入" value="<%$view->get_order_sn()%>" />
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group">
									<label class="control-label">单据状态</label>
									<input type="text" name="bill_status" class="form-control" value="<%$dd->getEnum('warehouse.bill_status',$status)%>"  disabled="disabled"/>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group">
									<label class="control-label">顾客姓名：</label><span style='color:red;'></span>
									<input type="text" name="consignee" class="form-control" placeholder="" value="<%$consignee%>" disabled="disabled"/>
								</div>
							</div>
                            <%if $smarty.const.SYS_SCOPE eq 'zhanting'%>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">展厅标签价总计：</label>
                                    <input type="text" name="label_price_total" id="label_price_total" class="form-control" placeholder="0" value="<%$view->get_label_price_total()%>" readonly="readonly" />
                                </div>
                            </div>
                            <%/if%>
							<div class="col-sm-12">
								<div class="form-group">
									<label class="control-label">备注：</label>
									<textarea class="form-control" name="bill_note" rows="4"  id='bill_note'><%$view->get_bill_note()%></textarea>
								</div>
							</div>
						</div>
					</div>
					<!-- 搜索按钮 -->
				</form>
				<!-- END FORM-->
			</div>
			</div>
		</div>
		<!--入库单 end -->

		<!-- 明细 start -->
		<div class="tab-pane " id="tab_bill_m_1">
			<div class="tab-pane active" id="tab_1">
				<div class="portlet box blue">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-reorder"></i>调拨明细列表
						</div>
						<div class="tools">
							<a href="javascript:;" class="collapse"></a>
						</div>
					</div>
					<div class="portlet-body">
						<div class="table-toolbar">
							<div class="btn-group">
								<button id="batch_copy_goodsid_m_e" class="btn btn-sm green">
									批量复制货号 <i class="fa fa-copy"></i>
								</button>
							</div>
						</div>
						<p class="text-danger"></p>
						<div class="" id="from_table_data_bill_m"></div>
						<div class="pager"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- 明细 end -->

<div class="form-actions fluid">
	<div class="col-md-offset-3 col-md-9">
		<input type="hidden" name="id" value="" form="warehouse_bill_info_m_info"/>
		<input type="hidden" name="old_system" value="0" id="old_system"/>
		<button type="reset" class="btn default" form="warehouse_bill_info_m_info" id='reset'>重置</button>
		<button type="button" id="from_table_data_info_m_btn" class="btn green" form="warehouse_bill_info_m_info"><i class="fa fa-check"></i> 保存</button>
	</div>
</div>

		<div class="clear"></div>
	</div>

<script type="text/javascript">
function check_order(obj)
{
	var order_sn = $(obj).val();
	if (order_sn)
	{
		$.post('index.php?mod=warehouse&con=WarehouseBillInfoM&act=orderSn_check',{order_sn:order_sn} ,function(data){
			if (data.success == 0)
			{
				bootbox.alert(data.error);
				$(obj).val('');
				return false;
			}else if(data.success == 2){
				//老系统的订单号
				$('#old_system').val('1')
			}else{
				var company_id = data.info.compay_id;	//入库公司
				var consignee = data.info.consignee;	//客户姓名
				$('#warehouse_bill_info_m_info select[name="to_company_id"]').select2("val",company_id).change();
				$('#warehouse_bill_info_m_info select[name="to_warehouse_id"]').select2("val",'').change();
				$('#warehouse_bill_info_m_info textarea[name="bill_note"]').val('顾客姓名:'+consignee);
			}
		})
	}
}
	<%include file="js/table_data_ed.js"%>
	<%include file="js/warehouse_bill_info_m_info_edit.js"%>

</script>