<!--搜索开始-->
<div class="portlet box green">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>操作
		</div>
	</div>
	<div class="portlet-body form">
		<!-- 表单内容 -->
		<form action="#" class="horizontal-form" method="post" id="BatchPrintOrder_print_form">
			<div class="form-body">
				<table class="table table-bordered table-striped  flip-content">
					<tr>
						<td style='vertical-align: middle;' align="right">
							请输入要打印的订单号：

						</td>
						<td style='vertical-align: middle;' align="left">
							<textarea class="form-control" name="ids" placeholder="多个订单号按回车分隔" style='width:80%;display:inline;' rows="6"></textarea>
						</td>
					</tr>
					<tr>
						<td style='vertical-align: middle;' align="center" colspan="2">
							<button name="print_order" class="btn green"><i class="fa fa-check"></i> 打印订单</button>
						</td>
					</tr>

				</table>
			</div>
		</form>
		<!-- END FORM-->
	</div>
</div>
<!-- 修改明细 end -->

<script type="text/javascript">
<!--
	<%include file="js/print.js"%>
//-->
</script>