<table class="table table-bordered table-striped table-hover flip-content">
    <thead class="flip-content">
    <tr>
        <th width="20%">操作人</th>
        <th width="30%">操作时间</th>
        <th width="50%">内容</th>
    </tr>
    </thead>
    <tbody>
    <%foreach from=$page_list.data item=d%>
    <tr>
        <td><%$d.create_user%></td>
        <td><%$d.create_time%></td>
        <td><%$d.operation_content%></td>
    </tr>
    <%/foreach%>
    </tbody>
</table>
<%$pa%>
<script type="text/javascript">
    <!--
    util.hover();
    //-->
</script>