<table class="table table-bordered table-striped table-hover flip-content">
	<thead class="flip-content">
		<tr>
			<th>序号</th>
			<th>材质名称</th>
			<th>税点</th>
			<th>价格</th>
			<th>状态</th>
		</tr>
	</thead>
	<tbody>
	<%foreach from=$page_list.data item=d%>
		<tr data-id="app_material_info_list_<%$d.material_id%>" >
			<td align="center"><%$d.material_id%></td>
			<td><%$d.material_name%></td>
			<td><%$d.tax_point%></td>
			<td><%$d.price%></td>
			<td><%$dd->getEnum("is_enabled",$d.material_status)%></td>
		</tr>
	<%/foreach%>
	</tbody>
</table>
<%$pa%>
<script type="text/javascript">
<!--
	util.hover();
//-->
</script>