<table class="table table-bordered table-striped table-hover flip-content">
    <thead class="flip-content">
    <tr>
        <th>序号</th>
        <th>链接标题</th>
        <th>链接地址</th>
    </tr>
    </thead>
    <tbody>
    <%foreach from=$page_list.data item=d%>
    <tr data-id="forum_links_list_<%$d.id%>">
        <td><%$d.id%></td>
        <td><%$d.title%></td>
        <td><%$d.url_addr%></td>
    </tr>
    <%/foreach%>
    </tbody>
</table>
<%$pa%>
<script type="text/javascript">
    <!--
    util.hover();
    //-->
</script>