<div class="portlet box blue">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>结果列表
		</div>
		<div class="tools">
			<a href="javascript:;" class="collapse">
			</a>
		</div>
	</div>
	
	<div class="portlet-body">
	<!-- 工具栏 -->
		<!--<div class="table-toolbar">
		<%$bar%>
		</div>-->
		<!-- 表格1 -->
		<!--<div class="flip-scroll" id="app_download_zhekou_search_list">
		</div>-->
		<!-- 搜索按钮 -->
		<div class="form-actions fluid">
			<div class="col-md-offset-3 col-md-9">
				<a href="javascript:;" onclick="diamond_dow_mo();"><button type="button" class="btn green"><i class="fa fa-check"></i> 开始下载</button></a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<script type="text/javascript">
<!--
	<%include file="js/app_download_zhekou_list.js"%>
//-->
</script>