<div class="portlet-body form">
	<!-- 表单内容 -->
	<form action="#" method="post" class="horizontal-form" id="app_processor_info_edit">
		<div class="form-body">
			<div class="row">
				 <div class="col-sm-4">
					<div class="form-group">
						<label class="control-label">渠道：<span class="required">*</span></label>
						<select class="form-control" tabindex="1" name="pros[]" multiple>
							<%foreach from=$suppList key=k item=d%>
                            <option value="<%$d.id%>" 
                            	<%foreach from =$ids key=k item=it%>
                            		<%if $d.id==$it%>selected="selected"<%/if%>
                            	 <%/foreach%>
                            	><%$d.name%></option>
                           <%/foreach%>
                        </select>
					</div>
				</div>
                <div class="col-sm-4">

                	<div class="form-group">
						<label class="control-label">订单类型：</label>
						<select class="form-control" tabindex="1" name="order_type">
                            <option value="all">全部</option>
                            <option value="1">客订单</option>
                            <option value="2">备货单</option>
                        </select>
					</div>

					<div class="form-group">
						<label class="control-label">周末休息：</label>
						<select class="form-control" tabindex="1" name="is_rest">
							<option value="4" selected='selected'>不更新</option>
                            <option value="1">不休</option>
                            <option value="2">单休</option>
                            <option value="3">双休</option>
                        </select>
					</div>

					<div class="form-group">
						<label class="control-label">周末上班：</label>
						<textarea name="is_works" class="form-control" style="width:310px;float:left"></textarea>
						<div class="input-group date-picker input-daterange" style="width:5px;height:30px;float:right;margin-right:8px;">
							<input type='text' name="is_work" class="form-control" placeholder="" value='<%$view->get_is_work()%>' />
						</div>
					</div>

					<div class="form-group">
						<label class="control-label">放假日期：</label>
						<textarea name="holiday_times" class="form-control" style="width:310px;float:left"></textarea>
						<div class="input-group date-picker input-daterange" style="width:5px;height:30px;float:right;margin-right:8px;">
							<input type='text' name="holiday_time" class="form-control" placeholder="" value='<%$view->get_holiday_time()|default:''%>'/>
						</div>
					</div>


				</div>
		
			</div>
		</div>
		<!-- 搜索按钮 -->
		
		<div class="form-actions fluid">
			<div class="col-md-offset-3 col-md-9">
				<input type="hidden" name="_id" value="<%$_id|default:0%>" />

				<button type="reset" class="btn default">重置</button>
				<button type="submit" class="btn green"><i class="fa fa-check"></i> 保存</button>
			</div>
		</div>  
	</form>
	<!-- END FORM-->
</div>
<script type="text/javascript">
<!--
	<%include file="js/app_processor_info_edit.js"%>
//-->
</script>