<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-reorder"></i>搜索框
        </div>
        <div class="tools">
            <a href="javascript:;" class="expand">
            </a>
        </div>
    </div>
    <div class="portlet-body form" style="display: none;">
        <!-- 表单内容 -->
        <form action="#" class="horizontal-form" method="post" id="app_processor_info_search_form">
            <div class="form-body">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">供应商名称：</label>
                            <input type="text" name="name" class="form-control" placeholder="请输入" />
                           <!--  <select class="form-control" tabindex="1" name="name">
                                <option value=""></option>
                                <%foreach from=$view->getProcessorList() key=key item=d%>
                                <option value="<%$d.id%>"><%$d.name%></option>
                                <%/foreach%>
                            </select> -->
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">经营范围：</label>
                            <select class="form-control" tabindex="1" name="business_scope">
                                <option value=""></option>
                                <%foreach from=$view->getScopeList() key=key item=d%>
                                <option value="<%$d.name%>" <%if $view->get_business_scope() == $d.name%>selected="selected"<%/if%>><%$d.name%></option>
                                <%/foreach%>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">供应商联系人：</label>
                            <input type="text" name="pro_contact" class="form-control" placeholder="请输入" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">跟单人：</label>
                            <select class="form-control" tabindex="1" name="opra_uname">
                                <option value=""></option>
                                <%foreach from=$view->getOpraUname() item=opra%>
                                <option value="<%$opra%>"><%$opra%></option>
                                <%/foreach%>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">状态：</label>
                            <select class="form-control" tabindex="1" name="status">
                                <option value=""></option>
                                <%foreach from=$view->getStatusList() key=key item=d%>
                                <option value="<%$key%>" <%if $view->get_status() == $key%>selected="selected"<%/if%>><%$d%></option>
                                <%/foreach%>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 搜索按钮 -->
            <div class="form-actions fluid">
                <div class="col-md-offset-3 col-md-9">
                    <button type="reset" class="btn default">重置</button>
                    <button type="submit" class="btn green"><i class="fa fa-check"></i> 搜索</button>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-reorder"></i>结果列表
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse">
            </a>
        </div>

    </div>
    <div class="portlet-body">
        <!-- 工具栏 -->
        <div class="table-toolbar">
            <%$bar%>
        </div>
        <!-- 表格1 -->
        <div class="table-scrollable" id="app_processor_info_search_list">
        </div>
        <div class="clear"></div>
    </div>
</div>
<script type="text/javascript">
<!--
    <%include file = "js/app_processor_info_list.js" %>
//-->
</script>