<div class="row">
	<div class="col-sm-3">
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-reorder"></i>组列表
				</div>
				<div class="tools">
					<a href="javascript:;" class="collapse">
					</a>
				</div>
			</div>
			
			<div class="portlet-body">
				<!-- 表格1 -->
				<ul class="flip-scroll ztree" id="group_user_group_list">
				</ul>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div class="col-sm-9">
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-reorder"></i>组成员信息
				</div>
				<div class="tools">
					<a href="javascript:;" class="collapse">
					</a>
				</div>
			</div>
			
			<div class="portlet-body">
				<div class="table-toolbar">
				<%$bar%>
				</div>
				<!-- 搜索表单start -->
				<!--搜索开始-->
				<!-- 搜索表单end -->

				<!-- 表格1 -->
				<div class="flip-scroll" id="group_user_search_list">
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
<!--
	<%include file="js/group_user_list.js"%>
//-->
</script>