<!DOCTYPE html>
<!--[if IE 8]> <html lang="zh-CN" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="zh-CN" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-CN" class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8"/>
<title><%$smarty.const.SYS_NAME%></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="" name="description" />
<meta content="" name="author" />
<!--全局强制性风格 -->
<link rel="stylesheet" type="text/css" href="public/js/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="public/js/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="public/js/uniform/css/uniform.default.css" />
<!--THEME STYLES -->
<link rel="stylesheet" type="text/css" href="public/js/select2/select2.css" />
<link rel="stylesheet" type="text/css" href="public/js/select2/select2-metronic.css" />
<link rel="stylesheet" type="text/css" href="public/css/style-metronic.css"/>

<link rel="stylesheet" type="text/css" href="public/css/style.css?varsion=0.1" />
<link rel="stylesheet" type="text/css" href="public/css/style-responsive.css" />
<link rel="stylesheet" type="text/css" href="public/css/plugins.css" />
<link rel="stylesheet" type="text/css" href="public/css/themes/blue.css" id="style_color" />
<link rel="stylesheet" type="text/css" href="public/css/pages/login-soft.css" />

<link rel="shortcut icon" href="public/img/favicon.png" />
<style type="text/css">
	html,body{margin:0px;height:100%;}
	#DivLocker {position: absolute;top:0;left:0;background-color:#000000;height:100%;filter:alpha(opacity=65);opacity:0.65;overflow:hidden;width:100%;z-index:99999;text-align:center;}
	#DivLocker div {margin:0 auto;width:300px;font:16px;color:white;}
	#DivLocker div.top {margin:0 auto;height:40%;}
	#DivLocker div.main img,#DivLocker div.main span {float:left;margin-left:30px;}
	#DivLocker div.main span {margin-left:10px;margin-top:22px;}
</style>
</head>
<!--BODY -->
<body class="login" bgcolor="white">
        <div id="DivLocker">
		<div class="top"></div>
		<div class="main">
			<img src="public/img/loading2.gif" width="66" height="66" border="0" alt="" />
			<span>页面加载中，请稍候……</span>
		</div>
	</div>
	<div class="clear"></div>
<!-- BEGIN LOGO -->
<div class="logo">
	<a href="index.php" >
		<%if $smarty.const.SYS_SCOPE eq 'boss' %>
			<img src="" alt=""/>
		<%elseif $smarty.const.SYS_SCOPE eq 'zhanting'%>
			<img src="public/img/logo_zt.png" alt=""/>
		<%/if%>
	</a>
</div>
<!-- END LOGO -->


<!-- BEGIN FORM -->
<div class="content">
<!-- BEGIN FORGOT PASSWORD FORM -->
	<form class="modifypass-form" id="modifypass-form" action="" method="post">
		<h3>修改密码</h3>
		<div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<div class="input-icon">
				<i class="fa fa-lock"></i>
				<input class="form-control placeholder-no-fix" type="password" id="newPass" autocomplete="off" placeholder="新密码" onkeyup="util.checkIntensity(this.value)" name="newPass"/>
			</div>
		</div>
		<div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<table width="145" border="0" cellspacing="0" cellpadding="1">
				<tr align="center">
					<td width="33%" id="pwd_lower">弱</td>
					<td width="33%" id="pwd_middle">中</td>
					<td width="33%" id="pwd_high">强</td>
				</tr>
			</table>
		</div>
		<div class="form-group">
			<div class="input-icon">
				<i class="fa fa-lock"></i>
				<input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="再次输入" name="confrimPass"/>
			</div>
		</div>

		<div class="form-actions">
		<input type="hidden" name="paw_type" value="" id="paw_type">
<input type="hidden" name="uesername" value="<%$uesername%>"/>
<input type="hidden" name="token" value="<%$token%>"/>
<input type="hidden" name="id" value="<%$id%>"/>
<input type="hidden" name="time" value="<%$time%>"/>
<input type="hidden" name="url" value="<%$url%>"/>
			<button type="reset" class="btn blue pull-left">
			重置 <i class="m-icon-swapright m-icon-white"></i>
			</button>
			<button type="submit" class="btn blue pull-right">
			提交 <i class="m-icon-swapright m-icon-white"></i>
			</button>
		</div>
	</form>
	<!-- END FORGOT PASSWORD FORM -->
</div>
</body>
</html>
<!--[if lt IE 9]>
<script src="public/js/respond.min.js"></script>
<script src="public/js/excanvas.min.js"></script>
<![endif]-->
<script type="text/javascript" src="public/js/jquery-1.10.2.js?version=0.2"></script>
<script type="text/javascript" src="public/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="public/js/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="public/js/bootstrap-modal/js/bootstrap-modalmanager.js"></script>
<script type="text/javascript" src="public/js/bootstrap-modal/js/bootstrap-modal.js"></script>
<script type="text/javascript" src="public/js/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="public/js/bootbox/bootbox.min.js"></script>
<script type="text/javascript" src="public/js/jquery.blockui.min.js"></script>
<script type="text/javascript" src="public/js/jquery.cokie.min.js"></script>
<script type="text/javascript" src="public/js/uniform/jquery.uniform.min.js"></script>
<script type="text/javascript" src="public/js/jquery.form.js"></script>
<script type="text/javascript" src="public/js/jquery-validation/dist/jquery.validate.min.js"></script>
<script type="text/javascript" src="public/js/backstretch/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="public/js/app.js"></script>
<script type="text/javascript" src="public/js/jquery.validate.extends.js"></script>
<script type="text/javascript" src="public/js/ls.js"></script>
<script type="text/javascript" src="public/js/util.js?version=0.6"></script>
<script type="text/javascript" src="public/js/ui-extended-modals.js"></script>
<script type="text/javascript" src="public/js/loader.js"></script>

<script type="text/javascript">
<!--
	<%include file="js/update_retrieve_password.js"%>
//-->
</script>