<table class="table table-bordered table-striped table-hover flip-content">
    <thead class="flip-content">
    <tr>
        <th>序号</th>
        <th>配置项</th>
        <th>服务器</th>
        <th>端口</th>
        <th>数据库</th>
        <th>用户名</th>
        <th>密码</th>
        <th>备注</th>
    </tr>
    </thead>
    <tbody>
    <%foreach from=$param key=k item=d%>
    <tr data-id="ConfItem_list_<%$k%>">
        <td><%$k%></td>
        <td><%$d['item']%></td>
        <td><%$d['db_host']%></td>
        <td><%$d['db_port']%></td>
        <td><%$d['db_name']%></td>
        <td><%$d['db_user']%></td>
        <td><%$d['db_pwd']%></td>
        <td><%(isset($d['note']))?$d['note']:null%></td>
    </tr>
    <%/foreach%>
    </tbody>
</table>
<script type="text/javascript">
    <!--
    util.hover();
    //-->
</script>