<div class="portlet-body form">
	<!-- 表单内容 -->
	<form action="#" method="post" class="horizontal-form" id="app_apply_balance_pay">
		<div class="form-body">
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">结算商：</label>
						<input type="text" name="supplier_name" class="form-control" readonly value="<%$payinfo['name']%>"/>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">户名：</label>
						<input type="text" name="account_name" class="form-control" readonly value="<%$payinfo['account_name']%>"/>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">开户行：</label>
						<input type="text" name="bank_name" class="form-control" readonly value="<%$payinfo['bank_name']%>"/>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">剩余金额：</label>
						<div class="input-group">
							<span class="input-group-btn "><button class="btn default" type="button">&yen;</button></span>
							<input type="text" name="total_real" style="color:red;text-align:right;" class="form-control" readonly value="<%$remnant%>"/>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">银行账号：</label>
						<input type="text" name="account" class="form-control" readonly value="<%$payinfo['account']%>"/>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">交易流水号：</label>
						<input type="text" name="bank_serial" class="form-control"  />
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">付款时间：</label>
						<div class="input-group input-medium date date-picker" data-date-format="yyyy-dd-mm" data-date-viewmode="years">
							<input type="text" name="pay_time" class="form-control"/>
							<span class="input-group-btn">
								<button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
							</span>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">付款金额：</label>
						<div class="input-group">
							<span class="input-group-btn "><button class="btn default" type="button">&yen;</button></span>
							<input type="text" style="color:red;text-align:right;" name="pay_total" class="form-control" />
						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- 搜索按钮 -->
		<div class="form-actions fluid">
			<div class="col-md-offset-4 col-md-6">
				<input type="hidden" name="id" value="<%$view->get_id()%>" />
				<input type="hidden" name="apply_no" value="<%$view->get_balance_no()%>" />
				<input type="hidden" name="supplier_id" value="<%$payinfo['id']%>" />
				<button type="submit" class="btn green"><i class="fa fa-check"></i> 确定</button>
				<span type="colse" class="btn dark close-btn"><i class="fa fa-ban"></i> 取消</span>
			</div>
		</div>
	</form>
	<!-- END FORM-->
</div>
<script type="text/javascript">
<!--
	<%include file="js/app_apply_balance_pay.js"%>
//-->
</script>