<table class="table table-bordered table-striped table-hover flip-content">
	<thead class="flip-content">
		<tr>
			<th>序号</th>
			<th>样式名称</th>
		</tr>
	</thead>
	<tbody>
	<%foreach from=$page_list.data item=d%>
		<tr data-id="button_class_list_<%$d.id%>" data-title="<%$d.classname%>">
			<td><%$d.id%></td>
			<td>
				<button class="btn <%$d.classname%>" style="width:120px;">
				<%$d.classname%>
				</button>
			</td>
		</tr>
	<%/foreach%>
	</tbody>
</table>
<%$pa%>
<script type="text/javascript">
<!--
	util.hover();
//-->
</script>