<div class="portlet-body form">
	<!-- 表单内容 -->
	<form action="#" method="post" class="horizontal-form" id="field_scope_info">
		<div class="form-body">
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						  <label class="control-label">销售渠道：</label>
                            <select class="select2_category form-control" name="department_id" tabindex="1">
                                <%foreach from=$channelList key=key item=value%>
                                    <option value="<%$value.id%>" ><%$value.channel_name%></option>
                                <%/foreach%>
                            </select>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">成交价：</label>
						<input type="text" name="transaction_price" class="form-control" placeholder="请输入" onBlur="" value="" maxlength="50" />
					</div>
				</div>
			</div>
		</div>
		<!-- 搜索按钮 -->
		<div class="form-actions fluid">
			<div class="col-md-offset-3 col-md-9">
				<input type="hidden" name="id" value="<%$view->get_id()%>" />
				<button type="reset" class="btn default">重置</button>
				<button type="submit" class="btn green"><i class="fa fa-check"></i> 保存</button>
			</div>
		</div>
	</form>
	<!-- END FORM-->
</div>
<script type="text/javascript">
<!--
	<%include file="js/product_creation_info.js"%>
//-->
</script>