<div class="portlet-body form">
    <!-- 表单内容 -->
    <form action="#" method="post" class="horizontal-form" id="app_factory_apply_info">
        <div class="form-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">操作状态：</label>
                        <!-- <%if $view->get_type()==1 || $view->get_type()==3%> -->
                        <div class="radio-list">
                            <label class="radio-inline">
                                <input type="radio" value="2" <%if $view->get_status()==1%>
                                       checked="checked"<%/if%> name="status"/> 审核通过
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="3" name="status"/> 审核驳回
                            </label>
                        </div>
                        <!-- 
                        <%else%>
                        <div class="radio-list">
                            <label class="radio-inline">
                                <input type="radio" value="5" <%if $view->get_status()==1%>
                                       checked="checked"<%/if%> name="status"/> 作废通过
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="4" name="status"/> 作废驳回
                            </label>
                        </div>
                        <%/if%>
                        -->
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label"><span style="color:red;">*</span>操作备注：</label>
                        <textarea class="form-control" name="info" rows="4"><%$view->get_info()%></textarea>
                    </div>
                </div>


            </div>
        </div>
        <!-- 搜索按钮 -->
        <div class="form-actions fluid">
            <div class="col-md-offset-3 col-md-9">
                <input type="hidden" name="id" value="<%$view->get_apply_id()%>" />
                <button type="reset" class="btn default">重置</button>
                <button type="submit" class="btn green"><i class="fa fa-check"></i> 保存</button>
            </div>
        </div>
    </form>
    <!-- END FORM-->
</div>
<script type="text/javascript">
<!--
    <%include file = "js/app_factory_apply_info.js" %>
//-->
</script>