<div class="portlet-body">
	<!-- 工具栏 -->
	<div class="table-toolbar">
		<%$bar%>
	</div>
	<div class="portlet box blue">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-reorder"></i>批发销售单详情
			</div>
			<div class="tools">
				<a href="javascript:;" class="collapse">
				</a>
			</div>
		</div>
		<div class="portlet-body">
			<!-- 表格1 -->
			<div class="table-scrollable">
				<table class="table table-bordered table-striped table-hover flip-content">
					<tr>
						<td><b>单据编号</b></td>
						<td><%$view->get_bill_no()%></td>
						<td><b>单据状态</b></td>
						<td><%$dd->getEnum('warehouse.bill_status',$status)%></td>
					</tr>
					<tr>
						<%if $show_private_data_zt || $is_show_caigoujia%><%if $show_mingyichenggben==false || $userType == 1%><td><b>名义总金额</b></td>
						<td><%$view->get_pifajia()%><%else%><td></td><td></td></td><%/if%><%else%><td></td><td></td><%/if%>
						<td><b>货品数量</b></td>
						<td><%$view->get_goods_num()%></td>
					</tr>
					<tr>
						<%if $show_pifajia==false || $userType == 1%><td><b>批发总金额</b></td>
						<td><%$view->get_shijia()%></td><%else%><td></td><td></td><%/if%>
						<td><b>批发客户</b></td>
						<td><%$whoMan%></td>
					</tr>
					<tr>
						<%if $show_private_data_zt || $is_show_caigoujia%><%if $show_mingyichenggben==false || $userType == 1%><td><b>差异总金额</b></td>
						<td><%abs($view->get_chajia_pf())%></td><%else%><td></td><td></td></td><%/if%><%else%><td></td><td></td><%/if%>
						<td><b>是否确认发货</b></td>
						<td><%if $view->get_confirm_delivery()==1%>已确认<%else%>未确认<%/if%></td>
					</tr>
					<tr>
						<td><b>制单人</b></td>
						<td><%$view->get_create_user()%></td>
						<td><b>制单时间</b></td>
						<td><%$view->get_create_time()%></td>
					</tr>
					<tr>
						<td><b>审核人：</b></td>
						<td><%if $view->get_bill_status()==2 %><%$view->get_check_user()|default:'--'%><%else%>--<%/if%></td>
						<td><b>审核时间：</b></td>
						<td><%if $view->get_bill_status()==2 %><%$view->get_check_time()|default:'--'%><%else%>--<%/if%></td>
				   </tr>
				   <tr>
					 <td><b>取消人：</b></td>
					 <td><%$billcloseArr.update_user|default:'--'%></td>
					 <td><b>取消时间：</b></td>
					 <td><%$billcloseArr.update_time|default:'--'%></td>
				   </tr>	
                   <%if $smarty.const.SYS_SCOPE eq 'zhanting'%>
                   <tr>
                        <td><b>展厅标签价总计：</b></td>
                        <td ><%$view->get_label_price_total()%></td>
                        <td><b>--</b></td>
                        <td >--</td>
                    </tr>
                    <%/if%>
					<tr>
						<td><b>备注：</b></td>
						<td ><%$view->get_bill_note()%></td>
						<td><b>是否经销商天生一对订单：</b></td>
						<td ><%if $view->get_is_tsyd()==1%>是<%else%>否<%/if%></td>
					</tr>
                    
					<%if $view->is_p_bill_sign_enabled() &&  $view->get_to_company_id() > 0 && $view->get_to_warehouse_id() > 0 %>
						<tr>
							<td><b>是否已签收</b></td>
							<td><font color="red"><%$view->get_sign_user()%> 在 <%$view->get_sign_time()%> 已签收</font></td>
							<td><b>签入仓库</b></td>
							<td><%if $company_type!=3%><%$view->get_to_warehouse_name()%><%/if%></td>
						</tr>
					<%/if%>
                    <tr>
                        <td><b>出库类型</b></td>
                        <td><%$dd->getEnum('warehouse.out_warehouse_type',$view->get_out_warehouse_type())%></td>
                        <td><b>类别</b></td>
                        <td><%$view->get_p_type()%></td>
                    </tr>
                    <tr>
						<td><b>结算人</b></td>
						<td><%$view->get_fin_check_user()%></td>
						<td><b>结算时间</b></td>
						<td><%$view->get_fin_check_time()%></td>
					</tr>
					<tr>
					 <%if $smarty.const.SYS_SCOPE eq 'zhanting'%>
						 <td><b>是否结算</b></td>
						 <td ><%if $view->get_fin_check_status()==2%>是<%else%>否<%/if%></td>
					 <%/if%>
					  <%if $view->is_p_bill_sign_enabled() && $view->get_to_company_id() > 0 && $view->get_to_warehouse_id() <= 0 %>
						<td><b>是否已签收</b></td>
						<td colspan ="3"><font color="red">未签收</font></td>
					 <%/if%> 	
					</tr>
                   
					
					<input type="hidden" id="bill_id" value="<%$view->get_id()%>">
				</table>
			</div>
			<div class="clear"></div>
		</div>
	</div>

	<div class="portlet box blue">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-reorder"></i>批发销售明细列表
			</div>
			<div class="tools">
				<a href="javascript:;" class="collapse">
				</a>
			</div>
		</div>
		<div class="portlet-body">
			<div class="table-toolbar">
				<div class="btn-group">
					<button id="batch_copy_goodsid_m" class="btn btn-sm green">
						批量复制货号 <i class="fa fa-copy"></i>
					</button>
				</div>
			</div>
			<!-- 表格1 -->
			<div class="flip-scroll table-scrollable" id="warehouse_bill_goods_list_p">

			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>
</div>
<script type="text/javascript">
<!--
	<%include file="js/warehouse_bill_info_p_info_show.js"%>
//-->
</script>