<table id="wait_distribution_goods_lists" class="table table-bordered table-striped flip-content">
	<thead>
		<th>序号</th>
		<th>货品款号</th>
         <th>货品货号</th>
		<th style="width:100px">货品名称</th>
		<th>石重</th>
		<th>切工</th>
		<th>净度</th>
		<th>颜色</th>
		<th>证书号</th>
		<th>材质</th>
		<th>金色</th>
		<th>金重</th>
		<th>指圈</th>
		<th>数量</th>
        <th>是否赠品</th>
        <th>是否销账</th>
		<th>仓储货号</th>
	</thead>
	<tbody>
		<%foreach from=$page_list item=g key=k%>		
		<tr>
			<td><%$g.id%></td>
			<td><%$g.goods_sn%></td>
            <td><%if $hidden%><%$g.goods_id%><%/if%></td>
			<td>   <p title='<%$g.goods_name%>'  style='overflow:hidden;width:120px;white-space:nowrap;text-overflow:ellipsis;'><%$g.goods_name%></p> 
			</td>
			<td><%$g.cart%></td>
			<td><%$g.cut%></td>
			<td><%$g.clarity%></td>
			<td><%$g.color%></td>
			<td><%$g.zhengshuhao%></td>
			<td><%$g.caizhi%></td>
			<td><%$g.jinse%></td>
			<td><%$g.jinzhong%></td>
			<td><%$g.zhiquan%></td>
			<td><%$g.goods_count%></td>
            <td><%if $g.is_zp==1%>是<%else%>否<%/if%></td>
            <td><%if $g.is_finance==1%>否<%else%>是<%/if%></td>
			
			<td>

           <%if $referer=="天生一对加盟商" %>
            天生一对订单不在此销账 
          
            <%elseif $peihuo_status == 5%>
			
				<%if $exsis_S==1%>
				<%$arr_order_id_goods[$g.id]%>
				<%/if%>
			<%elseif $peihuo_status == 3%>
            
             <%if $g.is_finance==1 %>
            赠品单且没绑定货品不用销账 
          
            <%else%>
				<input type="text" class="form-control jxc_goods_id" name="jxc_goods_id[]" value='' onkeypress=" if(event.keyCode==13) { tab_next(this); return false;}" id="<%$k%>dds"/>
		
            	<input type="hidden" class="form-control" name="orderDetailId[]" value='<%$g.id%>'/>
            	<%/if%>
               

			<%elseif $peihuo_status == 2%>
          
            <%if $g.is_finance==1 %>
            赠品单且没绑定货品不用销账 
            
            <%else%>
				<input type="text"    class="form-control jxc_goods_id" name="jxc_goods_id[]" value='' onkeypress=" if(event.keyCode==13) { tab_next(this); return false;}" id="<%$k%>dds"/>
		
            	<input type="hidden" class="form-control" name="orderDetailId[]" value='<%$g.id%>'/>
                	<%/if%> 
                  
			<%/if%>
			<!-- <input type="hidden" class="form-control" name="goods_id_price[]" value='<%$g.goods_price-$g.favorable_price%>'/>-->
			</td>
		</tr>
		<%if !empty($g['stone_list'])%>		
		  <%foreach from=$g['stone_list'] item=g2 key=k2%>
		     <%if is_array($g2)%>
			<tr>
			<td><%$g2.id%></td>
			<td><%$g2.goods_sn%></td>
            <td><%if $hidden%><%$g2.goods_id%><%/if%></td>
			<td><%$g2.goods_name%></td>
			<td><%$g2.cart%></td>
			<td><%$g2.cut%></td>
			<td><%$g2.clarity%></td>
			<td><%$g2.color%></td>
			<td><%$g2.zhengshuhao%></td>
			<td><%$g2.caizhi%></td>
			<td><%$g2.jinse%></td>
			<td><%$g2.jinzhong%></td>
			<td><%$g2.zhiquan%></td>
			<td><%$g2.goods_count%></td>
            <td><%if $g2.is_zp==1%>是<%else%>否<%/if%></td>
            <td><%if $g2.is_finance==1%>否<%else%>是<%/if%></td>			
			<td><input type="text" value="" class="form-control jxc_goods_id" data="<%$g['goods_id']%>|<%$g2['goods_id']%>" name="stone_list[]" onkeypress=" if(event.keyCode==13) { tab_next(this); return false;}"/></td>
			</tr>
			<%else%>
			<tr>
			<td colspan="17"><%$g2%></td>
			</tr>
			<%/if%>
			<%/foreach%>		
		<%/if%>
		<%/foreach%>
		<input type="hidden" value='<%$goods_sns%>' id='goods_sns'/><!-- 当前所有货品款号的字符串 -->
		<input type="hidden" value='<%$goods_nums%>' id='goods_nums'/><!-- 当前所有货品数量的字符串 -->
	</tbody>
</table>
<%$pa%>
<script>
$('#wait_distribution_goods_lists input[name="jxc_goods_id[]"]').eq(0).focus();
$("html,body").animate({scrollTop:$('#wait_distribution_goods_lists input[name="jxc_goods_id[]"]').offset().top-310},1000)
</script>