
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>维修转仓单</title>
<style type="text/css">

*{margin:0;padding:0;}
body{font:12px/25px "微软雅黑";}
.tRight{text-align:right;}
.wrap{width:700px;margin:10px auto;}
.wrap button{padding: 5px 15px}
h1{font-size:14px;text-align:center;margin-bottom:10px;}
table.list-ch{border-collapse:collapse;border:none;width:100%;margin-top:10px;}
table.list-ch td{border:1px #333 solid;padding:0 2px;}
table.list-ch thead td{height:35px; line-height:14px; text-align:center; font-weight:bold;}

</style>
<style media="print">
	.Noprint{display:none;}
</style>
</head>
<body>
<!--startprint-->
<div class="wrap">
	<div id="print-div" style="text-align:right;">
    <button id="print_btn" onclick="print_bill();">打 印</button>
    <button id="print_close" onclick="close_bill();">关 闭</button>
	</div>
	<h1>维修调拨单&nbsp;&nbsp;&nbsp;&nbsp;<span style='color:#cc0000;font-size:12px;font-weight:bold;'><!-- (需要财务签字) --></span></h1>
	<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tr height="30px">
			<td width="64px">现在时间：</td>
			<td><%$smarty.now|date_format:'%Y-%m-%d %H:%M:%S'%></td>
			<td width="74px">制 单 人：</td>
			<td><%$data.create_user%></td>
			<td width="64px"> 状 态：</td>
			<td><%$dd->getEnum('warehouse.bill_status', $data.bill_status)%></td>
		</tr>
		<tr>
			<td> 单 号：</td>
			<td colspan="3"><%$data.bill_no%><br><img src="http://bardcode.kela.cn/index.php?code_sn=<%$data.bill_no%>" style="width:360px;height:60px"></td>
			<td> 日 期：</td>
			<td><%substr($data.create_time,0,10)%></td>
		</tr>
		<tr height="30px">
			<td>发货地：</td>
			<td><%$data.from_company_name%></td>
			<td>&nbsp;数量总计：</td>
			<td><%$data.goods_num%></td>
			<td>审 核 人：</td>
			<td><%$data.check_user%></td>
		</tr>
		<tr height="30px">
			<td>收货方：</td>
			<td><%$data.to_warehouse_name|default:$data.to_company_name%></td>
			<td>订单号：</td>
			<td><%$data.order_sn%></td>
			<td>配送单号：</td>
			<td><%$ship_number%></td>
		</tr>
		<tr height="30px">
			<td>顾客姓名：</td>
			<td colspan="1"><%$data.consignee%></td>
			<td>备注：</td>
			<td colspan="2"><%$data.bill_note%></td>
			<td>配送公司：</td>
			<td><%if $data.to_customer_id != 0%><%$kuaidi[$data.to_customer_id]%><%/if%></td>
		</tr>
  </table>
	<table cellpadding="0" cellspacing="0" border="0" class="list-ch">
		<thead>
			<tr>
				<td>货号</td>
				<td>款号</td>
				<td class="tRight">主成<br/>色重</td>
				<td class="tRight">主石<br/>粒数</td>
				<td class="tRight">主石<br/>重</td>
				<td class="tRight">数量</td>
				<td class="tRight">成本价</td>
				<td class="tRight">成本价<br/>小计</td>
				<td class="tRight">检验<br/>数量</td>
				<td class="tRight">副石<br/>粒数</td>
				<td class="tRight">副石<br/>重</td>
				<td>颜<br/>色</td>
				<td>净<br/>度</td>
				<td>证书号</td>
				<td>名称</td>
				<td>单据编号</td>
			</tr>
		</thead>
		<tbody>
		<%foreach from=$goods_info item=d%>
			<tr>
				<td><%$d.goods_id%></td>
				<td><%$d.goods_sn%></td>
				<td class="tRight"><%$d.jinzhong%></td>
				<td class="tRight"><%$d.zhushilishu%></td>
				<td class="tRight"><%if $d.size>0%><%$d.size%><%else%><%$d.zuanshidaxiao|default:'0.00'%><%/if%></td>
				<td class="tRight"><%$d.num%></td>
				<td class="tRight"><%$d.sale_price%></td>
				<td class="tRight"><%$d.sale_price%></td>
				<td class="tRight">1</td>
				<td class="tRight"><%$d.fushilishu%></td>
				<td class="tRight"><%$d.fushizhong%></td>
				<td><%$d.yanse%></td>
				<td><%$d.jingdu%></td>
				<td><%$d.zhengshuhao%></td>
				<td><%$d.goods_name%></td>
				<td><%$data.bill_no%></td>
			</tr>
		<%/foreach%>
        </tbody>
	</table>
</div>
<script type="text/javascript">
function close_bill(){
  window.close();
}

function print_bill(){
	document.getElementById("print-div").style.display="none";
	window.print();


}
</script>
</body>
</html>
