<table class="table table-bordered table-striped table-hover flip-content">
 销售数据 <%$page_list.start_time%> 到 <%$page_list.end_time%>  库存总数：<%$page_list.num_count%>  总成本：<%$page_list.chengbenjia_count%>  总金重：<%$page_list.gold_count%>
	<thead class="flip-content">
	<%*	<tr>
			<td colspan="12">订单总金额：<%$all_price%></td>
		</tr>*%>
    <tr>
			<th>日期</th>
			<th>入库单号</th>
			<th>供应商</th> 
			<th>件数</th>
			<th>克重</th>
			<th>金价</th>  
			<th>工费</th> 
			<th>入库仓</th>  
		</tr>
	</thead>
	<tbody>
	<%foreach from=$page_list.data item=d%>
		<tr data-id="order_list_" data-title="" id=''> 
			<td align="center"><%$d.check_time%></td>
			<td align="center"><%$d.bill_no%></td>
			<td align="center"><%$d.pro_name%></td>
            <td align="center"><%$d.num%></td>
			<td align="center"><%$d.gold%></td>
			<td align="center"><%$d.chengbenjia%></td>
			<td align="center"><%$d.mairugongfei%></td>
			<td align="center"><%$d.to_warehouse_name%></td>
		</tr>
	<%/foreach%>
	</tbody>
</table>
<%$pa%>
<script type="text/javascript">
<!--
	util.hover();
//-->
</script>