<!--搜索开始-->
<div class="portlet box green">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>操作
		</div>
		<div class="tools">
			<a href="javascript:;" class="expand">
			</a>
		</div>
	</div>
	<div class="portlet-body form">
		<!-- 表单内容 -->
		<form action="#" class="horizontal-form" method="post" id="update_piliang_form">
			<div class="form-body">

                            <div class="row">
                                <div id='bachorder' class="col-sm-3">
                                    <div class="form-group">
                                            <input type="file" name="file"><a href="index.php?mod=warehouse&con=UpdatePiliangData&act=downcsv">下载模版</a>
                                    </div>
                                </div>
                                <div id='bachstyle' class="col-sm-3">
                                    <div class="form-group">
                                            <input type="hidden" name="act" value="upload">
                                            <input type="submit" value="上传并修改" >
                                    </div>
                                </div>
                            </div>
			</div>

			
		</form>
		<!-- END FORM-->
	</div>
</div>


<script type="text/javascript">
<!--
	<%include file="js/update_piliang_list.js"%>
//-->
</script>