<div class="portlet-body form">
	<!-- 表单内容 -->
	<form action="#" method="post" class="horizontal-form" id="app_product_type_info">
		<div class="form-body">
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label class="control-label">产品线名称：</label>
						<input type="text" name="product_type_name" class="form-control" placeholder="请输入" onblur="createCode()"  value="<%$view->get_product_type_name()%>" maxlength="20" />
					</div>
				</div>
                                <div class="col-sm-4">
					<div class="form-group">
						<label class="control-label">产品线编码：</label>
						<input type="text" name="product_type_code" class="form-control" placeholder="请输入"  value="<%$view->get_product_type_code()%>" />
					</div>
				</div>

				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">上级分类：</label>
						<select class="select2_category form-control" tabindex="1" name="parent_id">
							<option value=""></option>
							<%foreach from=$view->getProductTree(false) item=p %>
							<option value="<%$p.id%>" <%if $view->get_parent_id()==$p.id%>selected="selected"<%/if%>><%$p.tname%></option>
							<%/foreach%>
						</select>
					</div>
				</div>

				<div class="col-sm-12">
					<div class="form-group">
						<label class="control-label">描述：</label>
						<textarea class="form-control" name="note" rows="4"><%$view->get_note()%></textarea>
					</div>
				</div>
			</div>
		</div>
		<!-- 搜索按钮 -->
		<div class="form-actions fluid">
			<div class="col-md-offset-3 col-md-9">
				<input type="hidden" name="id" value="<%$view->get_product_type_id()%>" />
				<button type="reset" class="btn default">重置</button>
				<button type="submit" class="btn green"><i class="fa fa-check"></i> 保存</button>
			</div>
		</div>
	</form>
	<!-- END FORM-->
</div>
<script type="text/javascript">
<!--
	<%include file="js/app_product_type_info.js"%>
//-->
</script>