<div class="portlet box blue">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>信息详情
		</div>
		<div class="tools">
			<a href="javascript:;" class="collapse">
			</a>
		</div>
	</div>
	<div class="portlet-body">
		<div class="table-toolbar">
            <div class="btn-group">
                <button data-title="订单列表" list-id="72" title="订单审核" name="审核" data-url="index.php?mod=sales&con=BaseOrderInfo&act=check" onclick="util.retrieveConfirm(this);" class="btn btn-sm red">
                    审核 <i class="fa fa-check"></i>
                </button>
            </div>
            <div class="btn-group">
                <button data-title="生成补发" list-id="72" title="生成补发" name="生成补发" data-url="index.php?mod=sales&con=BaseOrderInfo&act=CopeOrderInfo" onclick="CopeOrderInfo(this);" class="btn btn-sm yellow">
                    生成补发单 <i class="fa fa-check"></i>
                </button>
            </div>
            <%$bar%>
		</div>
		<!-- 表格1 -->
        <div class="flip-scroll">
            <table class="table table-bordered table-striped table-hover flip-content">
                <tr>
                    <td align="center">订单号</td>
                    <td align="center" order_id="<%$view->get_id()%>"><%$view->get_order_sn()%>[<%$view->get_id()%>]</td>
                    <td align="center">销售渠道</td>
                    <td align="center"><%if isset($allSalesChannelsData[$order['department_id']])%> <%$allSalesChannelsData[$order['department_id']]%><%/if%></td>
                    <td align="center">客户来源</td>
                    <td align="center"><%$order['customer_source_name']%></td>
                </tr>
                <tr>
                    <td  align="center">客户名称</td>
                    <!-- 为了避嫌审计刷单嫌疑，暂时去掉链接
                    <td  align="center"><a list-id="<%$view->get_user_id()%>" data-title="<%$view->get_consignee()%>"
                       data-url="index.php?mod=bespoke&con=BaseMemberInfo&act=show&id=<%$view->get_user_id()%>&order_id=<%$view->get_id()%>"
                       onclick="util.addNew(this)" href="javascript:void(0);"><%$view->get_consignee()%></a>
                    </td>-->
                    <td  align="center"><%$view->get_consignee()%></td>
                    <td  align="center">顾客手机号码</td>
                    <td  align="center"><%$mobile%></td>
                    <td align="center">订购类型</td>
                    <td align="center"><%if isset($paylist[$view->get_order_pay_type()]) %><%$paylist[$view->get_order_pay_type()]%><%/if%></td>
                </tr>
                <tr>
                    <td  align="center">制单时间</td>
                    <td  align="center"><%$view->get_create_time()%></td>
                    <td  align="center">制单人</td>
                    <td  align="center"><%$view->get_create_user()%></td>
                    <td align="center">申请状态</td>
                    <td align="center"><%if $view->zhantingHidden()%><span <%if $view->conczhuangtai()%>style="color: red;"<%/if%>><%$view->conczhuangtai()|default:'无'%></span><%else%>无<%/if%></td>
                </tr>
                <tr>
                    <td align="center">审核人</td>
                    <td align="center"><%$view->get_check_user()%></td>
                    <td align="center">审核时间</td>
                    <td align="center"><%$view->get_check_time()%></td>
                    <td align="center">订单类型</td>
                    <td align="center"><span <%if $view->get_is_xianhuo()==2%> style="color:red;"<%/if%>><%$dd->getEnum('is_xianhuo',$view->get_is_xianhuo())%></span></td>
                </tr>
                <tr>
                    <td align="center">订单状态</td>
                    <td align="center"><%if $view->zhantingHidden()%><%$dd->getEnum('order.order_status',$view->get_order_status())%><%else%>存档<%/if%></td>
                    <td align="center">支付状态</td>
                    <td align="center"><%if $view->zhantingHidden()%><%$dd->getEnum('order.order_pay_status',$view->get_order_pay_status())%><%else%>存档<%/if%></td>
                    <td align="center">配货状态</td>
                    <td align="center"><%if $view->zhantingHidden()%><%$dd->getEnum('sales.delivery_status',$view->get_delivery_status())%><%else%>存档<%/if%></td>
                </tr>
                <tr>
                    <td align="center">发货状态</td>
                    <td align="center"><%if $view->zhantingHidden()%><%$dd->getEnum('order.send_good_status',$view->get_send_good_status())%><%else%>存档<%/if%></td>
                    <td  align="center">发货时间</td>
                    <td  align="center"><%if $view->zhantingHidden()%><%$view->get_shipfreight_time()%><%else%>00-00-00 00:00:00<%/if%></td>
					<td align="center">是否为赠品单</td>
                    <td align="center"><%if $view->get_is_zp()==1%>是<%else%>否<%/if%></td>
                   
                </tr>

                <tr>
				    <td align="center">录单来源</td>
                    <td align="center"><%$view->get_referer()%></td>
                    <td align="center" >推荐人</td>
                    <td align="center"><%$view->get_recommended()%></td>
                    <td align="center">跟单人</td>
                    <td align="center" ><%$view->get_genzong()%></td>
                </tr>
                <tr>
                    <td align="center" >允许到店时间</td>
                    <td align="center"><%$order_time.allow_shop_time%></td>
                    <td align="center" >是否需要开发票【财务专用】</td>
                    <td align="center"><%if $view->get_is_real_invoice() eq 1%>需要<%else%>不需要<%/if%></td>
                    <td align="center" ></td>
                    <td align="center"></td>
                </tr>
                <%if ($view->getOutSn($view->get_id()))%>
                <tr>
                    <td align="center">外部订单号</td>
                    <td align="center" colspan="5">
                        <%foreach from=$view->getOutSns($view->get_id()) item=d%>
                        <a href="http://trade.tmall.com/detail/orderDetail.htm?spm=a1z09.1.11.30.lWXCcQ&amp;bizOrderId=<%$d|default:''%>"><%$d%></a>
                        <%/foreach%>
                    </td>
                </tr>
                <%/if%>
                <tr>
                    <td align="center">订单备注</td>
                    <td  colspan="5"><span style="color: red"><%if $view->zhantingHidden()%><%$view->get_order_remark()|default:''%><%/if%></span></td>
                </tr>
            </table>
        </div>

		<div class="clear"></div>
	</div>
</div>
<!--
<div class="portlet box green">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>订单金额数据
		</div>
		<div class="tools">
			<a href="javascript:;" class="collapse">
			</a>
		</div>
	</div>
	<div class="portlet-body">
 
        <%if $view->get_department_id()==2 and $view->get_order_status()==2%>
        <div class="table-toolbar"> 
            <div class="btn-group" >
                <button class="btn btn-sm green" onclick="util.editRel(this);" data-url="index.php?mod=sales&con=AppOrderDetails&act=coupon_apply" name="使用订单优惠券" title="使用订单优惠券" list-id="70" data-title="">
                    使用订单优惠券 <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <%/if%>
		 
		<div class="flip-scroll" id="app_order_price_info_list">
            <table class="table table-bordered table-striped table-hover flip-content">
                <thead class="flip-content">
                    <tr>
                        <th>订单总金额</th>
                        <th>商品总金额</th>
                        <th>实际退款</th>
                        <th>优惠总金额</th>
                        <th>优惠券金额</th>
                        <th>配送费</th>
                        <th>保证金</th>
                        <th>支付费</th>
                        <th>包装费</th>
                        <th>贺卡费</th>
                        <th>已付金额</th>
                        <th>未付金额</th>
                    </tr>
                </thead>
                <tbody>
                    <%if $view->isHaveGoods($view->get_id())%>
                    <tr data-id="app_order_price_<%$order_price_info.order_id%>" data-title="<%$order_price_info.order_sn%>">
                        <td align="center"><%$order_account.order_amount%></td>
                        <td align="center"><%$order_account.goods_amount%></td>
                        <td align="center"><%$order_account.real_return_price%></td>
                        <td align="center"><%$order_account.favorable_price%></td>
                        <td align="center"><%$order_account.coupon_price%></td>
                        <td align="center"><%$order_account.shipping_fee%></td>
                        <td align="center"><%$order_account.insure_fee%></td>
                        <td align="center"><%$order_account.pay_fee%></td>
                        <td align="center"><%$order_account.pack_fee%></td>
                        <td align="center"><%$order_account.card_fee%></td>
                        <td align="center"><%$order_account.money_paid%></td>
                        <td align="center"><%$order_account.money_unpaid%></td>
                    </tr>
                    <%/if%>
                </tbody>
            </table>
			<div>
            商品总金额：￥<%$order_account.goods_amount%>元 - 商品优惠：￥<%$order_account.favorable_price%>元 - 订单优惠：￥<%$order_account.coupon_price%>元 - 实退金额￥ <%$order_account.real_return_price%> + 配送费用：￥<%$order_account.shipping_fee%>元 + 保价费用：￥<%$order_account.insure_fee%>元 + 支付费用：￥<%$order_account.pay_fee%>元 + 包装费用：￥<%$order_account.pack_fee%>元 + 贺卡费用：￥<%$order_account.card_fee%>元<br>
            = 订单总金额：￥<%$order_account.order_amount%>元<br>-
             已付款金额：￥<%$order_account.money_paid%>元<br> = 应付款金额：￥<%$order_account.money_unpaid%>元
			 </div>
		</div>
		<div class="clear"></div>
	</div>
</div>
-->
<div style="color:red; font-size:16px">【4C下单注意事项】<br/>
1.【4C空托】镶嵌4C裸钻的空托,其镶嵌方式必须是【镶嵌4C裸钻】或【镶嵌4C裸钻，客户先看钻】,选择其它镶嵌方式视为非4C配钻<br/>
2.【4C裸钻】怎么下4C裸钻？目前仅限通过【4C快捷搜索】和【地区特价钻活动】2个入口加入订单的裸钻才是4C裸钻。通过其他方式加入订单的均为非4C裸钻，且不可通过修改镶嵌方式让裸钻变为4C裸钻(对此约束如有意见，可找产品反馈)。另外4C裸钻的镶嵌方式，可以随便选没有约束的。
</div>

<div class="portlet box blue">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>商品信息
		</div>
		<div class="tools">
			<a href="javascript:;" class="collapse">
			</a>
		</div>
	</div>
	<div class="portlet-body">
		<div class="table-toolbar">
            <%if $view->get_order_status()!=2%>
            <div class="btn-group" >
                <button class="btn btn-sm green" onclick="util.addRel(this);" data-url="index.php?mod=sales&con=AppOrderDetails&act=add" name="添加" title="添加明细" list-id="70" data-id="<%$view->get_id()%>" data-title="">
                    添加 <i class="fa fa-plus"></i>
                </button>
            </div>
            <div class="btn-group" >
                <button class="btn btn-sm green" onclick="util.addRel(this);" data-url="index.php?mod=sales&con=AppOrderDetails&act=addGoods" name="添加新品" title="添加新品" list-id="70" data-id="<%$view->get_id()%>" data-title="">
                    添加新品 <i class="fa fa-plus"></i>
                </button>
            </div>
            <%/if%>

            <div class="btn-group">
                <button class="btn btn-sm dark" id="detail_reload" onclick="util.relReload(this);" data-url="index.php?mod=sales&con=AppOrderDetails&act=search&order_id=<%$view->get_id()%>" name="刷新" title="刷新明细" list-id="70" data-title="">
                    刷新 <i class="fa fa-refresh"></i>
                </button>
            </div>
			<%if $view->get_order_status()!=2%>
			<div class="btn-group">
                <button class="btn btn-sm blue" onclick="util.editRel(this);" data-url="index.php?mod=sales&con=AppOrderDetails&act=editOrderGoods" name="修改商品" title="修改商品" list-id="70" data-title="">
                    修改商品 <i class="fa fa-refresh"></i>
                </button>
            </div>
            <div class="btn-group">
                <button class="btn btn-sm yellow" onclick="util.editRel(this);" data-url="index.php?mod=sales&con=AppOrderDetails&act=EditValenceDelete&order_id=<%$view->get_id()%>" name="删除货品并合并价格" title="删除货品并合并价格" list-id="70">
                    删除货品并合并价格 <i class="fa fa-trash-o"></i>
                </button>
            </div>
            <div class="btn-group">
                <button class="btn btn-sm green" onclick="util.editRel(this);" data-url="index.php?mod=sales&con=AppOrderDetails&act=RaiseGoodsPrice&order_id=<%$view->get_id()%>" name="增加货品价格" title="增加货品价格" list-id="70">
                    增加货品价格 <i class="fa fa-trash-o"></i>
                </button>
            </div>
            <%/if%>
            <div class="btn-group">
                <button class="btn btn-sm green" onclick="util.editRel(this);" data-url="index.php?mod=sales&con=AppOrderDetails&act=show" name="查看明细" title="查看" list-id="70" data-title="">
                    查看 <i class="fa fa-refresh"></i>
                </button>
            </div>
        <%if !$view->getOutSn($view->get_id()) || $view->get_department_id !=2 %>
            <%if $view->get_order_pay_status()<3 && $order_account.money_unpaid>0%>
            <div class="btn-group">
                <button class="btn btn-sm green" onclick="util.editRel(this);" data-url="index.php?mod=sales&con=AppOrderDetails&act=apply_favorable" name="申请优惠" title="申请优惠" list-id="70" data-title="">
                    申请优惠 <i class="fa fa-refresh"></i>
                </button>
            </div>
            <%/if%>
        <%/if%>
        <%if !$view->getOutSn($view->get_id()) || $view->get_department_id !=2 %>
            <%if $view->get_order_pay_status()<3 && $order_account.money_unpaid>0%>
            <div class="btn-group">
                <button class="btn btn-sm green" onclick="util.editRel(this);" data-url="index.php?mod=sales&con=AppOrderDetails&act=apply_daijinquan" name="代金券优惠" title="代金券优惠" list-id="70" data-title="">
                    代金券优惠 <i class="fa fa-refresh"></i>
                </button>
            </div>
            <%/if%>
        <%/if%>  

        <!--<%if !$view->getOutSn($view->get_id())%>
                    <%if $view->get_order_status()!=2%>
                    <div class="btn-group">
                        <button class="btn btn-sm red" onclick="util.relConfirm(this);" data-url="index.php?mod=sales&con=AppOrderDetails&act=off_apply_favorable" name="取消申请优惠" title="取消申请优惠" list-id="70" data-title="取消申请优惠吗">
                            取消申请优惠 <i class="fa fa-refresh"></i>
                        </button>
                    </div>
                    <%/if%>
        <%/if%>-->
        <%if isset($smarty.session.userName) && !in_array($smarty.session.userName,array('张田田','刘燕','杜娟娟','蔡琴','陈妙姗','廉金姗','陈小玲','刘单雄','袁怡靖','霍彦鹏','何金慧','张磊','张松','白芳妮','王春霞'))%>
        		    <%if $view->get_order_status() > 1%>
                    <div class="btn-group">
                        <button class="btn btn-sm blue" onclick="util.editRel(this);" data-url="index.php?mod=sales&con=AppOrderDetails&act=buchan_edit" name="查看明细" title="布产信息修改" list-id="70" data-title="">
                            布产信息修改 <i class="fa fa-refresh"></i>
                        </button>
                    </div>
        			<%/if%>
        <%/if%>
		<%if $view->get_order_pay_status()==1 && $view->get_is_delete()==0%>
			<div class="btn-group">
                <button class="btn btn-sm red" onclick="util.deleteRel(this);" data-url="index.php?mod=sales&con=AppOrderDetails&act=delete" name="删除" title="删除" list-id="70" data-title="">
                    删除 <i class="fa fa-trash-o"></i>
                </button>
            </div>
		<%/if%>
		<%if !empty($dingzhible) %>
		<div class="btn-group">
            <button class="btn btn-sm green" onclick="util.cust(this,toDingzhi);" data-url="index.php?mod=sales&con=AppOrderDetails&act=dingzhi" name="转为定制" title="转为定制" list-id="70" data-referer="<%$view->get_referer()%>">
                转为定制 <i class="fa fa-trash-o"></i>
            </button>
        </div>
		<%/if%>
		<%if !empty($xianhuo) %>
		<div class="btn-group" >
                <button class="btn btn-sm green" onclick="util.cust(this,toXianhuo);" data-url="index.php?mod=sales&con=AppOrderDetails&act=xianhuo" name="转为现货" title="转为现货" list-id="70"  order_sn="<%$view->get_order_sn()%>" data-title="">
                    转为现货 <i class="fa fa-refresh"></i>
                </button>
            </div>
		<%/if%>
        <%if $onlinexianhuo == true %>
        <div class="btn-group" >
                <button class="btn btn-sm green" onclick="util.cust(this,toXianhuo);" data-url="index.php?mod=sales&con=AppOrderDetails&act=on_linexianhuo" name="线上渠道转为现货" title="线上渠道转为现货" list-id="70"  order_sn="<%$view->get_order_sn()%>" data-title="">
                    线上渠道转为现货 <i class="fa fa-refresh"></i>
                </button>
            </div>
        <%/if%>
        <%if isset($smarty.session.userName) && $smarty.session.userName == 'admin'%>
            <div class="btn-group">
                <button class="btn btn-sm yellow" onclick="util.editRel(this);" data-url="index.php?mod=sales&con=AppOrderDetails&act=editDetailsPrice" name="修改商品价格" title="修改商品价格" list-id="70" data-title="">
                    修改商品价格 <i class="fa fa-refresh"></i>
                </button>
            </div>
        <%/if%>
		<%if $view->get_order_pay_status() !=1 && $view->get_order_status()==2 && $view->get_apply_close()==0%>
            <div class="btn-group">
                <button class="btn btn-sm blue" onclick="util.pop4(this);" data-url="index.php?mod=sales&con=AppOrderDetails&act=printRepairOrder" name="打印维修收货单" title="打印维修收货单" list-id="70" data-title="">
                    打印维修取货单 <i class="fa fa-print"></i>
                </button>
            </div>
        <%/if%>
		<%if in_array("1", $online_offline)%>
		<!--只显示给线上管理员使用-->
		<div class="btn-group" >
			<button class="btn btn-sm green" onclick="util.cust(this,showGift);" data-url="index.php?mod=sales&con=AppOrderDetails&act=xianhuo" name="添加赠品" title="添加赠品" list-id="70"  order_sn="<%$view->get_order_sn()%>" data-title="">
				添加赠品 <i class="fa fa-plus"></i>
			</button>
		</div>
			
		<div class="btn-group" >
			<button class="btn btn-sm red" onclick="util.cust(this,deleteGift);" data-url="index.php?mod=sales&con=AppOrderDetails&act=deleteGift" name="删除赠品" title="删除赠品" list-id="70"  order_sn="<%$view->get_order_sn()%>" data-title="">
				删除赠品 <i class="fa fa-minus"></i>
			</button>
		</div>
             <%if $view->get_send_good_status()<2 && $order_account.order_amount>0%>
            <div class="btn-group">
                <button class="btn btn-sm green" onclick="util.editRel(this);" data-url="index.php?mod=sales&con=AppOrderDetails&act=apply_jifenma" name="使用积分码" title="使用积分码" list-id="70" data-title="">
                    使用积分码 <i class="fa fa-refresh"></i>
                </button>
            </div>            
            <%/if%>       
		<!--只显示给线上管理员使用-->
		<%/if%>
		<div class="col-sm-12" id="gifts" style="display: none;">
            <label class="control-label" style="display: block;">可选赠品：</label>
            <table>
                <%foreach from=$gifts item=val%>
                <label class="radio-inline">
                    <input type="checkbox" value=<%$val.id%>  name="gift_id[]" >
                    <%$val.name%>
                </label>
                <input name="gift_num[<%$val.id%>]" data-name="<%$val.name%>" data-goods-number="<%$val.goods_number%>" data-price="<%$val.sell_sprice%>" type="text" value="1" style="display: none;" size="3" />
                <%/foreach%>
            </table>
			<div class="col-sm-12">
				<label class="control-label">赠品备注：</label>
				<textarea id="gift_remark" name="gift_remark" class="form-control" value=""></textarea>
			</div>
			<div class="col-sm-6">
				<label class="control-label">原因：<%if ($view->get_order_status() == 2 )%>（订单已审核，原因必填。）<span class="required">*</span><%/if%></label>
				<textarea id="gift_reason" name="gift_reason" class="form-control" value=""></textarea>
				
			</div>
			<div class="col-sm-6">
				<br/><br/>
				<input id="order_status" name="order_status" type="hidden" value="<%$view->get_order_status()%>" />
				<button type="button" class="btn green" data-url="index.php?mod=sales&con=AppOrderDetails&act=addGift&id=<%$view->get_id()%>" onclick="util.cust(this,addGift);"><i class="fa fa-check"></i> 保存</button>
			</div>
        </div>
		</div>
        <span style="color: #008855">订单明细数量：<%$count|default:0%></span>
		<!-- 表格1 -->
		<div class="flip-scroll" id="app_order_goods_info_detail">

		</div>
			<div>
            商品总金额：￥<%$order_account.goods_amount%>元 - 商品优惠：￥<%$order_account.favorable_price%>元 - 订单优惠：￥<%$order_account.coupon_price%>元 - 退货商品金额：￥<%$order_account.return_goods_price1%>元 +扣除商品优惠：￥<%if $order_account.is_return%><%$order_account.t_favorable_price%>  <%else%> 0.00 <%/if%>元+ 配送费用：￥<%$order_account.shipping_fee%>元 + 保价费用：￥<%$order_account.insure_fee%>元 + 支付费用：￥<%$order_account.pay_fee%>元 + 包装费用：￥<%$order_account.pack_fee%>元 + 贺卡费用：￥<%$order_account.card_fee%>元<br>
            = 订单总金额：￥<%$order_account.order_amount%>元<br>-
             已付款金额：￥<%if $view->zhantingHidden()%><%$order_account.money_paid%><%else%> 0.00 <%/if%>元 + 实退金额 ￥<%if $view->zhantingHidden()%><%$order_account.real_return_price%><%else%> 0.00 <%/if%>元<br> 
             = 应收尾款：￥<%if $view->zhantingHidden()%><%$order_account.money_unpaid%><%else%> <%$order_account.order_amount%> <%/if%>元
			 </div>
		</div>
		<div class="clear"></div>
	</div>
</div>

<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-reorder"></i>赠品
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse">
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="btn-group">
				<!--
                <button class="btn btn-sm blue" onclick="util.addRel(this);" data-url="index.php?mod=sales&con=BaseOrderInfo&act=EditGift" name="修改赠品" title="修改赠品" list-id="70" data-title="">
                    修改赠品 <i class="fa fa-refresh"></i>
                </button>
				-->
            </div>
        </div>
        <!-- 表格1 -->
        <div class="flip-scroll" id="zp">
            <table class="table table-bordered table-striped table-hover flip-content">
                <tr>
                    <td align="center">赠品:</td>
                    <td colspan="7" align="center"><%$gift.giftstr%></td>
                </tr>
                <tr>
                    <td align="center">赠品备注:</td>
                    <td colspan="7" align="center"><%$gift.remark|default:''%></td>
                </tr>
            </table>
        </div>
        <div class="clear"></div>
    </div>
</div>

<%if $view->zhantingHidden()%>
<div class="portlet box blue">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>发票信息
		</div>
		<div class="tools">
			<a href="javascript:;" class="collapse">
			</a>
		</div>
	</div>
	<div class="portlet-body">
		<div class="table-toolbar">

	<%if $view->get_is_delete()==0%>
			 <div class="btn-group" >
                <button class="btn btn-sm blue" onclick="util.editRel(this);" data-url="index.php?mod=sales&con=AppOrderInvoice&act=edit&order_id=<%$view->get_id()%>" name="添加" title="添加明细" list-id="70" data-title="">
                    编辑 <i class="fa fa-edit"></i>
                </button>
            </div>
   <%/if%>
			<div class="btn-group">
				<button class="btn btn-sm dark" onclick="util.relReload(this);" data-url="index.php?mod=sales&con=AppOrderInvoice&act=search&order_id=<%$view->get_id()%>" name="刷新" title="刷新明细" list-id="70" data-title="">
					刷新 <i class="fa fa-refresh"></i>
				</button>
			</div>

			<div class="btn-group">
				<button class="btn btn-sm green" onclick="util.addRel(this);" data-url="index.php?mod=sales&con=AppOrderInvoice&act=add" name="添加" title="添加明细" list-id="70" data-title="">
					添加 <i class="fa fa-plus"></i>
				</button>
			</div>
		</div>
		<!-- 表格1 -->
		<div class="flip-scroll" id="app_order_invoice_info_detail">
		</div>
		<div class="clear"></div>
	</div>
</div>
<%/if%>

<div class="portlet box blue">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>送货地址信息
		</div>
		<div class="tools">
			<a href="javascript:;" class="collapse">
			</a>
		</div>
	</div>
	<div class="portlet-body">
        <%if $view->get_is_delete()==0 and ($view->get_send_good_status()==4 or $view->get_send_good_status()==1)%>
		<div class="table-toolbar">
            <div class="btn-group" >
                <button class="btn btn-sm green" onclick="util.cust(this,add_member_address);" data-url="index.php?mod=sales&con=AppOrderAddress&act=selectaddress" name="选择收货地址" title="选择收货地址" list-id="70" data-title="">
                    选择收货地址 <i class="fa fa-plus"></i>
                </button>
            </div>
            <%if $address!=array()%>
            <div class="btn-group" >
                <button class="btn btn-sm blue" onclick="util.cust(this,changeEx);" data-url="index.php?mod=sales&con=AppOrderAddress&act=changeEx" name="更改物流方式" title="更改物流方式"  >
                    更改物流方式 <i class="fa fa-plus"></i>
                </button>
            </div>
            <%/if%>
		</div>
	    <%/if%>
            <div class="btn-group" >
                <button class="btn btn-sm yellow" onclick="util.cust(this,changeExBf);" data-url="index.php?mod=sales&con=AppOrderAddress&act=changeExBf" name="更改补发地址" title="更改补发地址"  >
                    更改补发地址 <i class="fa fa-plus"></i>
                </button>
            </div>        
		<!-- 表格1 -->
        <%if $address!=array()%>
        订单收货地址：
        <table class="table table-bordered table-striped table-hover flip-content">
            <tr>
                <td align="center">收货人:<%$address.consignee%></td>
                <td align="center">电话:<%$address.tel%></td>
                <td align="center">发货方式:<%if $address.distribution_type==1 %>门店<%else%>公司到客户<%/if%></td>
                <%if $address.express_id!=0%>
                <td align="center">物流:<%foreach from=$express key=key item=d%>
                    <%if $d.id==$address.express_id %>
                    <%$d.exp_name%>
                    <%/if%>
                    <%/foreach%>
                </td>
                <%/if%>
                <td><%if $address.freight_no%>快递号：<%$address.freight_no|default:''%><%/if%></td>
				<td><%if $view->get_referer()=="天生一对加盟商"%>批发客户: <%$address.wholesale_name %><%/if%></td>
            </tr>
            <tr>
                <%if $address.distribution_type==1 %> <td align="center">体验店类型：<%if $address.shop_type==1%>直营店<%else if $address.shop_type==2%>经销商店 <%else%><%/if%></td>
                <td colspan="6" align="center">体验店名称:<%$address.shop_name%></td>
                <%/if%>
            </tr>
            <tr>
                <td align="center">详细地址</td>
                <td colspan="7" align="center"><%$address.addressstr%></td>
            </tr>
            
        </table>
        <%else%>
        <span style="color: red">请设置订单收货地址！</span>
        <%/if%>
		<div class="clear"></div>
	</div>
</div>

<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-reorder"></i>订单日志
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse">
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="btn-group" >
                <button class="btn btn-sm green" onclick="util.addRel(this);" data-url="index.php?mod=sales&con=BaseOrderInfo&act=addLogs&order_id=<%$view->get_id()%>" name="添加" title="添加明细" list-id="70" data-title="">
                    添加 <i class="fa fa-plus"></i>
                </button>
            </div>
            <!--<div class="btn-group" >
                <button class="btn btn-sm blue" onclick="util.editRel(this);" data-url="index.php?mod=sales&con=BaseOrderInfo&act=editLogs" name="添加" title="添加明细" list-id="70" data-title="">
                    编辑 <i class="fa fa-edit"></i>
                </button>
            </div>-->
		</div>
        <!-- 表格1 -->
        <div class="flip-scroll" id="base_action_info_search_list">

        </div>
        <div class="clear"></div>
    </div>
</div>

<script type="text/javascript">
<!--
	<%include file="js/base_order_info_show.js"%>
//-->
</script>
