<!--搜索开始-->
<div class="portlet box green">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>唯品会订单
		</div>
	</div>
	<div class="portlet-body form">
			<div class="form-body">
			<div class="table-toolbar">
			<%$bar%>
			</div>
				<!-- <button class="btn btn-sm yellow" name="离开" onclick="util.closeTab(this);">离开<i class="fa fa-mail-reply"></i></button> -->
			</div>

		<!-- 表单内容 -->
		<!-- END FORM-->
	</div>
</div>
<script type="text/javascript">
<!--
	<%include file="js/wph_order_list.js"%>
//-->
</script>