<div class="portlet-body form">
	<!-- 表单内容 -->
	<form action="#" method="post" class="horizontal-form" id="app_apply_bills_info" enctype="multipart/form-data">
		<div class="form-body">
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">选择供应商：</label>
						<select class="form-control" tabindex="1" name="supplier_id">
							<option value=""></option>
							<%foreach from=$view->get_supplier() item=s%>
							<option value="<%$s.id%>"><%$s.name%></option>
							<%/foreach%>
						</select>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">应付类型：</label>
						<select class="select2_category form-control" name="pay_type">
							<option value=""></option>
							<option value="1">代销借货</option>
							<option value="2">成品采购</option>
							<option value="3">石包采购</option>
						</select>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">发票号：</label>
						<input type="text" name="invoice_no" class="form-control" placeholder="请输入" value="">
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">数据(流水号)：</label>
						<input type="file" name="detail_data" placeholder="请输入" value="">
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">&nbsp;</label>
						<a href="index.php?mod=finance&con=AppApplyBills&act=downloadDemo"><input type="button" name="shijia" class="form-control" value="下载数据格式" /></a>
					</div>
				</div>
			</div>
		</div>
		<!-- 搜索按钮 -->
		<div class="form-actions fluid">
			<div class="col-md-offset-3 col-md-9">
				<input type="hidden" name="id" value="<%$view->get_id()%>" />

				<button type="reset" class="btn default">重置</button>
				<button type="submit" class="btn green"><i class="fa fa-check"></i> 保存</button>
			</div>
		</div>
	</form>
	<!-- END FORM-->
</div>
<script type="text/javascript">
<!--
	<%include file="js/app_apply_bills_info.js"%>
//-->
</script>