<div class="portlet box blue">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>信息详情
		</div>
		<div class="tools">
			<a href="javascript:;" class="collapse">
			</a>
		</div>
	</div>
	<div class="portlet-body">
		<div class="table-toolbar">
			<%$bar%>
		</div>
		<!-- 表格1 -->
		<div class="flip-scroll">
			<table class="table table-bordered table-striped table-hover flip-content">
				<tr>
					<td>字段</td>
					<td>值</td>
				</tr>	
			</table>
		</div>
		<div class="clear"></div>
	</div>
</div>

<script type="text/javascript">
<!--
	<%include file="js/app_salepolicy_together_goods_show.js"%>
//-->
</script>