<table class="table table-bordered table-striped table-hover flip-content">
    <thead class="flip-content">
    <tr>
        <th>序号</th>
        <th>显示名称</th>
        <th>控制器名</th>
    </tr>
    </thead>
    <tbody>
    <%foreach from=$link item=d%>
    <tr data-id="control_list_<%$d.id%>">
        <td align="center"><%$d.id%></td>
        <td><%$d.label%></td>
        <td><%$d.code%></td>
    </tr>
    <%/foreach%>
    </tbody>
</table>

<script type="text/javascript">
    <!--
		util.hover();
    //-->
</script>