<div class="portlet-body form">
	<!-- 表单内容 -->
	<form action="#" method="post" class="horizontal-form" id="gift_goods_info">
		<div class="form-body">
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label class="control-label">赠品名：</label>
						<input type="text" name="name" maxlength="30" class="form-control" placeholder="" value="<%$view->get_name()%>" />
					</div>
				</div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">赠品款号：</label>
                        <input type="text" name="goods_number" class="form-control" placeholder="" value="<%$view->get_goods_number()%>" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">赠品售价：</label>
                        <input type="text" name="sell_sprice" class="form-control" maxlength="8" placeholder="" value="<%$view->get_sell_sprice()%>" />
                    </div>
                </div>
            <!--
<%*
                <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label">销售类型：</label>
                    <div class="radio-list">
                        <%foreach from=$dd->getEnumArray("gift.sell_type") key=k item=value%>
                        <label class="radio-inline">
                            <input type="radio" name="sell_type" <%if $view->get_sell_type()==$value.name or ($view->get_sell_type()=="" and $k==0)%>
                            checked="checked"<%/if%> value="<%$value.name%>"> <%$value.label%>
                        </label>
                        <%/foreach%>
                    </div>
                </div>
            </div>
                *%>
                
-->
                <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label"><%if $is_xz_status%>该款未做过订单!或者订单是关闭或者已发货状态才允许修改<%else%>是否销账：<%/if%></label>
                            <select class="form-control" tabindex="1" name="is_xz" <%if $is_xz_status%>disabled<%/if%>>
                            <option value="1" <%if $view->get_is_xz()==1%>selected<%/if%> >否</option>
                                <option value="2" <%if $view->get_is_xz()==2%>selected<%/if%> >是</option>
                                
                            </select>
                        </div>
                    </div>
                	<div class="col-sm-4">
                       <div class="form-group">
                           <label class="control-label">外部订单是否显示勾选框：</label>
                           <select class="form-control" tabindex="1" name="is_zp">
                               
                               <option value="1" <%if $view->get_is_zp()==1%>selected<%/if%> >是</option>
                               <option value="0" <%if $view->get_is_zp()==0%>selected<%/if%> >否</option>
                           </select>
                       </div>
                   </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">可销售渠道：</label>
                           	线上：<input type='checkbox' <%if $view->get_sale_way()==1 ||  $view->get_sale_way()==12 %>checked<%/if%>  name='is_online1' value ='1'/>
                           	线下：<input type='checkbox' <%if $view->get_sale_way()==2 || $view->get_sale_way()==12%>checked<%/if%>  name='is_online2'value ='2'/>
                        </div>
                    </div>
			</div>
		</div>
		<!-- 搜索按钮 -->
		<div class="form-actions fluid">
			<div class="col-md-offset-3 col-md-9">
				<input type="hidden" name="id" value="<%$view->get_id()%>" />
				
				<input type="hidden" name="_cls" value="<%$smarty.post._cls|default:0%>" />
				<input type="hidden" name="tab_id" value="<%$tab_id|default:0%>" />

				<button type="reset" class="btn default">重置</button>
				<button type="submit" class="btn green"><i class="fa fa-check"></i> 保存</button>
			</div>
		</div>
	</form>
	<!-- END FORM-->
</div>
<script type="text/javascript">
<!--
	<%include file="js/gift_goods_info.js"%>
//-->
</script>