<table class="table table-bordered table-striped table-hover flip-content">
	<thead class="flip-content">
		<tr>
			<th>流水号</th>
			<th>序号</th>
			<th>出货单号</th>
			<th>采购单号</th>
			<th>布产号</th>
			<th>款号</th>
			<th>工厂模号</th>
			<th>款式分类</th>
			<th>客户名</th>
			<th>状态</th>
		</tr>
	</thead>
	<tbody>
	<%foreach from=$data.data item=d%>
		<tr data-id="purchase_type_list_<%$d.id%>" data-title="质检详情：<%$d.purchase_receipt_id%>-<%$d.xuhao%>">
			<td><%$d.purchase_receipt_id%></td>
			<td><%$d.xuhao%></td>
			<td><%$d.ship_num%></td>
			<td><%$d.purchase_sn%></td>
			<td><%$d.bc_sn%></td>
			<td><%$d.style_sn%></td>
			<td><%$d.factory_sn%></td>
			<td><%$d.cat_type%></td>
			<td><%$d.customer_name%></td>
			<td><%$dd->getEnum('receipt.detail_status',$d.status)%></td>
		</tr>
	<%/foreach%>
	</tbody>
</table>
<%$pa%>