<div class="table-scrollable">
	<table class="table table-bordered table-striped table-hover flip-content">
		<thead class="flip-content">
			<tr>
				<th>序号</th>
				<th>所属菜单组</th>
				<th>菜单名称</th>
				<th>编码</th>
				<th>菜单链接</th>
				<th>是否启用</th>
				<th>系统内置</th>
			</tr>
		</thead>
		<tbody>
		<%foreach from=$page_list.data item=d key=k%>
			<tr data-id="menu_recycle_list_<%$d.id%>" data-title="<%$d.label%>">
				<td align="center"><%$d.id%></td>
				<td>
					<a href="javascript:;" class="tab-con-a" data-title="<%$d.group_name%>" data-id="menu_group-<%$d.group_id%>" data-url="index.php?mod=management&con=MenuGroup&act=show&id=<%$d.group_id%>"><%$d.group_name%></a>
				</td>
				<td><%$d.label%></td>
				<td><%$d.code%></td>
				<td><%$d.url%></td>
				<td><span class="glyphicon <%if $d.is_enabled%>glyphicon-ok<%else%>glyphicon-remove<%/if%>"></span></td>
				<td><span class="glyphicon <%if $d.is_system%>glyphicon-ok<%else%>glyphicon-remove<%/if%>"></span></td>
			</tr>
		<%/foreach%>
		</tbody>
	</table>
</div>
<div class="pager">
<%$pa%>
</div>
<script type="text/javascript">
<!--
	util.hover();
	util.check(util.getItem('listDIV'));
//-->
</script>