<!--搜索开始-->
<div class="portlet box green">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>操作
		</div>
	</div>
	<div class="portlet-body form">
		<!-- 表单内容 -->
		<form action="#" class="horizontal-form" method="post" id="warehouse_goods_search_form_edit">
			<div class="form-body">
				<table class="table table-bordered table-striped  flip-content">
					<tr>
						<td style='vertical-align: middle;' align="right">
							按旧系统货号导入：

						</td>
						<td style='vertical-align: middle;' align="left">
							<textarea class="form-control" name="goods_ids" placeholder="请输入货号第个货号按回车分隔" style='width:80%;display:inline;' rows="6"></textarea>
						</td>
					</tr>
					<tr>
						<td style='vertical-align: middle;' align="center" colspan="2">
							<button type="submit" class="btn green"><i class="fa fa-check"></i> 导入</button>
						</td>
					</tr>

				</table>
			</div>
		</form>
		<!-- END FORM-->
	</div>
</div>
<div id="goods_detail">

</div>


<!-- 修改明细 end -->

<script type="text/javascript">
<!--
	<%include file="js/warehouse_goods_imp.js"%>
//-->
</script>