<table class="table table-bordered table-striped table-hover flip-content">
	<thead class="flip-content">
		<tr>
			<th>序号</th>
			<th>操作人</th>
			<th>状态</th>
			<th>操作IP</th>
			<th>操作时间</th>
			<th>备注</th>
			<th>删除状态</th>
		</tr>
	</thead>
	<tbody>
	<%foreach from=$page_list.data item=d%>
		<tr data-id="app_salepolicy_channel_log_list_<%$d.id%>" data-title="<%$d.id%>">
			<td align="center"><%$d.id%></td>
			<td align="center"><%$d.create_user%></td>
			<td align="center"><%if $d.status=='1'%>保存<%/if%><%if $d.status=='2'%>申请<%/if%><%if $d.status=='3'%>审核通过<%/if%><%if $d.status=='4'%>未通过<%/if%><%if $d.status=='5'%>取消<%/if%></td>
			<td align="center"><%$d.IP%></td>
			<td align="center"><%$d.create_time%></td>
			<td align="center"><%$d.remark%></td>
			<td align="center"><%if $d.is_delete=='1'%>未删除<%/if%><%if $d.is_delete=='2'%>已删除<%/if%></td>
		</tr>
	<%/foreach%>
	</tbody>
</table>
<%$pa%>
<script type="text/javascript">
<!--
	util.hover();
//-->
</script>