<table class="table table-bordered table-striped table-hover flip-content">
	<thead class="flip-content">
	<tr>
		<th>序号</th>
		<th>资源类型</th>
		<th>权限名称</th>
		<th>编码</th>
		<th>描述</th>
	</tr>
	</thead>
	<tbody>
	<%foreach from=$page_list.data item=d%>
	<tr data-id="permission_list_<%$d.id%>" >
		<td><%$d.id%></td>
		<td><%$d.label%></td>
		<td><%$d.name%></td>
		<td><%$d.code%></td>
		<td><%$d.note%></td>
	</tr>
	<%/foreach%>
	</tbody>
</table>
<%$pa%>
<script type="text/javascript">
	<!--
	util.hover();
	//-->
</script>