<style type="text/css">
iframe[src="about:blank"] {
  display: block !important;
}
#qidian_wpa_2852155799_32{
    right:130px !important;
}
</style>
<!--搜索开始-->
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-reorder"></i>搜索框
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse">
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        <!-- 表单内容 -->
        <form action="#" class="horizontal-form" method="post" id="zt_diamond_list_search_form">
            <div class="form-body">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">石重：</label>
                            <div class="input-group  input-daterange">
                                <input type="text" class="form-control" name="carat_min" value="<%$args.carat_min|default:''%>" />
                                <span class="input-group-addon">to</span>
                                <input type="text" class="form-control" name="carat_max" value="<%$args.carat_max|default:''%>" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">批发价格：</label>
                            <div class="input-group  input-daterange">
                                <input type="text" class="form-control" name="pf_price_min" value="" />
                                <span class="input-group-addon">to</span>
                                <input type="text" class="form-control" name="pf_price_max" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">证书类型：</label>
                            <div class="btn-group box-btnlist" data-toggle="buttons">
                                <%foreach from=$view->getCertList() item=val%>
								<%if is_array($args.cert) && in_array($val,$args.cert)%>
									<label class="btn btn-default active">
										<input type="checkbox" name="cert[]" checked="checked" value="<%$val%>" class="toggle"> <%$val%>
									</label>
								<%else%>
									 <label class="btn btn-default">
										<input type="checkbox" name="cert[]" value="<%$val%>" class="toggle"> <%$val%>
									 </label>
								<%/if%>
                                <%/foreach%>
                            </div>
                        </div>
                    </div>
				</div>
				<div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label class="control-label">颜色：</label>
                            <div class="btn-group box-btnlist" data-toggle="buttons">
                                <%foreach from=$view->getColorList() item=val%>
								<%if is_array($args.color) && in_array($val,$args.color)%>
									<label class="btn btn-default active">
										<input type="checkbox" name="color[]" checked="checked" value="<%$val%>" class="toggle"> <%$val%>
									</label>
								<%else%>
									<label class="btn btn-default">
										<input type="checkbox" name="color[]" value="<%$val%>" class="toggle"> <%$val%>
									</label>

								<%/if%>
                                <%/foreach%>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">切工：</label>
                            <div class="btn-group box-btnlist" data-toggle="buttons">
                                <%foreach from=$view->getCutList() item=val%>
                                <%if is_array($args.cut) && in_array($val,$args.cut)%>
									<label class="btn btn-default active">
										<input type="checkbox" name="cut[]" checked="checked" value="<%$val%>" class="toggle"> <%$val%>
									</label>
								<%else%>
									<label class="btn btn-default">
										<input type="checkbox" name="cut[]" value="<%$val%>" class="toggle"> <%$val%>
									</label>

								<%/if%>
                                <%/foreach%>
                            </div>
                        </div>
                    </div>
                 </div>
				 <div class="row">
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label class="control-label">净度：</label>
                            <div class="btn-group box-btnlist" data-toggle="buttons">
                                <%foreach from=$view->getClarityList() item=val%>
								<%if is_array($args.clarity) && in_array($val,$args.clarity)%>
									<label class="btn btn-default active">
										<input type="checkbox" name="clarity[]" checked="checked" value="<%$val%>" class="toggle"> <%$val%>
									</label>
								<%else%>
									<label class="btn btn-default">
										<input type="checkbox" name="clarity[]" value="<%$val%>" class="toggle"> <%$val%>
									</label>

								<%/if%>                                
                                <%/foreach%>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">抛光：</label>
                            <div class="btn-group box-btnlist" data-toggle="buttons">
                                <%foreach from=$view->getPolishList() item=val%>
								<%if is_array($args.polish) && in_array($val,$args.polish)%>
									<label class="btn btn-default active">
										<input type="checkbox" name="polish[]" checked="checked" value="<%$val%>" class="toggle"> <%$val%>
									</label>
								<%else%>
									<label class="btn btn-default">
										<input type="checkbox" name="polish[]" value="<%$val%>" class="toggle"> <%$val%>
									</label>

								<%/if%>    
                                
                                <%/foreach%>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3" >
                        <div class="form-group">
                            <label class="control-label">对称：</label>
                            <div class="btn-group box-btnlist" data-toggle="buttons">
                                <%foreach from=$view->getSymmetryList() item=val%>
								<%if is_array($args.symmetry) && in_array($val,$args.symmetry)%>
									<label class="btn btn-default active">
										<input type="checkbox" name="symmetry[]" checked="checked" value="<%$val%>" class="toggle"> <%$val%>
									</label>
								<%else%>
									<label class="btn btn-default">
										<input type="checkbox" name="symmetry[]" value="<%$val%>" class="toggle"> <%$val%>
									</label>

								<%/if%> 
     
                                <%/foreach%>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">荧光：</label>
                            <div class="btn-group box-btnlist" data-toggle="buttons">
                                <%foreach from=$view->getFluorescenceList() item=val%>
                                <label class="btn btn-default">
                                    <input type="checkbox" name="fluorescence[]" value="<%$val%>" class="toggle"> <%$val%>
                                </label>
                                <%/foreach%>
                            </div>
                        </div>
                    </div>
				</div>
				<div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label">形状：</label>
                            <div class="btn-group box-btnlist" data-toggle="buttons">
                                <%foreach from=$view->getShapeList() key=key item=val%>
								<%if is_array($args.shape) && in_array($key,$args.shape)%>
									<label class="btn btn-default active">
										<input type="checkbox" name="shape[]" checked="checked" value="<%$key%>" class="toggle"> <%$val%>
									</label>
								<%else%>
									<label class="btn btn-default">
										<input type="checkbox" name="shape[]" value="<%$key%>" class="toggle"> <%$val%>
									</label>

								<%/if%>
                               <%/foreach%>
                            </div>
                        </div>
                    </div>
				</div>
				 <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group" style="margin-top: 27px;">
                            <div class="checkbox-list">
                                <label class="checkbox-inline">
                                    <input type="checkbox" value="1" name="gm" id="gm"> 星耀钻石
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">gemx证书号：</label>
                            <input type="text" name="gemx_zhengshu" class="form-control" placeholder="请输入" value="" />
                        </div>
                    </div>
				 </div>
				 <div class="row">
                    <!--天生一对重量-->
                    <div class="col-sm-3">
                        <div class="form-group" style="margin-top: 27px;">
                            <div class="checkbox-list">
                                <label class="checkbox-inline">
                                    <input type="checkbox" value="1" <%if $is_logo%>checked="checked"<%/if%> id="ysyd" name="ysyd"> 天生一对
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" id="dia_list_zuanzh1" style="display:block;">
                        <div class="form-group">
                            <label class="control-label">天生一对钻重1：</label>
                            <div class="input-group  input-daterange">
                                <input class="form-control" type="text" name="s_carats_tsyd1" id="s_carats_tsyd1" value="<%$param['s_start1']%>" placeholder="0.00" onBlur="value = value.replace(/[^\.\d]/g, '');" >
                                <span class="input-group-addon">to</span>
                                <input class="form-control" type="text" name="e_carats_tsyd1" id="e_carats_tsyd1" value="<%$param['s_end1']%>" placeholder="0.00" onBlur="value = value.replace(/[^\.\d]/g, '');" >
                            </div>
                        </div>
                    </div>
                    <!--天生一对重量-->
                    <div class="col-sm-4" id="dia_list_zuanzh2" style="display:block;">
                        <div class="form-group">
                            <label class="control-label">天生一对钻重2：</label>
                            <div class="input-group  input-daterange">
                                <input class="form-control" type="text" name="s_carats_tsyd2" id="s_carats_tsyd2" value="<%$param['e_start2']%>" placeholder="0.00" onBlur="value = value.replace(/[^\.\d]/g, '');" >
                                <span class="input-group-addon">to</span>
                                <input class="form-control" type="text" name="e_carats_tsyd2" id="e_carats_tsyd2" value="<%$param['e_end2']%>" placeholder="0.00" onBlur="value = value.replace(/[^\.\d]/g, '');" >
                            </div>
                        </div>
                    </div>
				</div>
				<div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">证书号：</label>
                            <input type="text" name="cert_id" class="form-control" placeholder="请输入" value="" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">货品类型：</label>
                            <select class="form-control" tabindex="1" name="good_type">
                                <option value=""></option>
                                <option value="1">现货</option>
                                <option value="2">期货</option>
                            </select>
                        </div>
                    </div>
                </div>
				  <div class="row">
					<div class="col-sm-3">
						<div class="form-group" style="margin-top: 27px;">
							<div class="checkbox-list">
								<label class="checkbox-inline">
									<input type="radio" value="asc" name="zdj" id="zdj">价格小到大
								</label>
								<label class="checkbox-inline">
									<input type="radio" value="desc" name="zdj" id="zdj">价格大到小
								</label>
							</div>
						</div>
					</div>  
					<div class="col-sm-3">
						<div class="form-group" style="margin-top: 27px;">
							<div class="checkbox-list">
								<label class="checkbox-inline">
									<input type="radio" value="asc" name="stonesort" id="stonesort">石重小到大
								</label>
								<label class="checkbox-inline">
									<input type="radio" value="desc" name="stonesort" id="stonesort">石重大到小
								</label>
							</div>
						</div>
					</div>  
					<div class="col-sm-3">
						<div class="form-group" style="margin-top: 27px;">
							<div class="checkbox-list">
								<label class="checkbox-inline">
									<input type="radio" value="asc" name="yansesort" id="yansesort">颜色正序
								</label>
								<label class="checkbox-inline">
									<input type="radio" value="desc" name="yansesort" id="yansesort">颜色倒序
								</label>
							</div>
						</div>
					</div>  
					<div class="col-sm-3">
						<div class="form-group" style="margin-top: 27px;">
							<div class="checkbox-list">
								<label class="checkbox-inline">
									<input type="radio" value="asc" name="jdsort" id="jdsort">净度正序
								</label>
								<label class="checkbox-inline">
									<input type="radio" value="desc" name="jdsort" id="jdsort">净度倒序
								</label>
							</div>
						</div>
					</div>  
				   </div>
            </div>
            <!-- 搜索按钮 -->
            <div class="form-actions fluid">
                <div class="col-md-offset-3 col-md-9">
                    <button type="reset" class="btn default">重置</button>
                    <button type="submit" class="btn green"><i class="fa fa-check"></i> 搜索</button>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>

<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-reorder"></i>结果列表
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse">
            </a>
        </div>
    </div>

    <div class="portlet-body">
        <!-- 工具栏 -->
        <div class="table-toolbar">
            <%$bar%>
            <%if $smarty.const.SYS_SCOPE eq 'zhanting' %>    
                <%if $kefu_type==1%> 
                    <script charset="utf-8" type="text/javascript" src="http://wpa.b.qq.com/cgi/wpa.php?key=XzkzODAzMzUxMF80NjI4NzZfNDAwOTk4NTE1MV8"></script>
                    <!-- WPA start -->
                    <script id="qd28521557990588e3d905f8c3af5ce41c9510f402ad" src="https://wp.qiye.qq.com/qidian/2852155799/0588e3d905f8c3af5ce41c9510f402ad" charset="utf-8" async defer></script>
                    <!-- WPA end -->
          
                <%elseif $kefu_type==2 %>
                    <script charset="utf-8" type="text/javascript" src="http://wpa.b.qq.com/cgi/wpa.php?key=XzkzODAzMzUxMF80NjI4NzZfNDAwOTk4NTE1MV8"></script>
                
                <%else%>                   
                    <!-- WPA start -->
                    <script id="qd28521557990588e3d905f8c3af5ce41c9510f402ad" src="https://wp.qiye.qq.com/qidian/2852155799/0588e3d905f8c3af5ce41c9510f402ad" charset="utf-8" async defer></script>
                    <!-- WPA end -->                    
                <%/if%> 

            <%/if%>  &nbsp;&nbsp; 
            <!--<a href="http://www.diamondselections.com/ifrmRetailFeed.aspx?AccountID=73827" target="_new"><font color="red">更多裸钻查询》汇率: 6.92</font></a>    -->      
        </div>
        <!-- 表格1 -->
        <div class="flip-scroll" id="zt_diamond_list_search_list">
        </div>
        <div class="clear"></div>
    </div>
</div>
<script type="text/javascript">
<!--
    <%include file = "js/diamond_list_list.js"%>
//-->
</script>