<!--搜索开始-->
<div class="portlet box green">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>搜索框
		</div>
		<div class="tools">
			<a href="javascript:;" class="collapse">
			</a>
		</div>
	</div>
	<div class="portlet-body form">
		<!-- 表单内容 -->
		<form action="#" class="horizontal-form" method="post" id="huangou_goods_search_form">
			<div class="form-body">
				<div class="row">
					<div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">销售渠道：</label>
							<select class="form-control" name="channel_id">
								<option value=""></option>
								<%foreach from=$view->getSalesChannels() item=vo %>
								<option value="<%$vo.id%>"><%$vo.channel_name%></option>
								<%/foreach%>
							</select>  
                        </div>
                    </div> 
					<div class="col-sm-3">
						<div class="form-group">
						<label class="control-label">款号：</label><span style='color:red;'></span>
							<input type='text' name="style_sn" class="form-control" placeholder="请输入"/>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="form-group">
							<label class="control-label">是否启用：</label><span style='color:red;'></span>
							<select class="form-control" name="status" tabindex="1">
								<option value="">全部</option>
								<option value="1">启用</option>
								<option value="0">停用</option>
							</select>
						</div>
					</div>					
				</div>
			</div>
			<!-- 搜索按钮 -->
			<div class="form-actions fluid">
				<div class="col-md-offset-3 col-md-9">
					<button type="reset" class="btn default">重置</button>
					<button type="submit" class="btn green"><i class="fa fa-check"></i> 搜索</button>
				</div>
			</div>
		</form>
		<!-- END FORM-->
	</div>
</div>

<div class="portlet box blue">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>结果列表
		</div>
		<div class="tools">
			<a href="javascript:;" class="collapse">
			</a>
		</div>
	</div>

	<div class="portlet-body">
	<!-- 工具栏 -->
		<div class="table-toolbar">
		<%$bar%>
		</div>
		<!-- 表格1 -->
		<div class="flip-scroll"  id="huangou_goods_search_list">
		</div>
		<div class="clear"></div>
	</div>
</div>
<script type="text/javascript">
<!--
	<%include file="js/huangou_goods_list.js"%>
//-->
</script>