<!--搜索开始-->
<div class="portlet box green">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>搜索框
		</div>
		<div class="tools">
			<a href="javascript:;" class="collapse">
			</a>
		</div>
	</div>
	<div class="portlet-body form">
		<!-- 表单内容 -->
		<form action="#" class="horizontal-form" method="post" id="base_salepolicy_goods_search_form">
			<div class="form-body">
				<div class="row">
					<div class="col-sm-3">
						<div class="form-group">
							<label class="control-label">货号：</label>
                            <textarea class="form-control"  rows="4" cols="20" name="goods_id" placeholder="可批量输入货号需,号或空格分隔"></textarea>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="form-group">
							<label class="control-label">款号：</label>
							<input type="text" name="goods_sn" class="form-control" placeholder="请输入">
						</div>
					</div>
					<div class="col-sm-3">
                        <div class="form-group">
							<label class="control-label">镶口：</label>
							<select class="form-control" tabindex="1" name="stone">
								<option value=""></option>
								<%foreach from=$Stone key=key item=p%>
									<option value="<%$p%>"><%$p%></option>
								<%/foreach%>
							</select>
						</div>
                    </div>
					<div class="col-sm-3">
                        <div class="form-group">
							<label class="control-label">手寸：</label>
							<select class="form-control" tabindex="1" name="finger">
								<option value=""></option>
								<%foreach from=$Finger key=key item=p%>
									<option value="<%$p%>"><%$p%></option>
								<%/foreach%>
							</select>
						</div>
                    </div>
					<div class="col-sm-3">
                        <div class="form-group">
							<label class="control-label">材质：</label>
							<select class="form-control" tabindex="1" name="caizhi">
								<option value=""></option>
								<%foreach from=$Caizhi key=key item=p%>
									<option value="<%$key%>"><%$p%></option>
								<%/foreach%>
							</select>
						</div>
                    </div>
					<div class="col-sm-3">
                        <div class="form-group">
							<label class="control-label">材质颜色：</label>
							<select class="form-control" tabindex="1" name="yanse">
								<option value=""></option>
								<%foreach from=$Yanse key=key item=p%>
									<option value="<%$key%>"><%$p%></option>
								<%/foreach%>
							</select>
						</div>
                    </div>
                    <!--<div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">证书号：</label><span style='color:red;'></span>
                            <input type='text' name="zhengshuhao" class="form-control" placeholder="请输入"/>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">证书类型：</label><span style='color:red;'></span>
                            <select class="select2_category form-control" name="zhengshu_type" tabindex="1" >
                                    <option value="">全部</option>
                                    <%foreach from=$zhengshuleibie item=z%>
                                    <option value="$z"><%$z%></option>
                                    <%/foreach%>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">主石颜色：</label><span style='color:red;'></span>
                            <select class="select2_category form-control" name="zs_color" tabindex="1" >
                                    <option value="">全部</option>
                                    <%foreach from=$color_arr item=c%>
                                        <option value="<%$c%>"><%$c%></option>
                                    <%/foreach%>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">主石净度：</label><span style='color:red;'></span>
                            <select class="select2_category form-control" name="zs_clarity" tabindex="1" >
                                    <option value="">全部</option>
                                    <%foreach from=$clarty_arr item=c%>
                                        <option value="<%$c%>"><%$c%></option>
                                    <%/foreach%>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">金饰类型：</label><span style='color:red;'></span>
                            <select class="select2_category form-control" name="jinshi_type" tabindex="1" >
                                <option value="">全部</option>
                                <%foreach from=$jinshi_type item=j%>
                                <option value="$j"><%$j%></option>
                                <%/foreach%>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">金托类型：</label><span style='color:red;'></span>
                            <select class="select2_category form-control" name="jintuo_type" tabindex="1" >
                                <option value="">全部</option>
                                <%foreach from=$jintuo_type item=j%>
                                <option value="$j"><%$j%></option>
                                <%/foreach%>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">指圈号：</label><span style='color:red;'></span>
                            <input type='text' name="shoucun" class="form-control" placeholder="请输入"/>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">供应商：</label>
                        <div class="form-group">
                            <select class="select2_category form-control" name="processor" tabindex="1" >
                                    <option value=""></option>
                                    <%foreach from=$pro_list item=c%>
                                        <option value="<%$c.id%>"><%$c.name%></option>
                                    <%/foreach%>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">模号：</label><span style='color:red;'></span>
                            <input type='text' name="mohao" class="form-control" placeholder="请输入"/>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">主石：</label><span style='color:red;'></span>
                            <select class="select2_category form-control" name="zhushi" tabindex="1" >
                                    <option value="">全部</option>
                                    <%foreach from=$zhushi item=z%>
                                    <option value="$z"><%$z%></option>
                                    <%/foreach%>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">材质：</label>
                            <select class="form-control" tabindex="1" name="zhuchengse">
                            <option value=""></option>
                            <%foreach from=$zhuchengseList item=t%>
                            <option value="<%$t.material_name%>"><%$t.material_name%></option>
                            <%/foreach%>
                            </select>
                        </div>
                    </div>-->
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">产品线：</label>
                            <select class="form-control" tabindex="1" name="chanpinxian">
                            <option value=""></option>
                            <%foreach from=$chanpinxian item=t%>
                            <option value="<%$t.id%>"><%$t.name%></option>
                            <%/foreach%>
                            </select>
                        </div>
                    </div>
					<div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">输入价格区间：</label>
                            <div class="input-group date-picker input-daterange">
                                <input type="text" class="form-control" name="price_start" />
                                <span class="input-group-addon">to</span>
                                <input type="text" class="form-control" name="price_end" />
                            </div>
                        </div>
                    </div>
					<div class="col-sm-3">
                        <div class="form-group">
							<label class="control-label">货品类型：</label>
							<select class="form-control" tabindex="1" name="isXianhuo">
								<option value=""></option>
								<option value="0">期货</option>
								<option value="1">现货</option>
							</select>
						</div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
							<label class="control-label">货品状态：</label>
							<select class="form-control" tabindex="1" name="is_sale">
								<option value=""></option>
								<option value="0">下架</option>
								<option value="1">上架</option>								
							</select>
						</div>
                    </div>
                    
                    <div class="col-sm-3">
                        <div class="form-group">
							<label class="control-label">款式分类：</label>
							<select class="form-control" tabindex="1" name="category">
								<option value=""></option>
								<%foreach from=$cgt key=key item=p%>
                                <option value="<%$p.cat_type_id%>"><%$p.cat_type_name%></option>
                                <%/foreach%>							
							</select>
						</div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">所在公司：</label><span style='color:red;'></span>
                            <select class="select2_category form-control" name="company_id" tabindex="1" >
                                <option value=""></option>
                                <%foreach from=$companylist item=c%>
                                    <option value="<%$c.id%>"><%$c.company_name%></option>
                                <%/foreach%>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">所在仓库：</label><span style='color:red;'></span>
                            <select class="select2_category form-control" name="warehouse_id" tabindex="1" disabled="disabled">
                                <option value=""></option>
                                
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
							<label class="control-label">是否存在销售政策：</label>
							<select class="form-control" tabindex="1" name="is_policy">
								<option value=""></option>
								<option value="1">否</option>
								<option value="2">是</option>								
							</select>
						</div>
                    </div>
				</div>
			</div>
			<!-- 搜索按钮 -->
			<div class="form-actions fluid">
				<div class="col-md-offset-3 col-md-9">
					<button type="reset" class="btn default">重置</button>
					<button type="submit" class="btn green"><i class="fa fa-check"></i> 搜索</button>
				</div>
			</div>
		</form>
		<!-- END FORM-->
	</div>
</div>

<div class="portlet box blue">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>结果列表
		</div>
		<div class="tools">
			<a href="javascript:;" class="collapse">
			</a>
		</div>
	</div>
<!--绝对定位一个div-->
	<div class="portlet-body" style="position: relative;">
        <div class="leftblock" style="display:block;width: 340px;position:absolute;left: 70%;"></div>
	<!-- 工具栏 -->
		<div class="table-toolbar">
		<%$bar%>
		</div>
		<!-- 表格1 -->
		<div class="flip-scroll" id="base_salepolicy_goods_search_list">
		</div>
		<div class="clear"></div>
	</div>
</div>
<script type="text/javascript">
<!--
	<%include file="js/base_salepolicy_goods_list.js"%>
//-->
</script>