<!-- <div class="table-scrollable"> -->
 <div class="flip-scroll">
	<table class="table table-bordered table-striped table-hover flip-content">
		<thead class="flip-content">
			<tr>
				<th>序号</th>
				<th>采购单号</th>
				<th>采购方式</th>
				<th>采购重量</th>
				<th>采购金额</th>
				<th>制单人</th>
				<th>制单时间</th>
				<th>审核状态</th>
			</tr>
		</thead>
		<tbody>
		<%foreach from=$page_list.data item=d%>
			<tr data-id="stone_procure_list_<%$d.id%>" data-title="石包采购<%$d.pro_sn%>">
				<td><%$d.id%></td>
				<td><%$d.pro_sn%></td>
				<td><%$dd->getEnum('warehouse.put_in_type',$d.pro_type)%></td>
				<td align="right"><%$d.pro_ct%></td>
				<td align="right"><%$d.pro_total%></td>
				<td><%$d.create_user%></td>
				<td><%$d.create_time%></td>
				<td>
					<%if $d.check_status%>
					<%$dd->getEnum('stone.check_status',$d.check_status)%>
					<%else%>未操作
					<%/if%>
				</td>
			</tr>
		<%/foreach%>
		</tbody>
	</table>
</div>
<div class="pager">
<%$pa%>
</div>
<script type="text/javascript">
<!--
	util.hover();
//-->
</script>