<table class="table table-bordered table-striped table-hover flip-content">
	<thead class="flip-content">
		<tr>
			<th>序号</th>
			<th>用户名</th>
			<th>职位</th>
			<th>职级</th>
			<th>用户角色</th>
			<th>员工状态</th>
		</tr>
	</thead>
	<tbody>
	<%foreach from=$page_list.data item=d%>
		<tr data-id="organization_list_<%$d.id%>">
			<td><%$d.id%></td>
			<td><%$d.real_name%>(<%$d.account%>)</td>
			<td><%$dd->getEnum("position",$d.position)%></td>
			<td><%$dd->getEnum("position_level",$d.level)%></td>
			<td><%$roleArr[$d.role_id]%></td>
			<td><%$d.is_on_work%></td>
		</tr>
	<%/foreach%>
	</tbody>
</table>
<%$pa%>
<script type="text/javascript">
<!--
	util.hover();
//-->
</script>