<div class="portlet-body form">
    <!-- 表单内容 -->
    <form action="#" method="post" class="horizontal-form" id="base_cpdz_code_info_form">
        <div class="form-body">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">款式来源渠道：<span class="required">*</span></label>
                        <select class="form-control" name="style_channel">
								<option value=""></option>
								<%foreach from=$view->getSalesChannels() item=vo %>
								<option value="<%$vo.id%>|<%$vo.channel_name%>" <%if $view->get_style_channel_id()==$vo.id%>selected<%/if%>><%$vo.channel_name%></option>
								<%/foreach%>
							</select> 
                    </div>
                </div>
				
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">成交价：<span class="required">*</span></label>
						<input  class="form-control" name="price" value="<%$view->get_price()%>" />                       
                    </div>
                </div>  
                
            </div>
        </div>
        <!-- 搜索按钮 -->
        <div class="form-actions fluid">
            <div class="col-md-offset-3 col-md-9">
                <input type="hidden" name="id" value="<%$view->get_id()%>" />
                <button type="reset" class="btn default">重置</button>
                <button type="submit" class="btn green"><i class="fa fa-check"></i> 保存</button>
            </div>
        </div>
    </form>
    <!-- END FORM-->
</div>
<script type="text/javascript">
<!--
    <%include file = "js/base_cpdz_code_info.js" %>
//-->
</script>