<!----基础信息start---->
<div class="portlet box blue">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>详情
		</div>
		<div class="tools">
			<a href="javascript:;" class="collapse">
			</a>
		</div>
	</div>

	<div class="portlet-body">
		<div class="table-toolbar">	
			<div class="btn-group">
				<button data-title="审核" name="审核" list-id="2" data-id="<%$view->get_pay_number_id()%>" data-url="index.php?mod=finance&con=AppPayShould&act=check_order" onclick="util.cust(this,check_order)" class="btn btn-sm purple">
					审核 <i class="fa fa-edit"></i>
				</button>
			</div>	
			<div class="btn-group">
				<button data-title="取消" name="取消" list-id="3" data-id="<%$view->get_pay_number_id()%>" data-url="index.php?mod=finance&con=AppPayShould&act=check_order" onclick="util.cust(this,check_order)" class="btn btn-sm purple">
					取消 <i class="fa fa-edit"></i>
				</button>
			</div>				
			<div class="btn-group">
                <button class="btn btn-sm btn-info" onclick="util.retrieveReload(this);" data-url="" name="刷新" title="刷新" data-title="">
                    刷新 <i class="fa fa-plus"></i>
                </button>
			</div>
			<div class="btn-group">
				<button class="btn btn-sm dark" onclick="util.closeTab();" title="关闭当前页签">
				离开 <i class="fa fa-angle-double-left"></i> 
				</button>
			</div>			
		</div>
		<!-- 表格1 -->
		<div class="flip-scroll">
			<table class="table table-bordered table-striped table-hover flip-content">
				<tr>
					<td  class="flip-content">单号：<%$view->get_pay_should_all_name()%></td>
					<td  class="flip-content">状态：							<%$dd->getEnum('app_pay_should.status',$view->get_status())%></td>
					<td  class="flip-content">制单时间：<%$view->get_make_time()%></td>
					<td  class="flip-content">制单人：<%$view->get_make_name()%></td>
				</tr>
				<tr>
					<td  class="flip-content">审核时间：<%$view->get_check_time()%></td>
					<td  class="flip-content">审核人：<%$view->get_check_name()%></td>		
					<td  class="flip-content">结算商：<%$view->get_prc_name()%></td>
					<td  class="flip-content">应付类型：<%$dd->getEnum('app_pay_should.pay_type',$view->get_pay_type())%></td>	 
				</tr>
				<tr>
					<td  class="flip-content">数量：<%$num%></td>
					<td  class="flip-content">应付金额：<%$view->get_total_cope()%></td>		
				</tr>
			</table>
		</div>
		<div class="clear"></div>
	</div>
</div>

<div class="portlet box blue">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>详情列表
		</div>
		<div class="tools">
			<a href="javascript:;" class="collapse">
			</a>
		</div>
	</div>
	<div class="portlet-body">
		<div class="table-toolbar">
			<div class="btn-group">
				<button data-title="相关操作" name="相关操作" list-id="2" data-id="<%$view->get_pay_number_id()%>" data-url="index.php?mod=finance&con=AppApplyListApply&act=editApply" onclick="util.cust(this,tiaozhuan)" class="btn btn-sm purple">
					相关操作 <i class="fa fa-edit"></i>
				</button>
			</div>	
			<div class="btn-group">
                <button class="btn btn-sm btn-info" onclick="util.retrieveReload(this);" data-url="" name="刷新" title="刷新" data-title="">
                    刷新 <i class="fa fa-plus"></i>
                </button>
			</div>
			<div class="btn-group">
				<button class="btn btn-sm dark" onclick="util.closeTab();" title="关闭当前页签">
				离开 <i class="fa fa-angle-double-left"></i> 
				</button>
			</div>	
		</div>
		<!-- 表格1 -->
		<div class="flip-scroll" id="app_pay_should_show_list<%$view->get_pay_number_id()%>">
		</div>
		<div class="clear"></div>
	</div>
</div>
<!----基础信息end---->

<!----其他信息start---->
<div class="portlet box blue">
</div>
<!----商品列表end---->
<script type="text/javascript">
<!--
	<%include file="js/app_pay_should_show.js"%>
//-->
</script>