<div class="portlet box blue">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>信息详情
		</div>
		<div class="tools">
			<a href="javascript:;" class="collapse">
			</a>
		</div>
	</div>
	<div class="portlet-body">
		<div class="table-toolbar">
			<%$bar%>
		</div>
		<!-- 表格1 -->
		<div class="flip-scroll">
			
				 <div class="form-body">
							<div class="row">
								<div class="col-sm-3">
									<div class="form-group">
										<label class="control-label">商品编码：</label>
										<%$view->get_goods_sn()%>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<label class="control-label">商品名称：</label>
										<%$view->get_goods_name()%>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<label class="control-label">商品数量：</label>
										1
									</div>
								</div>
								  <div class="col-sm-3">
									<div class="form-group">
										<label class="control-label">石重：</label>
										<%$view->get_carat()%>
									</div>
								</div>
							   
							</div>

							<div class="row">
								<div class="col-sm-3">
									<div class="form-group">
										<label class="control-label">净度：</label>
											<%foreach from=$view->getClarityList() item=val%>
											 <%if $view->get_clarity()== $val && $val%> <%$val%>  <%/if%>
											<%/foreach%>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<label class="control-label">颜色：</label>
											<%foreach from=$view->getColorList() item=val%>
											 <%if $view->get_color()== $val && $val%> <%$val%>  <%/if%>
											<%/foreach%>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<label class="control-label">形状：</label>
											<%foreach from=$view->getShapeList() key=key item=val%>
											<%if $view->get_shape()== $key && $val%> <%$val%> <%/if%>
											<%/foreach%>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<label class="control-label">切工：</label>
											<%foreach from=$view->getCutList() item=val%>
											 <%if $view->get_cut()== $val && $val%> <%$val%> <%/if%>
											<%/foreach%>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-3">
									<div class="form-group">
										<label class="control-label">抛光：</label>
										
											<%foreach from=$view->getPolishList() item=val%>
											 <%if $view->get_polish()== $val && $val%><%$val%><%/if%>
											<%/foreach%>
										</select>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<label class="control-label">对称：</label>
											<%foreach from=$view->getSymmetryList() item=val%>
											 <%if $view->get_symmetry()== $val && $val%><%$val%><%/if%>
											<%/foreach%>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<label class="control-label">荧光：</label>
											<%foreach from=$view->getFluorescenceList() item=val%>
											<%if $view->get_fluorescence()== $val && $val%><%$val%><%/if%>
											<%/foreach%>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<label class="control-label">证书类型：</label>
											<%foreach from=$view->getCertList() item=val%>
											<%if $view->get_cert()== $val && $val%> <%$val%> <%/if%>
											<%/foreach%>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<label class="control-label">证书号：</label>
										<%$view->get_cert_id()%>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<label class="control-label">gemx证书号：</label>
										<%$view->get_gemx_zhengshu()%>
									</div>
								</div>

								<div class="col-sm-3">
									<div class="form-group">
										<label class="control-label">台宽：</label>
										<%$view->get_table_lv()%>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<label class="control-label">台深：</label>
										<%$view->get_depth_lv()%>
									</div>
								</div>
							</div>
							<div class="row">
								
								<div class="col-sm-3">
									<div class="form-group">
										<label class="control-label">成本价：</label>
										<%$view->get_chengben_jia()%>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<label class="control-label">市场价：</label>
										<%$view->get_market_price()%>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<label class="control-label">货品类型：</label>
										 <%if $view->get_good_type()=='1' %>现货<%/if%> 
										 <%if $view->get_good_type()=='2' %>期货<%/if%>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<label class="control-label">来源：</label>
										 <%if $view->get_from_ad()=='2' %>51钻<%/if%>
										 <%if $view->get_from_ad()=='1' %>BDD<%/if%>
									</div>
								</div>

							</div>
							<div class="row">
								<div class="col-sm-3">
									<div class="form-group">
										<label class="control-label">状态：</label>
										<%if $view->get_status()=='1' %>启用<%/if%>
										 <%if $view->get_status()=='0' %>停用<%/if%> 
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<label class="control-label">是否为活动（双11等活动）：</label>
										 <%if $view->get_is_active()=='0' %>正常<%/if%> 
										 <%if $view->get_is_active()=='1' %>活动<%/if%> 
									</div>
								</div>
							</div>

						</div>

		</div>
		<div class="clear"></div>
	</div>
</div>

<script type="text/javascript">
<!--
	<%include file="js/app_diamond_info_show.js"%>
//-->
</script>