<div class="portlet-body form">
	<!-- 表单内容 -->
	<form action="#" method="post" class="horizontal-form" id="app_bespoke_action_log_info">
		<div class="form-body">
			<div class="row">
			<label class="control-label">备注信息：</label>
			<textarea style="width: 1071px; height: 138px;" class="form-control valid" name="remark" rows="4"></textarea>
			</div>
		</div>
		<!-- 搜索按钮 -->
		<div class="form-actions fluid">
			<div class="col-md-offset-3 col-md-9">
				<input type="hidden" name="action_id" value="<%$view->get_action_id()%>" />
				<input type="hidden" name="bespoke_id" value="<%$bespoke_id%>" />
				<input type="hidden" name="bespoke_status" value="<%$bespoke_status%>" />
				<button type="reset" class="btn default">重置</button>
				<button type="submit" class="btn green"><i class="fa fa-check"></i> 保存</button>
			</div>
		</div>
	</form>
	<!-- END FORM-->
</div>
<script type="text/javascript">
<!--
	<%include file="js/app_bespoke_action_log_info.js"%>
//-->
</script>