<table class="PageNext" cellspacing="0" cellpadding="1" width="100%" border="0">
    <tbody>
        <tr>
            <td>
            <table style="margin-bottom: 10px; border-bottom: #000 2px solid" cellspacing="0" width="100%" border="0">
                <tbody>
                    <tr>
                        <td width="14%" ><img alt="" border="0" src="public/img/logo3.jpg" /></td>
                        <td valign="middle" width="86%">
	                        <h1 style="padding-left: 15px; padding-top: 10px">
					<strong style="font-size:24px;">
						<%$dd->getEnum('sales.delivery_status', $info.delivery_status)%>
						<span style="font-size:20px;margin-left:340px;">订单来源：<%$info.customer_source_id%></span>
						<br /><br /><!--BDD货品定制单-->
					</strong>

				</h1>
			</td>
			<td align="right" style="padding-right:30px;">
				<img src="http://bardcode.kela.cn/index.php?code_sn=<%$info.order_sn%>" style="float:right;" width="200">
                        </td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
	   <%if $info.referer=="天生一对加盟商"%>	
        <tr>
            <td align="right"><img src="public/img/tsyd_logo.png" width="60" border="0"/></td>
			
        </tr>
		<%/if%>
        <tr>
            <td>
            <table style="line-height: 20px;" cellspacing="0" cellpadding="1" width="100%" border="0">
                <tbody>
			<tr>
				<td >收货人：<strong style="font-size:18px;"><%$info.consignee%></strong></td>
				<td >客户名称：<strong style="font-size:18px;"><%$info.order_consignee%></strong></td>
				<td align="right" class="wori" >配送方式：<%if $info.distribution_type == 2%><%$info.express_id%><%else%>配送到体验店<%/if%></td>
				 <td align="right" >支付方式：<%$info.order_pay_name%></td>
			</tr>
			<tr>
				<td align="left" colspan="2" valign="center" >
                                    外部订单号：<%if $info.out_order_sn == ''%>--<%else%>
                                    <img src="http://bardcode.kela.cn/index.php?code_sn=<%$info.out_order_sn%>" width="300" height="60" />
                                    <%/if%>
				</td>
				<td align="right" class="wori" >
				发货状态：<%$dd->getEnum('order.send_good_status', $info.send_good_status)%>
				</td>
				<td align="right" >
                <b>配送类型：
                	<%if $info.distribution_type == 1%>
                    <%if $info.shop_type==1%>直营店-<%else if $info.shop_type==2%>经销商店-<%else%>
                    <%/if%>
                    <%$info.shop_name%>
                    <%elseif $info.distribution_type == 2%>
                    总公司到客户
                    <%/if%></b>
                </b>
                </td>
        		</tr>
                </tbody>
            </table>
            </td>
        </tr>
        <tr>
            <td>
            <table cellspacing="0" cellpadding="1" width="100%" border="0">
                <tbody>
                    <tr>
                        <td>
                        <table style="border-right: #000 1px solid; border-top: #000 1px solid; margin-top: 15px; border-left: #000 1px solid; border-bottom: #000 1px solid; border-collapse: collapse" width="100%" border="1">
                            <tbody>
				<tr align="center">
					<td>序号</td>
					<td>商品名称<!-- 商品名称--></td>
					<td>数量<!--数量--></td>
					<td>款号</td>
					<td>柜号</td>
					<td>图</td>
					<td scope="col"><div align="center">商品描述</div></td>
					<td>价格 <!--商品但价格--></td>
                    <td>是否赠品 <!--是否赠品--></td>
                    <td>是否销账 <!--是否销账--></td>
				</tr>
				<%if $detail_num%>
					<%foreach from=$goods_list item=g key=it%>
					<tr>
						<td width="20px">&nbsp;<b style="font-size:20px"><%$it+1%></b></td>
						<td width="100px">&nbsp;<%$g.goods_name%><!--商品名称.--> </td>
						<td align="center" style="border:0px"><%$g.goods_count%>&nbsp;<!-- 数量 --></td>
						<td align="center" style="border:0px">&nbsp;<%$g.goods_sn%><br/>
						<img src="http://bardcode.kela.cn/index.php?code_sn=<%$g.goods_sn%>" width="120" height="60" /><!--款号--><br/>
						<%if $g.bing == 1%>
						已绑定商品
						<br/>
						<%if $g.warehouse=="金条库" || $g.warehouse=="投资金条库" || $g.warehouse=="深圳分公司" || $g.warehouse=="主站金条库"%>
						<img src="http://bardcode.kela.cn/index.php?code_sn=<%$g.goods_id%>" width="120" height="60" />
						<%/if%>
						<%else%>
						无绑定商品
						<%/if%>
						</td>
						<td align="center" style="border:0px"><b style="font-size:20px">
						</b><!-- 柜号 -->
						<%if $g.bing == 1%>
						<%$g.goods_id|default:''%><br/>
						<%$g.box_id%>
						<%/if%>
						</td>
						<td width="120px" align="center">
						    <%if $g.is_zp%>
                                 <img src="<%$g.goods_img%>" width="100px" height="100px" >
						    <%else%><img src="<%$g.goods_img%>" width="200px" height="200px" ><%/if%>
							
						</td>
						<td>
							<div align="left">
								<%if $g.is_zp%>
								    <%if !empty($g.cart)%>
									   钻石：<%$g.cart%><br/>
									<%/if%>   
									<%if !empty($g.color)%>
                                          颜色：<%$g.color%><br/>
                                    <%/if%> 
									<%if !empty($g.clarity)%>
                                          净度:<%$g.clarity%><br/>
                                    <%/if%>
									<%if !empty($g.caizhi)%>
                                          金料:<%$g.caizhi%><br/>
                                    <%/if%>
									<%if !empty($g.jinse)%>
                                          金色:<%$g.jinse%><br/>
                                    <%/if%>
									<%if !empty($g.zhiquan)%>
                                          指圈：<%$g.zhiquan|default:'——'%>
                                          <%if $g.is_stock_goods &&  $g.shoucun && $g.zhiquan!=$g.shoucun%>(由<%$g.shoucun%>改为<%$g.zhiquan%>)<%/if%><br/>
                                    <%/if%>                                                    
									<%if !empty($g.kezi)%>
                                          刻字：<%$g.kezi|default:'——'%><br/>
                                    <%/if%>
 									<%if !empty($g.jinzhong)%>
                                          金重：<%$g.jinzhong|default:'——'%><br/>
                                    <%/if%>                                       
									款式分类：<%$g.cat_type_name|default:'——'%><br/>                                                                  
								<%else%>
									钻石：<%$g.cart%><br/>
	                                                                颜色：<%$g.color%><br/>
									净度：<%$g.clarity%><br/>
									证书号：<%$g.zhengshuhao|default:'——'%></div>
	                                                                金料： <%$g.caizhi%><br/>
	                                                                金色：<%$g.jinse%><br/>
									指圈：<%$g.zhiquan|default:'——'%><%if $g.is_stock_goods &&  $g.shoucun && $g.zhiquan!=$g.shoucun%>(由<%$g.shoucun%>改为<%$g.zhiquan%>)<%/if%><br/>
									刻字：<%$g.kezi|default:'——'%><br/>
									金重：<%$g.jinzhong|default:'——'%><br/>
									款式分类：<%$g.cat_type_name|default:'——'%><br/>
								<%/if%>
							</div>
								
						</td>
						<td  >￥<%$g.goods_price-$g.favorable_price|default:'0.00'%>元&nbsp;<!--商品单价格 --></td>
						<!--<td>￥<%$g.goods_price*$g.goods_count-$g.favorable_price%>元&nbsp;</td>-->
                        <td><%if $g.is_zp%>是<%else%>否<%/if%></td>
                        <td><%if $g.is_finance==1%>否<%else%>是<%/if%></td>
					</tr>
					<tr>
						<td colspan="8"><div align="left">备注: <%$g.details_remark|default:'无'%></div><div align="right">售卖方式: <%$dd->getEnum('processor.is_alone',$g.is_alone)%></div></td>
					</tr>
					<%/foreach%>
				<%else%>
					<tr>
						<td colspan='8' align='center' style='color:red;font-size:20px;'>该配货单没有单据明细</td>
					</tr>
				<%/if%>
                                <!--  -->
				<tr>
					<!-- 发票抬头和发票内容 -->
					<td colspan="5">
						<%if $info.is_invoice%>
						发票抬头：<b style="font-size:20px;"><%$info.invoice_title%></b>&nbsp;&nbsp;&nbsp;
						发票内容：&nbsp;&nbsp;电子邮箱:<b style="font-size:20px;"><%$info.invoice_email%> </b>发票类型:<b style="font-size:20px;"><%$dd->getEnum('invoice.invoice_type',$info.invoice_type)%> </b><br>
						发票金额：<b style="font-size:20px;"><%$info.invoice_amount%> </b>&nbsp;&nbsp;&nbsp;
						发票信息：<b style="font-size:20px;"><%$info.invoice_num%></b>
						<%/if%>
					</td>
					<!-- 商品总金额 -->
					<td colspan="5" align="right"> 订单总金额：￥<%$info.order_amount%>元
					- 已付款金额：￥<%$info.money_paid%>元 <br/>= <b style="font-size:20px">应付款￥<%$info.order_amount - $info.money_paid%>元</b>
					</td>
				</tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>

                </tbody>
            </table>
            </td>
        </tr>
        <tr>
            <td>
            <table style="margin-top: 10px" cellspacing="0" cellpadding="1" width="100%" border="0">
		<tbody>
			<tr>
				<td><strong style="font-size:20px;"><!--用户给商家留言-->订单备注：<%$info.order_remark%></strong></td>
			</tr>
			<%if isset($info.gift)%>
			<tr>
				<td><strong style="font-size:20px;">赠品: <%if isset($info.gift)%><%$info.gift%><%/if%></strong></td>
			</tr>
			<%/if%>
			<%if $info.remark%>
            <tr>
            <td><strong style="font-size:20px;">赠品备注: <%$info.remark%></strong></td>
             </tr>
            <%/if%> 
		</tbody>
            </table>
            </td>
        </tr>
        <tr>
            <td>
            <table style="margin-top: 15px" cellspacing="0" cellpadding="1" width="100%" border="0">
            </table>
            </td>
        </tr>
        <tr>
            <td>
            <table style="cellspacing:0" cellpadding="1" width="100%" border="0">
                <tbody>
			<tr>
				<td>
				<table cellspacing="0" cellpadding="1" width="100%" border="0">
				<tbody>

				</tbody>
				</table>
				</td>
			</tr>
			<tr>
				<td><strong style="font-size:100px; line-height:80px;"><%$info.order_sn%></strong>&nbsp;</td>
			</tr>
		</tbody>
            </table>
            </td>
        </tr>
    </tbody>
</table>
