<div class="portlet-body form">
	<div class="table-toolbar">
	<button class="btn btn-sm yellow" data-title="应付申请" list-id="141" title="应付申请单提交" name="审核" data-url="index.php?mod=finance&con=PayApply&act=AdjCheckCon" onclick="util.cust(this,checkCon);">
	审核  <i class="fa fa-sign-in"></i>
	</button>
	<button class="btn btn-sm red" data-title="应付申请" list-id="141" title="应付申请单取消" name="驳回" data-url="index.php?mod=finance&con=PayApply&act=AdjCheckCon" onclick="util.cust(this,reTzCon);">
驳回  <i class="fa fa-trash-o"></i>
	</button>
	</div>
	<!-- 表单内容 -->
	<div class="portlet box blue">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>应付调整单详情
		</div>
	</div>
	<div class="portlet-body">
		<!-- 表格1 -->
		<div class="flip-scroll">
			<table class="table table-bordered table-striped table-hover flip-content">
				<tr>
					<td><b>单号</b></td>
					<td><%$info['pay_apply_number']|default:''%></td>
					<td><b>状态</b></td>
					<td><%$dd->getEnum('app_pay_apply.status',$info['status'])%></td>
				</tr>
				<tr>
					<td><b>制单人</b></td>
					<td><%$info['make_name']|default:''%></td>
					<td><b>制单时间</b></td>
					<td><%$info['make_time']|default:''%></td>
				</tr>
				<tr>
					<td><b>审核人</b></td>
					<td><%$info['check_name']|default:'--'%></td>
					<td><b>审核时间</b></td>
					<td><%$info['check_time']|default:'--'%></td>
				</tr>
				<tr>
					<td><b>供应商</b></td>
					<td><%$info['prc_name']|default:''%></td>
					<td><b>应付类型</b></td>
					<td><%$dd->getEnum('app_pay_should.pay_type', $info['pay_type'])%></td>
				</tr>
				<tr>
					<td><b>金额：</b></td>
					<td><%$info['total_cope']|default:''%></td>
					<td><b>调整原因：</b></td>
					<td><%$info['adj_reason']|default:''%></td>
				</tr>
				<tr>
					<td><b>款式分类：</b></td>
					<td><%$catLists[$info['style_type']]|default:''%></td>
				</tr>
				<%if $info['status'] == 2%><!--待审核状态并且是-->
				<tr style="display:none;" id="overrule_reason_div">
					<td><b>驳回原因：</b></td>
					<td colspan="3"><input type="text" name="overrule_reason" id="overrule_reason"/></td>
				</tr>
				<%else%>
				<tr>
					<td><b>驳回原因：</b></td>
					<td colspan="3"><%$info['overrule_reason']|default:''%></td>
				</tr>
				<%/if%>
			</table>
		</div>
		<div class="clear"></div>
	</div>
</div>
	<!-- END FORM-->
</div>
<script type="text/javascript">
<!--
	<%include file="js/app_apply_tz_info.js"%>
	<%include file="js/app_apply_sub.js"%>
//-->
</script>