<div class="table-scrollable">
<table class="table table-bordered table-striped table-hover flip-content">
	<thead class="flip-content">
		<tr>
        	<th><input type="checkbox" class="group-checkable" data-set="#tydprint_search_list .checkboxes" /></th>
			<th>序号</th>
			<th>体验店名称</th>
            <th>体验店类别</th>			
			<th>收货单位</th>
			<th>收货地址</th>
            <th>收件人电话</th>
			<th>收件人</th>
			
		</tr>
	</thead>
	<tbody>
	<%foreach from=$page_list.data item=d%>
		<tr data-id="shop_cfg_list_<%$d.id%>" data-title="<%$d.shop_name%>">
        	<td><input class="checkboxes" type="checkbox" name="_ids[]" value="<%$d.id%>" /></td>
			<td><%$d.id%></td>
			<td><%$d.shop_name%></td>
            <td><%$dd->getEnum("shop.type",$d.shop_type)%></td>			
            <td><%$d.accepter_company%></td>
			<td><%$d.accepter_address%></td>
			<td><%$d.accepter_mobile%></td>
			<td><%$d.accepter_name%></td>
		
		</tr>
	<%/foreach%>
	</tbody>
</table>
</div>
<%$pa%>
<script type="text/javascript">
<!--
	util.hover();
//-->
</script>
<script type="text/javascript">
<!--
	util.check(util.getItem('listDIV'));
	// 美化复选框
  var test = $("#tydprint_search_list input[type='checkbox']:not(.toggle, .make-switch)");
  if (test.size() > 0) {
    test.each(function () {
      if ($(this).parents(".checker").size() == 0) {
        $(this).show();
        $(this).uniform();
      }
    });
  }
  // table 复选框全选
  $('#tydprint_search_list .group-checkable').change(function () {
    var set = $(this).attr("data-set");
		var checked = $(this).is(":checked");
		$(set).each(function () {
			if (checked) {
				$(this).attr("checked", true);
				$(this).parents('tr').addClass("active");
			} else {
				$(this).attr("checked", false);
				$(this).parents('tr').removeClass("active");
			}
		});
		$.uniform.update(set);
	});
	$('#tydprint_search_list').on('change', 'tbody tr .checkboxes', function(){
  	$(this).parents('tr').toggleClass("active");
  });
  -->
</script>