<!--搜索开始-->
<div class="portlet box green">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>搜索框
		</div>
		<div class="tools">
			<a href="javascript:;" class="collapse">
			</a>
		</div>
	</div>
	<div class="portlet-body form">
		<!-- 表单内容 -->
		<form action="#" class="horizontal-form" method="post" id="app_pay_real_search_form">
			<div class="form-body">
				<div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">所属公司：</label>
                            <select class="form-control" tabindex="1" name="company">
								<option value=""></option>
								<%foreach from=$company_list item=value key = key%>
								<option value="<%$key%>" <%if !empty($smarty.post.company) and $smarty.post.company eq $key%>selected<%/if%>><%$value%></option>
								<%/foreach%>
                            </select>
                        </div>
                    </div>				
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">供货商/结算商：</label>
                            <select class="form-control" tabindex="1" name="prc_id">
								<option value="">全部</option>
								<%foreach from=$j_list item=value key = key%>
								<option value="<%$value.p_id%>" <%if !empty($smarty.post.prc_id) and $smarty.post.prc_id eq $value.p_id%>selected<%/if%>><%$value.p_name%></option>
								<%/foreach%>
                            </select>
                        </div>
                    </div>				
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">实付类型：</label>
                            <select class="form-control" tabindex="1" name="pay_type">
								<option value="">全部</option>
								<%foreach from=$payType item=value key = key%>
								<option value="<%$key%>" <%if !empty($smarty.post.pay_type) and $smarty.post.pay_type eq $key%>selected<%/if%>><%$value%></option>
								<%/foreach%>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">财务实付单号：</label>
                            <input type="text" name="pay_real_number" class="form-control" placeholder="请输入" value="<%$smarty.post.pay_real_number|default:''%>" />
                        </div>
                    </div>					
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">财务应付单号：</label>
                            <input type="text" name="pay_number" class="form-control" placeholder="请输入" value="<%$smarty.post.pay_number|default:''%>" />
                        </div>
                    </div>					
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">制单人：</label>
                            <input type="text" name="make_name" class="form-control" placeholder="请输入" value="<%$smarty.post.make_name|default:''%>" />
                        </div>
                    </div>	
					<div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">财务付款时间：</label>
                            <div class="input-group date-picker input-daterange" data-date="<%$smarty.now|date_format:"%Y-%m-%d"%>">
                                <input type="text" class="form-control" name="pay_time_s" value="" />
                                <span class="input-group-addon">to</span>
                                <input type="text" class="form-control" name="pay_time_e" value="" />
                            </div>
                        </div>
                    </div>					
				</div>
			</div>
			<!-- 搜索按钮 -->
			<div class="form-actions fluid">
				<div class="col-md-offset-3 col-md-9">
					<button type="reset" class="btn default">重置</button>
					<button type="submit" class="btn green"><i class="fa fa-check"></i> 搜索</button>
				</div>
			</div>
		</form>
		<!-- END FORM-->
	</div>
</div>

<div class="portlet box blue">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>结果列表
		</div>
		<div class="tools">
			<a href="javascript:;" class="collapse">
			</a>
		</div>
	</div>
	
	<div class="portlet-body">
	<!-- 工具栏 -->
		<div class="table-toolbar">
		<%$bar%>
		</div>
		<!-- 表格1 -->
		<div class="flip-scroll" id="app_pay_real_search_list">
		</div>
		<div class="clear"></div>
	</div>
</div>
<script type="text/javascript">
<!--
	<%include file="js/app_pay_real_list.js"%>
//-->
</script>