<div class="portlet-body form">
    <!-- 表单内容 -->
        <div class="form-body">
            <div class="row">
                <div><span>输入需要返回老系统的货号:</span></div>
                <div id="goods_batch_pushold" class="form-group">
                    <textarea name="goods_arr" id="" cols="25" rows="10"></textarea>
                </div>
            </div>
        </div>
        <!-- 搜索按钮 -->
        <div id="goods_batch_pushold_btn" class="form-actions fluid">
            <div class="col-md-offset-4 col-md-6">
                <button class="btn green"><i class="fa fa-check"></i> 提交</button>
                <span type="colse" class="btn dark close-btn"><i class="fa fa-ban"></i> 取消</span>
            </div>
        </div>
    <!-- END FORM-->
</div>
<script type="text/javascript">
    <!--
    <%include file="js/goods_batch_pushold.js"%>
    //-->
</script>