<div class="portlet box blue">
    <!--title Start-->
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-reorder"></i>资源类型
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse">
            </a>
        </div>
    </div>
    <!--title end-->
    <div class="portlet-body">
        <!-- tools start -->
        <div class="table-toolbar">
		</div>

        <!--tools end-->
        <!-- listpage start -->
        <div class="flip-scroll" id="ResourceType_search_list">
        </div>
        <!-- listpage end -->
        <div class="clear"></div>
</div>

    <script type="text/javascript">
        <!--
        <%include file="js/resource_list.js"%>
        //-->
    </script>