<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>销售单</title>
<style type="text/css">

*{margin:0;padding:0;}
body{font:12px/25px "宋体";}
.tRight{text-align:right;}
.wrap{width:700px;margin:50px auto;}
h1{font-size:14px;text-align:center;margin-bottom:10px;}
table.list-ch{border-collapse:collapse;border:none;width:100%;margin-top:10px;}
table.list-ch td{border:1px #333 solid;padding:0 2px;}
table.list-ch thead td{height:35px; line-height:14px; text-align:center; font-weight:bold;}

</style>
<style media="print">

	.Noprint{display:none;} 

</style>

</head>
<body>
<!--startprint-->
<div class="wrap">
	<h1>销售单</h1>现在时间 <%$smarty.now|date_format:'%Y-%m-%d %H:%M:%S'%>
	<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tr>
			<td width="65">单号：</td>
			<td width="110"><%$data.bill_no%></td>
			<td width="65">日期：</td>
			<td width="110"><%$data.create_time|date_format:'%Y-%m-%d'%></td>
			<td width="65">店铺：</td>
			<td width="110"></td>
			<td width="65">审核人：</td>
			<td width="110"><%$data.check_user%></td>	
		</tr>
		<tr>
			<td>客户：</td>
			<td></td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>件数：</td>
			<td><%$data.goods_num%></td>
			<td>参考号：</td>
			<td></td>	
		</tr>
		<tr>
			<td>备注：</td>
			<td colspan="3"><%$data.bill_note%></td>
			
			<td>销售价：</td>
			<td><%$data.shijia%></td>	
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
    </table>	


    <table cellpadding="0" cellspacing="0" border="0" style="border:0" width="100%">
		<tr>
			<td>
			<table cellpadding="0" cellspacing="0" border="0" class="list-ch">
				<tr>
					<td>主成色</td>
					<td>重</td>
				</tr>
				<%foreach key=key item=item from=$zhuchengsetongji%>
				<tr>
					<td><%$item.caizhi%></td>
					<td><%$item.jinzhong|string_format:'%.3f'%></td>
				</tr>
				<%/foreach%>
				<tr>
					<td>小计</td>
					<td><%$zhuchengsezhongxiaoji|string_format:'%.3f'%></td>
				</tr>
			</table>
			
			</td>

			</td>
			<td>&nbsp;
			</td>
			<td>
			<table cellpadding="0" cellspacing="0" border="0" class="list-ch">
				<tr>
					<td>主石</td>
					<td>粒数</td>
					<td>重</td>
				</tr>
				<%foreach key=key item=item from=$zhushitongji%>
				<tr>
					<td><%$item.zhushi%></td>
					<td><%$item.zhushilishu%></td>
					<td><%$item.zuanshidaxiao|string_format:'%.3f'%></td>
				</tr>
				<%/foreach%>
				<tr>
					<td>小计</td>
					<td><%$zhushilishuxiaoji%></td>
					<td><%$zhushizhongxiaoji|string_format:'%.3f'%></td>
				</tr>
			</table>
			</td>

			<td>&nbsp;
			</td>
			<td>
			<table cellpadding="0" cellspacing="0" border="0" class="list-ch">
				<tr>
					<td>副石</td>
					<td>粒数</td>
					<td>重</td>
				</tr>
				<%foreach key=key item=item from=$fushitongji%>
				<tr>
					<td><%$item.fushi%></td>
					<td><%$item.fushilishu%></td>
					<td><%$item.fushizhong|string_format:'%.3f'%></td>
				</tr>
				<%/foreach%>
				<tr>
					<td>小计</td>
					<td><%$fushilishuxiaoji%></td>
					<td><%$fushizhongxiaoji|string_format:'%.3f'%></td>
				</tr>
			</table>
			</td>
			
		</tr>
	</table>
	<!--endprint-->
	<br/><br/>
	<div style="text-align:center;">

    <button id="print_close" onclick="close_bill();">关闭</button>
    <button id="print_btn" onclick="print_bill();">打&nbsp;印</button>

	</div>
</div>



</body>
<script type="text/javascript">

 function close_bill(){
        window.close();
    }

    function print_bill(){
    	bdhtml = window.document.body.innerHTML;
		sprnstr = "<!--startprint-->";
		eprnstr = "<!--endprint-->";
		prnhtml = bdhtml.substr(bdhtml.indexOf(sprnstr) + 17);
		prnhtml = prnhtml.substring(0, prnhtml.indexOf(eprnstr));
		window.document.body.innerHTML = prnhtml;
		window.print();

        
    }
</script>
</html>
