<!-- 表单内容 -->
<div class="portlet-body form">
<div id="ln_order_detail_style_goods_attribute">
	<form action="" class="horizontal-form" method="post" id="buchan_info_form">
		<div class="form-body">
		
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">货号：</label>
						<%$orderDetail['goods_id']|default:''%>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">款号：</label>
						<%$orderDetail['goods_sn']|default:''%>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="control-label">商品名称：</label>
						<%$orderDetail['goods_name']|default:''%>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">主石单颗重</label>
							<input class="form-control" type='text' name='cart' value='<%$buchanInfo["cart"]|default:"0"%>'/>
                        </div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">主石粒数</label>
						<input class="form-control" type='text' name='zhushi_num' value='<%$buchanInfo["zhushi_num"]|default:"0"%>'>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">主石颜色</label>
						<select class="form-control" name="color">
						   <option value=""></option>
						   <%foreach from=$goodsAttrs.color key=key item=val %>
						   <option value='<%$val%>'  <%if isset($buchanInfo["color"]) && $buchanInfo["color"]==$val%>selected="selected"<%/if%>><%$val%></option>
						   <%/foreach%>
                        </select>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">主石净度</label>
						<select class="form-control" name="clarity">
						   <option value=""></option>
						   <%foreach from=$goodsAttrs.clarity key=key item=val %>
						   <option value='<%$val%>' <%if isset($buchanInfo["clarity"]) && $buchanInfo["clarity"]==$val%>selected="selected"<%/if%>><%$val%></option>
						   <%/foreach%>
                   		</select>
					</div>
				</div>
				
			</div>

			<div class="row">
				<div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">材质</label>
							<select class="form-control" name="caizhi">
							   <option value=""></option>
							   <%foreach from=$goodsAttrs.caizhi key=key item=val %>
							   	<option value='<%$val%>' <%if isset($buchanInfo["caizhi"]) && $buchanInfo["caizhi"]==$val%>selected="selected"<%/if%>><%$val%></option>
							   <%/foreach%>
                   			</select>							
                        </div>
                  </div>
				<div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">材质颜色</label>
							<select class="form-control" name="jinse">
							   <option value=""></option>
							   <%foreach from=$goodsAttrs.jinse key=key item=val %>
							   <option value='<%$val%>' <%if isset($buchanInfo["jinse"]) && $buchanInfo["jinse"]==$val%>selected="selected"<%/if%>><%$val%></option>
							   <%/foreach%>
						   </select>
                        </div>
                  </div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">金重：</label>
						<input class="form-control" type='text' name='jinzhong' value='<%$buchanInfo["jinzhong"]|default:"0"%>'>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">指圈：</label>
						<input class="form-control" type='text' name='zhiquan' value='<%$buchanInfo["zhiquan"]|default:"0"%>'>
					</div>
				</div>
				 
			</div>
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">镶口</label>
						<input class="form-control" type='text' name='xiangkou' value='<%$buchanInfo["xiangkou"]|default:""%>'>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">证书类型：</label>						
						<select class="form-control" name="cert">
                            <option value=""></option>
                            <%foreach from=$goodsAttrs.cert key=key item=val %>
                            <option value='<%$val%>' <%if isset($buchanInfo["cert"]) && $buchanInfo["cert"]==$val%>selected="selected"<%/if%>><%$val%></option>
                            <%/foreach%>
                        </select>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">证书号</label>						
						<input class="form-control" type='text' name='zhengshuhao' value='<%$buchanInfo["zhengshuhao"]|default:""%>'>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">镶嵌要求</label>
						<select class="form-control" name='xiangqian'>
		                   <option value=""></option>
		                   <%foreach from=$goodsAttrs.xiangqian key=key item=val %>
		                   <option value='<%$val%>' <%if isset($buchanInfo["xiangqian"]) && $buchanInfo["xiangqian"]==$val%>selected="selected"<%/if%>><%$val%></option>
	                       <%/foreach%>
                       </select>
					</div>
				</div>				
			</div>
			<div class="row">	
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">表面工艺</label>
						<select name="face_work" class="form-control">
						   <option value=""></option>
						   <%foreach from=$goodsAttrs.facework key=key item=val %>
						   	<option value='<%$val%>' <%if isset($buchanInfo["face_work"]) && $buchanInfo["face_work"]==$val%>selected="selected"<%/if%>><%$val%></option>

						   <%/foreach%>
                        </select>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">布产类型</label>
						<select class="form-control" name='bc_style'>   
						   <option value=""></option>
                            <%foreach from=$goodsAttrs.buchanType key=key item=val %>
                            	<option value='<%$val%>' <%if isset($buchanInfo["bc_style"]) && $buchanInfo["bc_style"]==$val%>selected="selected"<%/if%>><%$val%></option>

                            <%/foreach%>
                        </select>
					</div>
				</div>
				<div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">刻字：</label>

								<div id="order_detail_kezi_out_div_buchan" style="height: auto; width:200px; padding:4px 10px;">
								<%$buchanInfo['keziShow']|default:''%>
								</div>
	                            <textarea class="emotion" cols="40" rows="1" style="font-size: 13px; width:208px;" name="kezi" id="kezi"><%$buchanInfo['kezi']|default:""%></textarea>
								<br />
								<input class="btn blue" id="order_detail_face_buchan" type="button" value="选择刻字图案" />
								<input class="btn green" id="analytic" type="button" value="显示效果" onClick="order_detil_kezi_out_buchan()" />
								<br />
							</div>
			
                </div>
				
				<div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">特别要求</label>
                            <textarea class="form-control" name="special" rows="3"><%$buchanInfo['special']|default:''%></textarea>
                        </div>					
                </div>
				
           </div>

		</div>
		<!-- 搜索按钮 -->
		<div class="form-actions fluid">
			<div class="col-md-offset-3 col-md-9">
			    <input type="hidden" name="id" value="<%$orderDetail['id']%>" />
				<button type="reset" class="btn default">重置</button>
				<button type="submit" class="btn green"><i class="fa fa-check"></i> 保存</button>
			</div>
		</div>
	</form>

</div>
</div>

<script type="text/javascript">
<!--
	<%include file="js/buchan_info_edit.js"%>
//-->
</script>