<style type="text/css">
#menu_buttons .checkbuttonNo,#menu_buttons .checkbuttonOk {
	width:auto !important;
	min-width:90px;
	margin:5px;
	height:40px;
	background:#F7F7F7;
	float:left;
	-moz-border-radius:5px !important;
	-webkit-border-radius:5px !important;
	border-radius:5px !important;
	cursor:pointer;
}
.checkbuttonNo{
	border:solid 3px #ccc;
}
.checkbuttonOk{
	border:solid 3px #6699cc;
}
	
.checktext{
	float:left;
	width:auto !important;
	padding-left:8px;
	line-height:40px;
	text-align:center;
}

.checkbuttonNo .triangleNo{
	display:block;
	height:0px;
	width:0px;
	border:12.5px solid #ccc;
	border-color:#F7F7F7 #F7F7F7 transparent transparent;
	border-style:solid solid dashed dashed;
	float:right;
}
.checkbuttonOk .triangleOk{
	display:block;
	height:25px;
	width:25px;
	float:right;
	background:url('public/img/checkicon.png');
}
</style>
<div class="portlet-body form">
	<!-- 表单内容 -->
	<form action="#" method="post" class="horizontal-form" id="menu_buttons">
		<div class="form-body">
			<div class="row">
			<%foreach from=$buttons item=value%>
				<div class="col-sm-2">
					<div title="<%$value.tips%>" class="checkbutton<%if $value.chk%>Ok<%else%>No<%/if%>"><div id="<%$value.id%>" class="checktext"><i class="fa <%$value.icon_name%>"></i> <%$value.label%></div><div class="triangle<%if $value.chk%>Ok<%else%>No<%/if%>"></div></div>
				</div>
			<%/foreach%>
			</div>
		</div>
		<!-- 搜索按钮 -->
		<div class="form-actions fluid">
			<div class="col-md-offset-3 col-md-9">
				<input type="hidden" name="menu_id" value="<%$menu_id%>" />
				<button type="button" class="btn green"><i class="fa fa-check"></i> 保存</button>
			</div>
		</div>
	</form>
	<!-- END FORM-->
</div>

<script type="text/javascript">
<!--
	<%include file="js/menu_buttons.js"%>
//-->
</script>