<!--搜索开始-->
<div class="portlet box green">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>搜索框
		</div>
	</div>
	<div class="portlet-body form">
			<div class="form-body">
				<button class="btn btn-sm yellow" name="离开" onclick="util.closeTab(this);">离开<i class="fa fa-mail-reply"></i></button>
			</div>
		<!-- 表单内容 -->
		<form action="index.php?mod=sales&con=OutorderToklOrder&act=matchingOrder" class="form-inline" role="form" method="post" id="outorder_tokl_order_from">
            <div class="form-body">
                <div class="form-group">
                    <label class="control-label">外部订单号：</label><br>
                    <textarea class="form-control" name="out_order_sn" placeholder="请输入外部订单号，批量导出请用换行符分隔。" rows="6" cols="60"></textarea>
                </div>
            </div>
            <div class="form-body">
				<button type="submit" class="btn btn-sm green"><i class="fa fa-search"></i> 批量导出</button>
            </div>	
		</form>
		<!-- END FORM-->
	</div>
</div>
<script type="text/javascript">
<!--
	//<%include file="js/outorder_tokl_order_list.js"%>
//-->
</script>