<div class="portlet-body form">
	<!-- 表单内容 -->
	<form action="#" method="post" class="horizontal-form" id="company_info">
		<div class="form-body">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="control-label">公司名称：<span class="required">*</span></label>
						<input type="text" name="company_name" class="form-control" placeholder="请输入"  value="<%$view->get_company_name()%>" maxlength="255" />
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">公司编号：<span class="required">*</span></label>
						<input type="text" name="company_sn" class="form-control" placeholder="请输入" onkeyup="value=value.toUpperCase()" value="<%$view->get_company_sn()%>" maxlength="255" />
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">关联供应商：<span class="required"></span></label>
						<div class="radio-list">
						<select class="form-control" name="processor_id">
					        <option value=""></option>
							<%foreach from=$processors key=k item=value%>
								<option value="<%$value.id%>"<%if $value.id==$view->get_processor_id()%> selected="selected"<%/if%>><%$value.name%></option>
							<%/foreach%>
							</select>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">公司联系人：<span class="required">*</span></label>
						<input type="text" name="contact" class="form-control" placeholder="请输入"  value="<%$view->get_contact()%>" maxlength="30" />
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">公司联系电话：<span class="required">*</span></label>
						<input type="text" name="phone" class="form-control" placeholder="请输入"  value="<%$view->get_phone()%>" maxlength="30" />
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">是否需要签字：</label>
						<div class="radio-list">
							<%foreach from=$view->getEnumArray() key=k item=value%>
							<label class="radio-inline">
								<input type="radio" name="is_sign"  <%if $view->get_is_sign()==$value.name or ($view->get_is_sign()=="" and $k===0)%>
								checked="checked"<%/if%> value="<%$value.name%>"> <%$value.label%>
							</label>
							<%/foreach%>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">是否能开发票：</label>
						<div class="radio-list">
							<%foreach from=$view->getEnumArray() key=k item=value%>
							<label class="radio-inline">
								<input type="radio" name="receipt" <%if $view->get_receipt()==$value.name or ($view->get_receipt()=="" and $k===0)%>
								checked="checked"<%/if%> value="<%$value.name%>"> <%$value.label%>
							</label>
							<%/foreach%>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="control-label">公司地址：<span class="required">*</span></label>
						<input class="form-control" name="address" value="<%$view->get_address()%>" maxlength="255">
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">是否省代公司：</label>
						<div class="radio-list">
							<%foreach from=$view->getEnumArray() key=k item=value%>
							<label class="radio-inline">
								<input type="radio" name="is_shengdai"  <%if $view->get_is_shengdai()==$value.name or ($view->get_is_shengdai()=="" and $k===0)%>
								checked="checked"<%/if%> value="<%$value.name%>"> <%$value.label%>
							</label>
							<%/foreach%>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">所属省代公司：</label>
						<div class="radio-list">
						<select class="form-control" name="sd_company_id">
					        <option value=""></option>
							<%foreach from=$view->getCompanyTree() key=k item=value%>
								<%if $value.id!=$view->get_id() && $value.is_shengdai==1%>
								<option value="<%$value.id%>"<%if $value.id==$view->get_sd_company_id()%> selected="selected"<%/if%>><%$value.company_name%></option>
								<%/if%>
							<%/foreach%>
							</select>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">公司类型：<span class="required">*</span></label>
		                <div class="radio-list">
						<select class="form-control" name="company_type">
					        <option value=""></option>
							<%foreach from=$dd->getEnumArray("company.company_type") key=k item=value%>
								<option value="<%$value.name%>"<%if $value.name==$view->get_company_type()%> selected="selected"<%/if%>><%$value.label%></option>
							<%/foreach%>
							</select>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">开户银行账户：<span class="required">*</span></label>
		             <input class="form-control" name="account" value="<%$view->get_account()%>" maxlength="50">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="control-label">开户银行地址：<span class="required">*</span></label>
			 <input class="form-control" name="bank_of_deposit" value="<%$view->get_bank_of_deposit()%>" maxlength="255">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="control-label">备注信息：</label>
						<textarea class="form-control" name="remark" rows="2"><%$view->get_remark()%></textarea>
					</div>
				</div>
			</div>
		</div>
		<!-- 搜索按钮 -->
		<div class="form-actions fluid">
			<input type="hidden" name="id" value="<%$view->get_id()%>" />
			<div class="col-md-offset-3 col-md-9">
				<button type="reset" class="btn default">重置</button>
				<button type="submit" class="btn green"><i class="fa fa-check"></i> 保存</button>
			</div>
		</div>
	</form>
	<!-- END FORM-->
</div>
<script type="text/javascript">
<!--
	<%include file="js/company_info.js"%>
//-->
</script>