<!-- <div class="table-scrollable"> -->
 <div class="flip-scroll">
	<table class="table table-bordered table-striped table-hover flip-content">
		<thead class="flip-content">
			<tr>
				<th>序号</th>
			</tr>
		</thead>
		<tbody>
		<%foreach from=$page_list.data item=d%>
			<tr data-id="{TMPL_PREFIX}_list_<%$d.{PK}%>" data-title="<%$d.{PK}%>">
				<td><%$d.{PK}%></td>
			</tr>
		<%/foreach%>
		</tbody>
	</table>
</div>
<div class="pager">
<%$pa%>
</div>
<script type="text/javascript">
<!--
	util.hover();
//-->
</script>