<!--搜索开始-->
<div class="portlet box green">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>BCC对帐单列表搜索
		</div>
		<div class="tools">
			<a href="javascript:;" class="collapse">
			</a>
		</div>
	</div>
	<div class="portlet-body form">
		<!-- 表单内容 -->
		<form action="#" class="horizontal-form" method="post" id="reconciliation_statement_search_form" onsubmit="">
			<div class="form-body">
				<div class="row">
					<div class="col-sm-4">
						<div class="form-group">
							<label class="control-label">外部订单号：</label>
							<input type="text" name="order_sn" class="form-control" placeholder="请输入">
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<label class="control-label">渠道：</label>
							<select  class="form-control" tabindex="1"  name="channel_id">
							<option value=""></option>
							<%foreach from=$sales_channels_idData key=k item=t%>
								<option value="<%$k%>"><%$t%></option>
							<%/foreach%>
							</select>
						</div>
					</div>


				</div>
			</div>
			<!-- 搜索按钮 -->
			<div class="form-actions fluid">
				<div class="col-md-offset-3 col-md-9">
					<button type="reset" class="btn default">重置</button>
					<button type="submit" class="btn green"><i class="fa fa-check"></i> 搜索</button>
				</div>
			</div>
		</form>
		<!-- END FORM-->
	</div>
</div>

<div class="portlet box blue">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>BCC对帐单列表
		</div>
		<div class="tools">
			<a href="javascript:;" class="collapse">
			</a>
		</div>
	</div>

	<div class="portlet-body">
	<!-- 工具栏 -->
		<div class="table-toolbar">
		<%$bar%>
		</div>
		<!-- 表格1 -->
		<div class="flip-scroll" id="reconciliation_statement_list">
		</div>
		<div class="clear"></div>
	</div>
</div>
<script type="text/javascript">
<!--
	<%include file="js/reconciliation_statement_list.js"%>
//-->
</script>